[2011-04-14 10:07] vithar opened #1 "bem create level -t css blocks: Cannot find module 'bem/lib/techs/default'"
/Users/vitaly/sites/project# bem create level -t css blocks

node.js:134
        throw e; // process.nextTick error, or 'error' event on first tick
        ^
Error: Cannot find module 'bem/lib/techs/default'
    at Function._resolveFilename (module.js:320:11)
    at Function._load (module.js:266:25)
    at require (module.js:348:19)
    at new <anonymous> (/usr/local/lib/node/.npm/bem/0.0.6/packag

[2011-04-14 15:14] arikon commented on #1
Покажи npm --version

[2011-04-14 15:20] vithar commented on #1
npm -v
0.3.18

[2011-04-14 15:30] arikon commented on #1
У тебя что-то не так с локальной конфигурацией.
У меня ровно та же команда работает: bem create level -t css blocks
Создаёт blocks/.bem/level.js
Версии софта у меня те же.

Начни с того, что переставь npm в свою хомку, не пользуясь sudo. Потом этим новым npm из своей хомки поставь туда же bem: npm install bem

[2011-04-14 15:30] #1 closed, assigned to nobody

[2011-04-14 15:42] vithar commented on #1
Может быть дело в версии node?

node --version
v0.4.5

arikon
reply@reply.github.com
писал(а) в своём письме Thu, 14 Apr 2011 18:30:32 +0300:

##

the end

[2011-07-20 10:53] mishanga opened #3 "Feature request: bem create --force param"
%.html: %.bemhtml.js %.css %.js
        $(call BEM_CREATE,bem-bl/blocks-desktop/i-bem/bem/techs/html.js)

bem create выдаёт ошибку "File already exists". Спасает "rm $@" в мейк-файле. Но удаление — плохая практика, т.к. новый файл может не собраться.
Хорошо бы иметь ключик --force (-f) для принудительного перезаписывания файла цели в случае успешной генерации.

[2011-07-20 12:54] varya commented on #3
Хорошо, сделаем.

[2011-08-01 12:39] varya opened #5 "Update bem package with .ie.css tech"
Sergey, could you please release new version of bem npm package with ie.css tech I have done right now. I will announce it in out Yarushka club with an example in bem-bl-test project which I have already done too.
Thank you!

[2011-08-01 14:20] #5 closed, assigned to nobody

[2011-08-01 14:20] arikon commented on #5
0.0.10

[2011-08-01 15:01] varya opened #6 "ie.css tech has to include non-ie file first"
Example:

@import url(index.css);
@import url(../../blocks/i-global/i-global.ie.css);
@import url(../../blocks/i-global/_type/i-global_type_reset.ie.css);
@import url(../../blocks/i-global/_type/i-global_type_simple.ie.css);
@import url(../../blocks/b-head-tabs/b-head-tabs.ie.css);

instead of:

@import url(../../blocks/i-global/i-global.ie.css);
@import url(../../blocks/i-global/_type/i-global_ty

[2011-08-01 15:02] varya commented on #6
How can I  change exports.Tech.prototype.bemBuild from my current tech?

[2011-08-09 11:35] narqo opened #9 "[feature] Создавать недостающие уровни для `bem create`"
`bem create block -l level block` блок не создастся если уровня `level` не существует. Надо либо создавать недостающие уровни/блоки/элементы автоматом, либо ввести ключ (-p, --parents) по аналогии с `mkdir -p`

[2011-08-09 11:39] narqo opened #10 "[bug] `bem create level` TypeError: Cannot call method 'shift' of undefined"
Пытаюсь создать уровень переопределения с точкой в имени: `bem create level level.blocks`. Получаю

[code]

Если передать ключ `-C ./`то уровень создается.

[2011-08-09 11:40] narqo commented on #10
Обернуть имя уровня в кавычки не помогает.

[2011-08-18 18:37] pavelpower opened #11 "Ошибка в синтаксисе bem-tools /lib/level.js"
в объявлении myPath внутри библиотеки bem-tools / lib / level.js
при объявлении переменных закаралась ошибка в виде точки  с запятой вместо просто запятой

[2011-08-18 19:01] varya commented on #11
Thank you! I have done this pull request https://github.com/bem/bem-tools/pull/12

[2011-08-18 19:01] #11 closed, assigned to nobody

[2011-09-14 09:25] #9 closed, assigned to nobody

[2011-09-14 14:12] arikon opened #14 "Fix js templates"
name: -> block:

Remove "require BEM" in JSdoc

[2011-09-14 14:21] #14 closed, assigned to nobody

[2011-10-28 14:29] mishanga opened #15 "'bem decl merge' don't work with decls in 'export.deps' format"
'bem decl subtract' generates output in 'export.deps' format and 'bem decl merge' can't merge it

[2011-10-28 15:44] #15 closed, assigned to nobody

[2011-10-30 19:50] arikon commented on #3
Сделано в версии 0.1.0

[2011-10-30 19:50] #3 closed, assigned to nobody

[2011-10-30 19:53] arikon commented on #6
It is still actual?

[2011-10-30 19:54] arikon commented on #10
В версии 0.1.0 не воспроизводится

[2011-10-30 19:54] #10 closed, assigned to nobody

[2011-10-31 06:58] varya commented on #6
I have already done it.

Sent from my iPhone

On 30.10.2011, at 22:53, Sergey Belov reply@reply.github.com wrote:

[2011-11-08 20:38] indutny opened #16 "bemdecl.js is creating incorrect path to bemjson.js file"
nt

[2011-11-19 20:03] vitaliyzolotoy opened #17 "Проблема с bem build"
Беру тестовый проект отсюда - https://github.com/bem/bem-bl-test
Во время сборки вылетает ошибка:

/Users/vizo/Sites/test make
bem create block -l pages -T bemdecl.js client
bem build -l bem-bl/blocks-common/ -l bem-bl/blocks-desktop/ -l blocks/ -l pages/client/blocks/ -d pages/client/client.bemdecl.js -t deps.js -o pages/client -n client
bem build -l bem-bl/blocks-common/ -l bem-bl/blocks-desktop

[2011-11-19 21:26] dmage opened #18 "После make -B в bem-bl-test пустые файлы"
Играюсь с БЭМ, сегодня сделал в проекте make -B и что-то пошло не так.
Раньше лечилось обновлением всего связанного с БЭМ. В этот раз не полечилось.

Удалил все что было, поставил обратно. Все равно не полечилось.
После 1-й установки оно поругалось
error: TypeError: Object #<Object> has no method 'parse'
После npm update оно перестало ругаться, но результирующие файлы пустые.

Куда копать?
Ниже ло

[2011-11-21 12:38] varya commented on #18
B bem-tools недавно был рефакторинг, который забыли учесть в проекте bem-bl-test. Сейчас я поправила, если апнуться, должно работать.

[2011-11-21 12:38] #18 closed, assigned to nobody

[2011-11-23 08:01] veged commented on #18
у нас есть ошибка в bem-tools, фикс уже сделан и в самое ближайшее время мы зарелизим новую версию в npm

##

Сергей Бережной

On воскресенье, 20 ноября 2011 г. at 1:26, dmage wrote:

[2011-11-23 08:05] veged commented on #17
Проблема из-за отсутствия пути куда npm ставит модули в переменной среды NODE_PATH. Узнать этот путь можно через `npm root` после этого добавить куда-нить в .bashrc "export NODE_PATH=$NODE_PATH:/путь" (только вместо "/путь" правильный путь).

##

Сергей Бережной
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On воскресенье, 20 ноября 2011 г. at 0:04, zolotoy wrote:

[2011-11-23 21:04] vitaliyzolotoy commented on #17
Теперь другая ошибка.

/Users/vizo/Sites/test make
bem build -l bem-bl/blocks-common/ -l bem-bl/blocks-desktop/ -l blocks/ -l pages/client/blocks/ -d pages/client/client.deps.js -t bem-bl/blocks-common/i-bem/bem/techs/bemhtml.js -o pages/client -n client
error: TypeError: Cannot read property 'StringBuffer' of undefined
TypeError: Cannot read property 'StringBuffer' of undefined
    at Object.<ano

[2011-11-24 10:30] banzalik opened #19 "The "sys" module is now called "util""
https://github.com/joyent/node/blob/master/lib/sys.js
Похоже, модуль sys переименовали в util - https://github.com/joyent/node/blob/master/lib/util.js
Сейчас выскакивают ворнинги при работе с bem tools.
node -v
v0.6.2
необходимо
require('sys')
заменить на
require ('util')

[2011-11-24 12:29] banzalik opened #20 "Создание блока в определённой технологии"
Хочется, находясь внутри папки блока иметь возможность создать файл-технологии
например
`/project/my-level/b-my-test bem create block -T css`
создаст файл /project/my-level/b-my-test/b-my-test.css

[2011-11-24 12:32] banzalik commented on #20
это-же касается модификаторов и элементов блока

[2011-11-24 14:42] arikon commented on #19
Это уже сделано, но не выкачено.

[2011-11-24 14:42] #19 closed, assigned to nobody

[2011-11-24 14:43] arikon commented on #17
Это уже проблема конкретно bem-bl, которую @indutny уже должен был починить.

[2011-11-24 14:43] #17 closed, assigned to nobody

[2011-11-24 14:44] #16 closed, assigned to nobody

[2011-11-24 14:45] arikon commented on #6
Close it  then.

[2011-11-24 14:45] #6 closed, assigned to nobody

[2011-11-29 15:06] banzalik opened #21 "Форматирование результирующего HTML"
Сейчас выводимый html файл не содержит форматирования.
Хочется иметь возможность получать "красивый" html.
Необходимо для удобного распиливая html на куски, и нормального diffa.

[2011-11-29 15:23] banzalik opened #22 "Комментирование html кода средствами bemjson."
Хочется иметь в bemjson встроенную поддержку комментирования блоков.
например

[code]

будет развариваться в
&lt;!-- start b-test --&gt;
&lt;div class='b-test'&gt;
hello
&lt;/div&gt;
&lt;!-- end b-test --&gt;

[2011-11-29 19:55] vithar commented on #21
Красивый HTML можно получить, прогнав через любой внешний форматтер, например, tidy.

29 нояб. 2011, в 17:06, banzalik reply@reply.github.com написал(а):

[2011-11-30 07:34] veged commented on #22
а `class="..."` не достаточно? зачем отдельно комментарии?

[2011-11-30 07:40] veged commented on #21
с форматированием есть небольшие концептуальные проблемы -- строго говоря, в bemhtml шаблонах может содержаться html-строка целиком и её никак не отформатировать

можно добавить форматирование для тех тегов, которые выводятся через базовые шаблоны -- но правильнее, всё-таки, постпроцессить уже построенный html (возможно придётся написать свой преттипринтер, если tidy не учитывает значимые пробельн

[2011-11-30 12:41] banzalik commented on #22
Если использовать bem не как платформу, а как средство для генерации статических html файлов, то хочется уметь обрамлять ключевые блоки в подобные комментарии, для большего удобства их дальнейшего распиливания на шаблоны.
Т.е когда процесс шаблонизации не зона ответственности верстальщика.
Это некий, дополнительный, уровень микродокументирования кода. Я таким часто пользовался, когда верстал stati

[2011-11-30 13:31] veged commented on #22
может лучше тогда сделать специальный блок i-info, в который заварачивать нужные секции? а в шаблонах для i-info можно будет написать любое обрамление

[2011-11-30 13:35] banzalik commented on #22
Да, это как вариант.
Но это усложняет json дерево, которое в данном случаи пишется руками.

[2011-11-30 13:43] banzalik commented on #22
А если подойти к вопросу с другой стороны?
Можно ли добавить возможность делать глобальные обработчики атрибутов блоков?
Т.е давать возможность писать шаблон, который будет искать определенный атрибут у всех блоков и что-то с ними делать.

[2011-12-07 08:04] vithar opened #24 "Warnings during installation"
npm -g install bem

npm WARN q@0.7.2 package.json: bugs['web'] should probably be bugs['url']
npm WARN event-queue@0.1.0 package.json: bugs['web'] should probably be bugs['url']
/usr/local/bin/bem -> /usr/local/lib/node_modules/bem/bin/bem
bem@0.1.4 /usr/local/lib/node_modules/bem
├── inherit@1.0.0
├── coa@0.3.1
└── q@0.7.2

[2011-12-07 08:05] vithar opened #25 "The "sys" module is now called "util". It should have a similar interface."
bem create level qqq
The "sys" module is now called "util". It should have a similar interface.

Please, change the code to avoid this message.

[2011-12-07 08:15] vithar opened #26 "No manual entry for bem"
Не хватает мана для bem-tools, в котором было бы описано всё по использованию. Описание сущностей и как с ними работать.

[2011-12-14 12:22] arikon commented on #22
Да, можно написать шаблон с кастомным предикатом по моде default.

[2011-12-24 19:10] zemd opened #27 "Incorrect handling of paths on windows"
Добрый день, первый раз сталкиваюсь с nodejs поэтому могу что-то не правильно делать.

Поставил node.exe версии 0.6.6 на windows 7 x64, пользуюсь ryppi пакет менеджером. Тестовые проекты для nodejs работают.

Установил bem. Но при обращении к утилите - резальтатов никаких не даёт. Опытным путём (console.log) - выяснил что методы .act() не вызываются никогда.

к примеру в файле bem/lib/commands/cre

[2011-12-25 07:56] zemd commented on #27
еще можно дополнить - поставл npm 1.1.0-beta-7 (думал может его созданные cmd файлы мне помогут ) - но не помогло. запустил git bash - аналогичная ситуация - bem запускается, но ничего не делает.

[2011-12-25 09:58] zemd commented on #27
поразбирался еще немного и нашел ошибку - в функции exports.findLevel файла bem/lib/util.js

логика такая:
1. exports.findLevel (E:\dev\nodejs) -- вызывается с параметром process.cwd()
2. функция isLevel возвращает false т.к. не находит .bem/level.js
3. exports.findLevel (E:\dev)  -- PATH.dirname(E:\dev\nodejs) = E:\dev
4. тоже повторяется что и в пункте 2
5. exports.findLevel (E:) -- PATH.dirname

[2011-12-29 11:08] tttptd opened #28 "Под Windows 7 x64 и XP x86 не работает bem-tools"
C:\usr\nodejs>bem
C:\usr\nodejs>bem create block b-my-block
C:\usr\nodejs>dir

 Directory of C:\usr\nodejs

29.12.2011  13:58    <DIR>          .
29.12.2011  13:58    <DIR>          ..
29.12.2011  13:58               199 bem.cmd
29.12.2011  13:55         5 030 248 node.exe
29.12.2011  13:56        15 698 944 node.pdb
29.12.2011  13:58    <DIR>          node_modules
16.12.2011  18:00

[2011-12-29 14:13] tttptd commented on #27
Спасибо, мне помогло.
Вроде бы только строка 138.

[2011-12-29 14:14] tttptd commented on #28
Оказывается, та же проблема что в #27.

[2012-01-03 09:02] #28 closed, assigned to nobody

[2012-01-17 17:47] #27 closed, assigned to nobody

[2012-01-17 17:47] arikon commented on #27
Will be in next release

[2012-01-17 17:48] arikon commented on #24
This is not `bem` warning, but npm warning about `q` and `event-queue` packages

[2012-01-17 17:48] #24 closed, assigned to nobody

[2012-01-17 17:49] arikon commented on #25
Already fixed

[2012-01-17 17:49] #25 closed, assigned to nobody

[2012-01-17 17:52] arikon commented on #21
@banzalik, попробуй tidy и напиши, устраивает ли результат?

[2012-01-24 16:40] banzalik commented on #22
реализовал у себя на проекте

[2012-01-24 16:40] #22 closed, assigned to nobody

[2012-01-30 15:51] idmytro commented on #20
актуально даже очень-очень

есть вариант bem create block b-my-test -l ../ -T css

если внутри папки созданы какие-либо файлы автокомплит бравенько это покажет, остается только удалить расширение файла (либо точку если фалов 1+)

дописал себе alias bct='bem create block -l ../ -T '

[2012-02-01 14:49] #21 closed, assigned to nobody

[2012-02-06 20:09] zemd opened #33 "пути GNUMakefile для windows"
в файле utils.js есть функция:

exports.isPath = function(str) {
    return str.indexOf(PATH.dirSep) !== -1;
};

Она определяет является ли путём строка. Так вот в windows окружении PATH.dirSep == '\' , а GNUMakefile все пути заданы с косой чертой '/' и при сборке выскакивают ошибки о не найденых файлах и т.п.

Принимая в качестве разделителя косую черту nodejs нормально её интерпретирует и в винд

[2012-02-06 23:01] veged commented on #33
более-менее нормальная кроссплатформенность nodejs началась только с 0.6.x -- поэтому мы пока не успели заняться полной поддержкой Windows в bem-tools (строго говоря, мы ПОКА не гарантируем работу на Windows, оно иногда "случайно" само работает)

спасибо за репорт -- постараемся его учесть

[2012-02-07 15:41] narqo opened #34 "Передавать кастомные параметры в технологию"
Хочется иметь возможность передавать дополнительные параметры в технологии из API (`create/build`).
Например:

[code]

[2012-02-07 19:04] narqo opened #35 "Не устанавливается контекст технологии для create.elem/create.mod"
Для комманд `bem.create.elem` и `bem.create.mod` не устанавливается контекст технологии `Tech.setContext(context)`. Соответственно вызов `this.getContext()` из технологии возвращает `undefined`;

[2012-02-10 15:20] #35 closed, assigned to nobody

[2012-03-03 11:52] arikon opened #38 "Write docs for .bem/level.js config"

[2012-03-10 09:01] zemd commented on #33
решение наверное очень простое в таких случаях - функции PATH.normalize и PATH.resolve достаточно, чтобы забыть о том в какой среде запускается код и не обращать внимание на то с каким слешем поступили на вход пути.

как вариант эта функция может быть написана как
PATH.normalize(str).indexOf(PATH.dirSep) !== -1

[2012-03-11 11:34] pavelpower opened #40 "Ошибка при сборке deps файла."
Симптомы:

Блок А имеет элемент А.а.

Блок А подключен к блоку Б и блоку В.

Блок Б подключен к блоку Г, который подключен к блоку В.

После сборки деклорация об элемент A.а в deps-фале отсутствует, соответственно и в сборке.

Если отсоединить блок А от блока Б или блока В и оставить только в одном из них. То декларация элемента А.а появляется в deps-файле и в сборке.

Все колдовство происходило с

[2012-03-11 11:55] veged commented on #40
можешь показать более конкретный листинг файлов/каталогов и какую именно команду ты запускаешь?

[2012-03-11 15:53] pavelpower commented on #40
вот
https://github.com/pavel-power/bemtest/

воспроизводится 100%

смотри D.deps.js

[2012-03-14 13:13] banzalik opened #43 "Пересмотр сборки ie.css технологии"
Сейчас ie.css технология собирается так:
[code]
Есть мнение, что правильней собирать эту технологию в таком виде:
[code]

ie.css файлы должны подключаются там, где объявлены, а не в конце документа, как это происходит сейчас

[2012-03-14 14:16] varya commented on #43
Да, предложение дельное.

[2012-03-14 14:23] veged commented on #43
Саша, можешь написать, чем плох текущий способ и к каким проблемам он приводит? Т.е. я понимаю, что это в теории не очень безопасно, но вроде как на практике никаких прецедентов с ошибками небыло.

[2012-03-14 15:09] banzalik commented on #43
Если смотреть в разрезе ie.css технологии, то с ним проблем не возникает. За исключением того, что ie.css правила имеют больший вес, т.к. находятся в конце документа.
У меня проблема возникла на этапе создания ie.styl технологии.
Я взял в качестве базовой технологии ie.css и допиливал под себя.
Но, как оказалось, текущая особенность генерации ie.css не подходит для технологий вроде styl (возможно,

[2012-03-14 15:54] veged commented on #43
может тогда реализовать нужное поведение в `styl` и брать его за основу дальше в `less`, `sass` и `scss`, а текущую реализацию `ie.css` не трогать (без явной необходимости)?

[2012-03-14 16:03] banzalik commented on #43
Можно и так.
Но,  правильным кажется способ, в котором поведение родственных технологий `ie.*`  будет одинаковым. Т.е переделать `ie.css` и его использовать в качестве базовой технологии.

[2012-03-14 16:33] arikon commented on #33
@hunterman можешь проверить? По рукой сейчас нет машины с windows.

[2012-03-14 19:11] arikon opened #45 "bem server: deal with require() caching of loaded modules"
The problem is that `require()` caches loaded modules, so when we need to reload changes `make.js` or something we'll get a link to the obsolete cached copy of new and not a new version from disk.

There are some places in code that need to be fixed.

[2012-03-14 19:22] arikon opened #46 "bem server: ability to configure and fine tune of build rules"
We need an ability to configure (override some points and replace whole logic when needed) and fine tune of default build rules.

Proposed solution.

We add an ability for user to specify his own rules in `.bem/make.js` for the project (starting build arch) and its levels (blocks and bundles/pages) and in `path/to/block-or-bundle/block-or-bundle.make.js` for the block or bundle. The result of `req

[2012-03-14 19:25] arikon opened #47 "bem server: Incapsulate all knowledge of node into one node class"
We need to incapsulate all the knowledge of the build process (build rules AND dependencies) in a single node class.

It is not true for some node classes for now. For example, `BundleNode` knows about deps of each builded tech bundle file.

[2012-03-15 04:56] zemd commented on #33
//
//exports.isPath = function(str) {
//  return PATH.normalize(str).indexOf(PATH.dirSep) !== -1;
//};
require('./util').isPath('C:/path/') ? console.log('YES') : console.log('NO');

//
//exports.isPath = function(str) {
// return str.indexOf(PATH.dirSep) !== -1;
//};
require('./util').isPath('C:/path/') ? console.log('YES') : console.log('NO');

[2012-03-15 10:14] #33 closed, assigned to nobody

[2012-03-15 20:52] arikon opened #48 "bem server: Initialize block library targets"
Read block libraries config from `.bem/lib.js`, generate target for each library.

Config can be like this:

[code]

[2012-03-15 21:00] arikon opened #49 "bem server: Initialize bundle level targets"
Read config from `.bem/<something>.js` (`.bem/levels.js`?), look for function-getter or glob variable, generate target for each bundle level present.

Config could be like this:

[code]

[2012-03-15 21:03] arikon opened #50 "bem server: Node to build blocks level"
Node class to encapsulate build logic of blocks level (see `BundlesLevelNode` as an example)

[2012-03-15 21:05] arikon opened #51 "bem server: Node to build single block"
Create node class to build single block. `BundleNode` could be used as a reference.

[2012-03-15 21:06] arikon opened #52 "Use the same build logic within libraries as with project"
So it would be possible to process the libraries blocks etc.

[2012-03-15 21:08] arikon opened #53 "bem server: Think of moving `defaultArch` logic to the separate node"
The initial build arch could then be:

[code]

[2012-03-16 10:11] arikon opened #54 "bem server: Run build process in separate fork"
`bem server` runs master process that will watch fs changes and restart child fork as needed. All build logic will be run in a separate (single) fork.

[2012-03-16 22:13] scf2k commented on #48
665709777f6d09973c28f86ce1bfb70bcef2ba0a

[2012-03-20 10:13] arikon commented on #54
Need to postpone this task until #46 will be ready.

[2012-03-20 10:20] arikon commented on #52
Blocked by #46

[2012-03-20 10:28] arikon commented on #46
New proposal.

Configuration must be declared only in the single project-level config (`.bem/make.js`) in the form of calling `MAKE.decl('node-type', {})`

[code]

[2012-03-21 13:54] arikon commented on #43
Что делаем с этой задачей?

[2012-03-21 14:09] arikon commented on #45
Use `delete require.cache[modulePath];`

[2012-03-21 14:13] arikon commented on #45
We can make decorator in utils and use it like:

[code]

[2012-03-21 14:51] veged commented on #43
я предлагаю не трогать `ie.css` (как минимум в первом приближении) и реализовать нужное базовое поведение в `styl`, `less` и `sass`

Саша, если тебе нужна помощь с этим -- пиши

[2012-03-21 14:51] #43 closed, assigned to nobody

[2012-03-21 15:33] banzalik commented on #43
https://github.com/bem/bem-tools/pull/56

[2012-03-22 10:22] #46 closed, assigned to nobody

[2012-03-22 10:22] #48 closed, assigned to nobody

[2012-03-22 10:22] #49 closed, assigned to nobody

[2012-03-22 10:23] #50 closed, assigned to nobody

[2012-03-22 10:23] #51 closed, assigned to nobody

[2012-03-22 11:28] #45 closed, assigned to nobody

[2012-03-22 17:57] arikon opened #58 "Write docs for .bem/make.js config"

[2012-03-22 17:58] arikon opened #59 "Write jsdoc for all node classes"

[2012-03-26 15:01] banzalik opened #60 "Оповещение браузера об изменениях на файловой системе"
Если использовать WebSocket (и его аналоги для старых браузеров), то при поднятии bem serverа, можно инклудить на страницу легкий js, который будет подключаться к серверу и ждать от него сообщений о том, что файл технологии обновился и то, что следует обновить страницу или этот файл.
Тогда получится обратный процесс, когда мы меняем что-то на файловой системе, а bem server производит автоматическу

[2012-03-26 15:05] vithar commented on #60
Приходи ко мне в кабинет, покажу над чем я сейчас активно думаю.

[2012-03-26 15:06] dfilatov commented on #60
Я думаю принудительное обновление страницы нельзя делать, а вот делай нотифай что исходники обновились -- можно.

[2012-03-28 12:52] afelix opened #62 "bem server: 404 error in case of "request to build absent node""
1. Клонировать https://github.com/bem/bem-bl-test.
2. Запустить bem server в корне.
3. В браузере запросить http://localhost:8080/pages/example/example.html

Результат:
1. В браузере `HTTP error 404`.
2. В консоли сервера (реальные абсолютные пути заменил на `fake`):

[code]

[2012-03-28 12:56] arikon commented on #62
Сломалось где-то в районе `BundlesLevelNode`, я думаю.

[2012-03-28 12:56] scf2k opened #63 "Implement arch invalidation mechanism in the bem server"
Arch should be built on the first request. The requests coming shortly after the first one should be completed using the existing arch. An invalidation timeout should be defined which sets the time during which the arch is considered being valid. Requests coming during the timout will use existing arch, every such request resets the timeout. When timeout is completed the arch becomes invalid and n

[2012-03-28 13:12] veged commented on #63
Почему инвалидация не получается просто по построению? Вопрос ведь сводится не к инвалидации всей архитектуры, а к экономии на перевычисление некоторых целей. Например, мы можем считать, что делать апдейт из репозитория чаще чем раз в сколько то времени нет смысла. Т.е. фактически если что-то и выражается в терминах таймаутов, то это не вопрос перестроения архитектуры (его и нет как такового центр

[2012-03-28 13:29] scf2k commented on #63
Мы решили сделать так как временное решение (когда сделаем и попробуем на реальных проектах - будет видно что делать дальше) для случаев, когда запрашивается, например, страница:
- она собирается, отдается клиенту
- вслед за ней клиент запрашивает сопутствующие файлы
- т.к. запросы пришли вслед за страницей, мы считаем что граф валиден для построеня целей. Если этого не делать и на каждый запрос п

[2012-03-28 14:00] arikon commented on #63
@veged Это не про инвалидацию нод, это про инвалидацию архитектуры сборки.

У нас сейчас нет идей, как сделать её правильной: на каждый запрос (по депендам) — дорого + сложная реализация + возможные конфликты, когда собираем несколько нод одновременно. В качестве иллюстрации смотри схему: https://github.com/bem/bem-bl-test/raw/server/doc/build-graph.png

Решение, которое описал Вова, мы придумали,

[2012-03-29 13:53] afelix commented on #62
Не баг, а фича. Надо чекаутить бранч `server`.

[2012-03-29 13:53] #62 closed, assigned to afelix

[2012-03-29 14:41] arikon commented on #63
Поговорили ещё раз. Есть предложение не делать инвалидацию с таймаутом внешним процессом по отношению к процессу сборки.

А делать перестройку на уровне нод, но с таймаутом, чтобы не было оверхеда.
Осталось ещё раз внимательно подумать, будут ли с этим не решаемые проблемы.

[2012-03-29 15:02] afelix commented on #40
На bem версии 0.3.2 не могу воспроизвести ошибку. Элемент в декларацию попадает.

[2012-03-29 15:02] #40 closed, assigned to nobody

[2012-03-29 15:45] pavelpower commented on #40
а ты форкал проектик?
у меня 0.3.2
воспроизводится!

Только заметь, что там надо после форка, разкоменитировать в deps подключение элемента

[2012-03-29 15:51] pavelpower commented on #40
Рано закрыл!

[2012-03-29 15:59] arikon commented on #40
Я тоже проверял, зависимость от A в D.deps.js раскомментировал. Не воспроизводится, потому и закрыли.

[2012-03-29 16:07] afelix commented on #40
Павел, будет полезно следующее: в точности опиши _все_ шаги, которые ты делаешь, чтобы воспроизвести ошибку, а также приведи два deps.js — тот, который ты считаешь ошибочным, и тот, который желаешь получить.

[2012-03-29 16:27] pavelpower commented on #40
Проверил еще разок, теперь не воспроизводится. Точно.

[2012-03-29 17:49] arikon commented on #40
Ура, разобрались! Павел, спасибо за усердие ;)

[2012-03-30 08:55] arikon commented on #53
В `defaultArch` нужно оставить только создание базового графа:

[code]

Создание остальных нод нужно вынести в `RootNode*` (условное название)

[2012-03-30 12:10] narqo opened #64 "getBuildResults() для legacy-технологий"
Нет возможности получить результат билда технологии написанной в legacy-стиле. Это бывает нужно, если новая технология содержит (доопределяет) контент старой технологии.

[2012-03-30 12:18] arikon commented on #64
Чтобы это стало возможным, все legacy технологии придётся переписать.
Проще их переписать на новое API.

Когда возникает такая потребность — нужно переписать эту конкретную технологию на новое API.

[2012-03-30 12:18] #64 closed, assigned to nobody

[2012-03-30 12:31] arikon commented on #64
Любое изменение в старом коде, который мы не хотим поддерживать — это технический долг, который кому-то придётся отдавать позже. Я считаю, что лучше сделать усилие на переписывание сейчас, благо модули технологий у нас не очень большие.

[2012-03-30 16:31] arikon opened #66 "Implement arch actualization mechanizm in node classes"
Ноды (`LevelNode`, `BundlesLevelNode`, `BundleNode`) должны актуализировать состояние `arch` во время своего выполнения. Сейчас эти ноды достраивают граф ровно один раз  при первом выполнении.

В нодах должна быть реализована защита от частой перестройки графа (для начала, не чаще чем раз в 5 секунд).
В будущем механизм контроля будет отдан модулю, мониторящему изменения на файловой системе.

[2012-03-30 16:32] arikon commented on #63
See bem/bem-tools#66

[2012-03-30 16:32] #63 closed, assigned to nobody

[2012-04-03 17:31] arikon commented on #34
`args` — это позиционные аргументы, нужно делать по-другому (я уже занялся)

[2012-04-03 17:31] #34 closed, assigned to nobody

[2012-04-03 21:38] arikon opened #67 "Custom options for bem create commands using API"

[2012-04-03 22:00] #67 closed, assigned to arikon

[2012-04-04 17:05] arikon opened #68 "Add Content-Type header support to bem server"

[2012-04-05 10:17] #68 closed, assigned to arikon

[2012-04-05 12:11] #47 closed, assigned to nobody

[2012-04-06 15:30] afelix opened #70 "Пустой runner приводит к падению bem"
Похоже, последние коммиты bem / apw что-то крепко сломали. Поставленный начисто bem-tools/server падает.
1) `bem server` падает по `TypeError: Object #<Object> has no method 'findNode, at /../bem-tools/lib/server.js:76:23`
2) `bem make` падает по `TypeError: Object #<Object> has no method 'findAndProcess, at /../bem-tools/lib/commands/make.js:56:22`
Везде гуляет пустой (`{}`) runner.

[2012-04-06 15:42] arikon commented on #70
Да, нужно поправить `bem-tools` в ветке `server` на правильное использование нового API `apw`.

Если `APW = require('apw')`, то `APW.Runner()` нужно заменить на `APW()`.

[2012-04-08 18:17] #70 closed, assigned to afelix

[2012-04-08 18:25] afelix opened #71 "bem server: silent errors in blocks"
В нодах проглатываются ошибки, после чего сборка не работает, а в консоли (как make, так и server стектрейсов и вообще сообщений об ошибках нет). Один из примеров: в тело конструктора BundleNode добавить `xxx.yyy;` и запустить `bem make pages/example/example.html` на bem-bl-test.
Результат:

[code]

[2012-04-09 13:55] scf2k opened #72 "Implement SVN library node"

[2012-04-09 22:04] #71 closed, assigned to nobody

[2012-04-10 13:25] afelix opened #73 "bem server: hangs during build"
Поставить свежий bem server.
Поставить bem-bl-test.
Запустить `bem server` в `bem-bl-test`.
Вызвать в браузере сборку http://localhost:8080/pages/example/example.html
Сборка доходит до

[code]

после чего виснет.

[2012-04-10 16:25] arikon commented on #73
Как долго ты ждал?
Она не виснет, скорее всего, а просто долго работает на этапе чекаута из git.

10.04.2012, 16:25, "Sergey Kryzhanovsky" reply@reply.github.com:

##

Отправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail

[2012-04-10 16:42] afelix commented on #73
Пару-тройку минут. Это же сборка через `bem make` выполняется несколько секунд.

[2012-04-10 18:24] arikon commented on #73
Есть идеи, какой коммит это сломал?
Мой вчерашний фикс про баг в bem server ничего не ломал, я специально проверял.

[2012-04-11 09:17] scf2k opened #74 "`bem make -m clean` fails if there is a tech module used located in the library and library dir is deleted from fs"
`bem make -m clean` fails in such a case:
1. make bem-bl-test: `cd bem-bl-test && bem make`
2. delete bem-bl folder: `rm -rf bem-bl`
3. run `bem make -m clean`

[2012-04-12 14:19] arikon opened #77 "borschik node for js and css files"

[2012-04-13 11:29] afelix commented on #73
Закрываю. Проблема (во всяком случае, её часть) решена вот тут: https://github.com/bem/apw/issues/22

[2012-04-13 11:29] #73 closed, assigned to nobody

[2012-04-13 13:12] veged opened #79 "deps: Error in bem decl subtract"
Any call to `subtract` fails:

[code]

because of subtracting "root" item with key `''`.

[2012-04-13 13:16] #79 closed, assigned to veged

[2012-04-13 16:22] scf2k opened #80 "bemhtml.js.meta.js is always valid and empty"

[2012-04-13 16:23] scf2k opened #81 "Implement testing platform and the tests for bem make/server"

[2012-04-16 07:58] veged opened #82 "deps.js: Alias "elemMods" for "mods""
For unify syntax between `bemjson` and `deps.js` formats.

[2012-04-17 10:50] #80 closed, assigned to scf2k

[2012-04-17 13:56] scf2k opened #83 "Implement isValid method for build node which should comapre the modified date of self's target with meta.js entries"

[2012-04-17 13:57] #83 closed, assigned to nobody

[2012-04-19 16:45] arikon opened #84 "Exception in deps.js"
[code]

[2012-04-23 09:20] #72 closed, assigned to scf2k

[2012-04-23 10:23] arikon opened #86 "Избавиться от строгого соглашения про маппинг имён целей в файловую структуру"
Сейчас для выполнения точечной цели, например, `pages/ex/ex.css`, мы разбиваем имя цели по `/` и выполняем все промежуточные цели для раскрытия `arch` до конечной цели. А нужно иметь возможность явно задавать правила раскрытия точечной цели через описание архитектуры сборки.

[2012-04-23 10:41] arikon opened #88 "bem server: Использовать APW через API (COA)"

[2012-04-25 21:00] scf2k opened #89 "Implement blocks levels introspection in the defaultarch"

[2012-04-25 21:02] scf2k opened #90 "Refactor defaultArch:alterArch nested calls into serial chain"

[2012-04-25 21:24] #89 closed, assigned to scf2k

[2012-04-25 21:24] #90 closed, assigned to scf2k

[2012-04-26 12:46] #77 closed, assigned to nobody

[2012-04-26 17:16] scf2k opened #92 "if buildMetaNode generates empty meta.js it doesn't get written to a file"

[2012-04-26 17:18] scf2k opened #93 "when some changes lead to bemdecl.js regeneration, its file is written even if declaration didn't change"
this leads to rebuild of all dependant nodes

[2012-04-26 17:19] arikon opened #94 "Use lodash instead of underscore"
We can use lodash instead of underscore because it is 8x faster

https://github.com/bestiejs/lodash

[2012-04-26 20:00] #92 closed, assigned to nobody

[2012-05-03 12:28] scf2k opened #95 "remove make.arch, migrate its functionality to make.decl"

[2012-05-03 15:21] afelix commented on #74
Понятно, почему падает. Это в bundle.js:

[code]

Не понять, как должно быть. Каким должно быть поведение clean, если нет файлов технологий?

[2012-05-04 11:15] afelix opened #97 "Ignored --chdir"
Игнорируется смена директории в командах типа `bem create block b-page2 -C blocks-touch -T css`.
При этом сам `-C`/`--chdir` вызывается и там же корректно вызывается `process.chdir()`, но проблема в том (кажется), что https://github.com/bem/bem-tools/blob/server/lib/level.js#L108

[code]

Вот здесь `this.dir` — это директория до chdir. Она же в итоге используется в create и т.д.

[2012-05-04 11:41] arikon commented on #97
this.dir в контексте Level — это путь до уровня переопределения. chdir же совсем про другое.

Бага здесь нет, закрывай.

04.05.2012, 14:15, "Sergey Kryzhanovsky" reply@reply.github.com:

##

Отправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail

[2012-05-04 16:15] afelix commented on #97
Ок, закрываю. Но тогда надо либо в документации что-то менять, либо не знаю. Мы с Киром `--chdir` приняли как смену рабочей директории и создание блока в ней. С точки зрения пользователя игнор в этом случае больше смахивает на багу.

[2012-05-04 16:15] #97 closed, assigned to nobody

[2012-05-04 16:24] afelix commented on #97
Про путь до уровня переопределния тоже не понял, извини. Раскрутка вызовов для приведённого выше примера:

[code]

Все эти функции оперируют `dir`, полученным от `getByObj()`.

[2012-05-05 00:08] afelix opened #98 "bem server: lock without unlock"
При непонятных обстоятельствах выполнение каких-то задач не выполняет unlock плана, потому остаются болтающиеся планы, allDone() которых возвращает false и всё подвисает.
Чтобы не было блокером, поставил костыль в APW: https://github.com/bem/apw/commit/389dc3a9ce659014549ecc176b6815662231f369
Надо довыяснить, что это за задачи.

[2012-05-07 09:05] arikon opened #99 "_*.ie.css starts to build earlier then _*.css"

[2012-05-07 09:06] arikon opened #100 "bem server: support for less"

[2012-05-07 14:14] arikon opened #101 "Integration tests for bem server command"
Для упрощения тестирования и для увеличения стабильности кода появилась необходимость в интеграционных тестах для команды bem server.

Нужен как минимум следующий набор тестов:
1. запуск сборки точечной цели про сборку html
   - пачка проверок на то, что собралось всё то, что ожидалось
2. запуск сборки точечной цели про сборку html, затем запуск двух параллельных процессов сборки про css и js
   -

[2012-05-07 14:16] arikon opened #102 "Unit tests for nodes"
Для упрощения тестирования и повышения стабильности кода (например, при рефакторингах), возникла необходимость в написании юнит тестов на отдельные классы узлов.

[2012-05-07 14:22] arikon opened #103 "Find better alternative to vows"
Нужно попробовать найти лучший фреймворк для тестирования.

У vows есть проблема в том, что он привносит новое понятие — объект тестирования (topic). Оно чаще мешает, чем помогает, при попытке написать тесты.

[2012-05-07 14:31] indutny commented on #103
Как вариант: https://github.com/visionmedia/mocha.

Пример использования:
https://github.com/indutny/node-spdy/blob/master/package.json#L27
https://github.com/indutny/node-spdy/blob/master/test/unit/parser-test.js

[2012-05-14 13:55] #95 closed, assigned to scf2k

[2012-05-14 14:09] #66 closed, assigned to nobody

[2012-05-14 14:58] afelix opened #105 "bem server: directory listing is broken"
Поставить `bem-tools` из мастера, поставить `bem-bl-test`, запустить `bem server`, с морды ткнуть в `pages` — висяк. Сборка завершается на `pages/example`, запрос pending.

[2012-05-14 15:18] #99 closed, assigned to nobody

[2012-05-16 08:39] #81 closed, assigned to nobody

[2012-05-16 08:39] arikon commented on #81
Dupe of #101

[2012-05-16 09:17] arikon commented on #105
Could not reproduce on current `server` branch

[2012-05-16 09:17] #105 closed, assigned to nobody

[2012-05-16 09:24] arikon opened #107 "bem make pages fails on bem-bl-test"
`bem make pages` with such error

[code]

The reason is `client.bemhtml.js` doesn't include base `i-bem__html.bemhtml` templates.

[2012-05-16 09:27] arikon commented on #107
Also `bem make pages/{client,example} --verbosity silly` fails with same error

[2012-05-16 09:28] dfilatov opened #108 "simple implementation for renaming bem entities"
На уровне переименования директорий и файлов, безотносительно контента.

[2012-05-16 09:30] arikon commented on #107
`bem make` also started to fail with node v0.6.18

[2012-05-16 09:52] arikon commented on #107
Semicolon!111

[2012-05-16 09:52] #107 closed, assigned to arikon

[2012-05-16 10:18] arikon commented on #108
Опишите предполагаемые варианты использования из консоли?

[2012-05-16 10:18] arikon commented on #98
Как воспроизвести?
Это `bem make` или `bem server`?

[2012-05-16 12:49] veged commented on #84
эта ошибка ещё воспроизводится?

[2012-05-16 18:27] arikon commented on #84
Лучше спросить на лего-тим ;)

[2012-05-17 12:02] arikon commented on #98
Как воспроизводить:
1. запустить `bem server` на bem-touch-bl-test
2. попросить сборку страницы
3. зависает на сборке css файлов

[2012-05-17 12:23] tadatuta opened #110 "bem make / server dosn't build bem-bl-test pages"
On clean ubuntu installation try:

[code]

console:

[code]

Open in browser http://localhost:8080/pages/example/example.html

result:

[code]

in browser:

[code]

Same result on mac and ubuntu both as host system an on virtual machine.

Also here's result of bem make:

[code]

Nothing changed on filesystem.

`rm .bem/make.js` changes nothing.

And yet Another try:

[code]

Felix says it works fo

[2012-05-17 12:25] arikon commented on #110
Show `bem --version`

[2012-05-17 15:02] scf2k opened #111 "bem make doesn't resolve paths properly if project root differs from current dir"
[code]

[2012-05-17 17:17] #93 closed, assigned to nobody

[2012-05-17 17:23] #111 closed, assigned to nobody

[2012-05-18 13:49] afelix commented on #98
Последние фиксы, видимо, выкосили эту багу, уже никак не повторяется. Закрываю по WF.

[2012-05-18 13:49] #98 closed, assigned to nobody

[2012-05-18 16:21] vithar commented on #110
I try to reproduce on clean Ubuntu 11.10.

[code]

In browser: Error 500

[2012-05-18 17:24] tadatuta commented on #110
[code]

[2012-05-18 18:43] arikon commented on #110
Make this, should work.

[code]

[2012-05-18 18:43] #110 closed, assigned to nobody

[2012-05-18 20:56] tadatuta commented on #110
i've tested on mac – server works fine! thanks!

[2012-05-18 20:59] arikon opened #113 "Do not checkout bem-bl by default"
All BEM libraries must be configured on project level.

[2012-05-21 21:19] scf2k opened #116 "make clean doesn't clean files when executed with project root argument"

[2012-05-21 21:20] #116 closed, assigned to scf2k

[2012-05-22 12:31] afelix commented on #103
Да, взяли Mocha.

[2012-05-22 12:31] #103 closed, assigned to nobody

[2012-05-22 12:47] scf2k opened #117 "migrate existing vows tests to mocha"

[2012-05-22 13:57] arikon opened #118 "Code coverage report"
Add code coverage tool for tests

[2012-05-22 15:06] tadatuta opened #119 "error while building bem-bl-test"
maxim@maxim-VirtualBox:~/progects/bem-bl$ bem server17:37:23.715 - info: bem 0.5.6
17:37:23.790 - info: Project root is '/home/maxim/progects/bem-bl'
17:37:24.622 - info: Graph:
== root
 all
   build
     bem-bl
     blocks*
       bem-bl
     pages*
       bem-bl
       blocks*
         bem-bl

17:37:24.650 - info: Server is listening on port 8080. Point your browser to http://localhost:8080/
17:

[2012-05-22 15:43] scf2k commented on #119
Во время сборки остановили и перезапустили на 7777 порту?

[2012-05-23 10:30] scf2k opened #120 "bem server does not pass simultaneous requests test failing with plan locked error"
To reproduce use server-test branch and run the tests with npm test

[2012-05-24 08:43] scf2k opened #121 "directory listing generated by bem server has wrong links if requested url doesn't end with a slash"

[2012-05-24 08:45] #121 closed, assigned to scf2k

[2012-05-24 09:33] arikon opened #122 "SvnLibraryNode: Implement switch to another branch/repo/protocol"
В ситуациях, когда библиотека уже счекаучена, и в конфиге меняют ветку, репозиторий или протокол, сейчас при запуске сборки ничего не происходит.

Нужно добавить обработку этой ситуации.

[2012-05-24 09:35] arikon opened #123 "LibraryNode: Rename treeish config param to revision for SvnLibraryNode"

[2012-05-24 11:51] #113 closed, assigned to arikon

[2012-05-24 13:57] scf2k opened #124 "make possible to build artifacts without bemjson"

[2012-05-25 08:50] scf2k opened #126 "reconsider timeouts for mocha tests"

[2012-05-28 16:39] arikon opened #127 "Add profiling to bem make"
Нужно засекать:
- время выполнения `run()` каждой цели
- время выполнения отдельных ключевых методов каждой цели
- время выполнения всей сборки

[2012-05-29 09:07] arikon opened #128 "Optimize BemBuildNode and BemBuildMetaNode"

[2012-05-29 09:25] #127 closed, assigned to arikon

[2012-05-30 08:40] scf2k commented on #128
Замена асинхронного qfs.exists() на синхронный в tech.js->filterPrefixes дало выигрыш в несколько секунд для тестового случая (общее время упало с 12 до 6-7 секунд).

Метод expandByFS() в deps.js.js занимает заметную часть времени от общего выполнения (для тестового случая около 4 секунд при вычислении search.deps.js.meta.js)

Холодная сборка:
- асинхрон 30 сек
- синхрон 22 сек

Горячая
- асинхрон

[2012-05-30 09:00] arikon opened #129 "Error when using tech from linked libraries in project bundles levels .bem/level.js"
[code]

Also we need to write a test to check this case.

[2012-05-30 14:54] arikon opened #130 "Command `bem create block b-test` in empty level dir does nothing"
We need to specify smart defaults to `defaultTechs` property of `Level` class

or

write warning message describing why command had created nothing and how to fix it (specify `-T` or `-t` opts or write `.bem/level.js` config and where to read about it).

[2012-05-30 14:55] #129 closed, assigned to nobody

[2012-05-30 15:12] artofhuman opened #132 "Проблема со сборкой"
При сборке возникает ошибка в ometajs
!!!
!!! Warning: you're using grammar compiled with previous version of ometajs. Please recompile it with the newest one
!!!

Полный лог
semen$ make
bem create block -l pages -T bemdecl.js --force index
bem build -l bem-bl/blocks-common/ -l bem-bl/blocks-desktop/ -l blocks/ -l pages/index/blocks/ -d pages/index/index.bemdecl.js -t deps.js -o pages/index -n ind

[2012-05-30 15:29] arikon commented on #132
Пока используйте xjst версии 0.2.21:

`npm install xjst@0.2.21` или `npm -g install xjst@0.2.21`

Разбираемся дальше.

[2012-05-30 21:15] arikon opened #134 "Write jsdoc for Level class"

[2012-05-30 21:18] #134 closed, assigned to arikon

[2012-05-31 14:32] scf2k opened #135 "bemhtml tech must be named bemhtml.js in the configuration files (make.js, levels)"
`bemhtml` tech must be named as `bemhtml.js` in the configuration files (`make.js`, `level.js`) to make `bem make / server` to work properly.

Using `bemhtml` name has some side effects.

This issue is about fixing it.

[2012-05-31 14:35] scf2k opened #136 "Add ability to refer nodes in the make.js without the 'Node' part"
So you can write `MAKE.decl('Bundle', ...)` or `MAKE.decl('BundleNode', ...)` and both cases would work the same way.

[2012-06-05 11:30] scf2k opened #138 "bem server does not strip query string part when accessing the files"
I've got such a CSS:

[code]

When trying to access I get such an error:

[code]

[2012-06-05 12:08] #138 closed, assigned to scf2k

[2012-06-05 15:55] #124 closed, assigned to scf2k

[2012-06-05 15:56] #120 closed, assigned to nobody

[2012-06-05 18:15] arikon opened #140 "Rewrite tests from vows to mocha"
Needed by #118

[2012-06-05 19:56] #140 closed, assigned to arikon

[2012-06-06 10:05] arikon commented on #118
There are some problems with `jscoverage`. See visionmedia/node-jscoverage#15

[2012-06-06 10:09] arikon opened #141 "Look for alternatives to jscoverage"
There are some problems with generated with `jscoverage` instrumented code. See visionmedia/node-jscoverage#15.

May be we should look for alternative to it.

There are some other tools:
- https://github.com/winsonwq/Mr.Coverage (`mocha` integration)
- https://github.com/arian/CoverJS (compatible with `jscoverage` but have problems generating instrumented files recursively)
- https://github.com/it

[2012-06-06 15:24] scf2k opened #142 "add support for csso processing"

[2012-06-06 15:26] #142 closed, assigned to scf2k

[2012-06-06 15:26] afelix opened #143 "Say something to user in case of absent tech in options and defaultTechs"
Example: `> bem create elem -b b-my-block elem` — this command does nothing without any word. It is better to say something like "Dear user, you have missed technology option".

[2012-06-06 15:34] #143 closed, assigned to nobody

[2012-06-06 16:15] afelix opened #145 "Replace "Cannot find module" exception by user friendly message"
[code]

It is better to catch such things and to say something friendly.

[2012-06-07 18:00] arikon opened #147 "Write ChangeLog for bem-tools 0.5.x"

[2012-06-09 11:33] arikon opened #149 "BundleNode: Setup BorschikNode for bemhtml.js tech"

[2012-06-09 11:35] arikon opened #150 "SvnLibraryNode: Check svn revision during isValid()"
We should check svn `revision` (if specified) during `isValid()` and return `false` if it is already the same.

[2012-06-09 11:41] #149 closed, assigned to arikon

[2012-06-09 12:44] #150 closed, assigned to arikon

[2012-06-09 12:46] veged opened #151 "Bug with --chdir for `bem create level`"
[code]

Working directory option (`-C DIR, --chdir=DIR`) must affect place where create new items. But relative paths in options (i.e.  `-l blocks/`) should be resolved from run directory.

[2012-06-10 07:20] arikon opened #152 "deps.js: Read every block deps.js file only once"
We should read every block `deps.js` file only once during `deps.js` expand.

[2012-06-10 07:22] #152 closed, assigned to arikon

[2012-06-10 08:15] arikon commented on #152
This change gives 5 seconds boost on `serp2` project: `44.393s` versus `49.358ms`

[2012-06-11 09:25] arikon opened #153 "Exception during build of .meta.js file"
Run this on `serp2` project: `bem make pages-desktop/search/search.bemhtml.js.meta.js`

[code]

[2012-06-11 12:30] scf2k opened #154 "SVN node tries to execute svn info when target directory does not exist"

[2012-06-11 12:31] #154 closed, assigned to scf2k

[2012-06-11 12:35] scf2k opened #155 "base Node class does not ouput collected logs (using this.log()) when failed"

[2012-06-11 12:36] #155 closed, assigned to scf2k

[2012-06-13 09:18] arikon commented on #153
See bem/apw#61

[2012-06-13 15:54] arikon commented on #153
Updated `apw`, it has assert now

[code]

[2012-06-13 15:56] #153 closed, assigned to arikon

[2012-06-13 16:03] arikon opened #157 "Sync mtime checks in BemBuildNode.isValid()"
See #156

[2012-06-13 16:04] arikon commented on #157
It gives ~8% gain on validity checks in some cases.

3 pages `serp2`, run of `bem make` on already built project.

Sync: `6761ms`, `6735ms`, `7396ms`, `7478ms`
Average: `7092ms`

Async: `7727ms`, `7908ms`, `8027ms`, `7663ms`
Average: `7831ms`

[2012-06-13 16:16] #157 closed, assigned to arikon

[2012-06-13 16:23] #128 closed, assigned to arikon

[2012-06-13 16:28] arikon commented on #123
It was fixed already

[2012-06-13 16:28] #123 closed, assigned to arikon

[2012-06-13 16:47] arikon commented on #151
You should use `-o`, `--output-dir` for such a case

[2012-06-13 16:48] arikon commented on #151
I'm thinking of removing `-C`, `--chdir` option at all.

[2012-06-13 16:52] arikon commented on #151
Btw it will be fixed in the next `0.5.x`

[2012-06-13 17:15] #151 closed, assigned to nobody

[2012-06-14 14:43] scf2k opened #159 "Memory leaks"
Выяснилось, что по завершении сборки остаются тысячи промисов, непопадающих под GC. При сборке 5-и страниц размер хипа около 500МБ.

https://github.com/bem/bem-tools/pull/158 значительно снижает потребление и утечку, но она все еще остается.

[2012-06-14 20:20] narqo opened #160 "Get current bem version from API call"

[2012-06-14 20:24] narqo opened #161 "Document API changes in BEM.create.{block,elem,mod}() of version 0.5.x"
В версии **0.5.x** изменились опции вызова `bem.create()` через API: вместо `levelDir`, теперь требуется передавать `level`. Надо обновить доку.

[2012-06-15 10:34] arikon opened #163 "deps.js tech: Deps are expanded twice"
[code]

[2012-06-15 10:35] arikon commented on #163
Fixing this bug should save some time on build

[2012-06-15 10:44] #163 closed, assigned to arikon

[2012-06-18 09:59] arikon opened #165 "bem make: Build bundle that is a result of merge of many bundles"

[2012-06-18 10:18] arikon opened #166 "bem server: Listen on file socket in .bem/server.sock on cmd option"

[2012-06-19 10:13] arikon opened #167 "Implement various strategies for mass IO operations"
We should keep various strategies to handle mass IO operations in critical places (`Tech.filterPrefixes()`, `Node.isValid()` and so on) and add an ability to switch between them with environment variables.

[2012-06-19 10:18] arikon opened #168 "Benchmark defer-tick in comparison with process.nextTick()"
One can install `defer-tick` with `npm install defer-tick` and add this code to `bin/bem` to profile

[code]

[2012-06-19 12:12] #167 closed, assigned to arikon

[2012-06-19 16:04] afelix commented on #141
К сожалению, в CoverJS объект статистики не совместим по структуре с тем, что отдаётся JSCoverage, потому репортер Mocha (lib/reporters/json-cov.js:100) ничего полезного из него взять не может. Тем не менее, если брать в работу эту утилиту, можно будет написать репортер под формат.

[2012-06-19 18:43] arikon commented on #141
От CoverJS мне нравится то, что он не строки считает, а отдельные выражения.
В остальном он как? Багу с рекурсивным инструментированием файлов удалось починить?

Репортер можно написать и протащить в upstream `mocha`.

[2012-06-19 19:49] arikon commented on #166
`q-http` `Server` could not listen on unix socket for now, see kriskowal/q-http#3

[2012-06-19 19:53] afelix commented on #141
Да я решил на этой баге пока не блокироваться. В наших тестах добавил в путь /lib/ и пошёл дальше гонять тулзу.
В остальном текущий статус:
- Тесты с нашей instrumented apw/lib отрабатывают без ошибок, т.е. как минимум тут явных багов тулза не делает.
- Объект статистики заполняется, полезная нам часть состоит из кода (копия оригинального до instrumented) и словарей вида {промежуток : кол-во вхожд

[2012-06-20 08:17] arikon opened #169 "GitLibraryNode: Check git version and fail on << 1.7.x"
Check git version and fail on `<< 1.7.x`

Or think about supporting more recent versions (`1.6.x`).

[2012-06-20 09:33] arikon commented on #166
Add `--socket` option to `bem server` command that launches additional `q-http` Server instance that listens on unix socket with default path `[project root]/.bem/server.sock`.
Socket path could be changed using `--socket-path` option.
Socket permissions could be changed using `--socket-mode` option.

[2012-06-20 09:40] #166 closed, assigned to arikon

[2012-06-21 12:54] mishanga opened #170 "bem decl: subtract returns empty *.deps.js file"
Если из файла deps.js вычесть более полный, который покрывает все зависимости, то в исходный файл пишется пустота вместо "exports.deps = [];"

[code]

[2012-06-21 13:19] arikon commented on #170
Версия `bem` какая?

[2012-06-21 13:20] mishanga commented on #170
0.4.2

[2012-06-21 13:21] arikon commented on #170
А в 0.5.10?

[2012-06-21 13:25] mishanga commented on #170
Воспроизводится.

[2012-07-03 12:14] afelix commented on #141
Был выбран CoverJS.

[2012-07-03 12:14] #141 closed, assigned to nobody

[2012-07-03 12:48] narqo opened #175 "Сделать sort-group движком по умолчанию"
Сейчас движком по умолчанию является `fullgen`, кажется уже можно всегда использовать `sort-group`

[2012-07-03 12:51] narqo commented on #175
Ошибся проектом: https://github.com/veged/xjst/issues/6

[2012-07-03 12:51] #175 closed, assigned to nobody

[2012-07-04 14:59] arikon opened #176 "Use bem-bl as git submodule for tests data"

[2012-07-05 16:29] narqo opened #177 "ieN генерирует дублированный @import"
Технология `ieN` генерирует файл вида

[code]

При этом `pages.css`, так же импортируется в `page.ie.css`. Из-за этого получаем дублированный импорт.

[2012-07-06 15:51] #176 closed, assigned to arikon

[2012-07-16 18:08] mokhov opened #181 "elemMods in BEM.HTML"
When I try to set elemMods to element, which is appended to page over BEM.HTML.build, result HTML doesn't have modifier. Setting just "mods" property works fine. Example
{block: 'b-blah', elem: 'ololo', elemMods: {'ololo': 'blah-blah-blah'}} // fails
{block: 'b-blah', elem: 'ololo', mods: {'ololo': 'blah-blah-blah'}} // works fine

[2012-07-17 16:15] arikon commented on #181
Move this to `bem-bl`, please

[2012-07-17 16:15] #181 closed, assigned to nobody

[2012-07-18 16:00] afelix opened #183 "README: Contribution section in english"
Please.

[2012-07-23 19:25] dmage opened #187 "Оператор || в .bemhtml"
Следующая строчка в .bemhtml

[code]

компилируется в

[code]

Возможно использовать || не совсем правильно, но тихо опускать скобки тут нельзя, лучше просто упасть на ||.

[code]

[2012-07-23 19:33] indutny commented on #187
Обнови ometajs, пожалуйста. В текущей версии должно работать (даже без скобок).

[2012-07-23 19:49] dmage commented on #187
Да, во время сборки оно ругается на ometajs, похоже не нужно было ставить ometajs рядом. Теперь не понятно что обновлять. :)

[code]

Вот список установленных пакетов (локально, так оно вызывается в GNUmakefile из bem-bl-test):

[code]

[2012-07-23 19:57] indutny commented on #187
`npm install ometajs@2.1.x` и `npm install xjst@0.2.x` должен помочь.

[2012-07-23 20:05] dmage commented on #187
`npm install ometajs@2.1.x` и `npm install xjst@0.2.21` помогли, этот момент скомпилировался правильно. Спасибо.

С другой версией xjst была ошибка:

[code]

[2012-07-23 20:05] #187 closed, assigned to nobody

[2012-07-26 16:39] #183 closed, assigned to nobody

[2012-07-26 16:43] scf2k opened #189 "Just after a request has been made to bem server it won't exit immediately on ctrl-c"

[2012-07-27 13:55] scf2k opened #190 "helper is required"
Some helper is required to avoid PATH.relative(...) call for cases like:

[code]

[2012-07-27 14:12] arikon commented on #190
Why not to use `this.getId()` instead of `this.getPath()`?

[2012-07-27 14:51] scf2k commented on #190
Не знаю как правильней. getId() возращает имя с *

[2012-07-27 15:00] arikon commented on #190
Тогда да. Надо какой-нибудь `getRelPath()` добавить.

[2012-07-30 16:24] arikon opened #191 "Change spec of CoverJS in package.json"
We can use latest `CoverJS` module from `npm` registry for now

[2012-08-01 13:34] arikon commented on #135
We need to test if it is still actual

[2012-08-01 13:36] arikon commented on #160
`require('bem').version`

[2012-08-01 13:36] #160 closed, assigned to nobody

[2012-08-01 13:36] #165 closed, assigned to nobody

[2012-08-01 13:48] arikon commented on #170
Справедливо и для `bem decl merge` двух пустых фалов, то есть баг где-то в сериализации.

[2012-08-01 16:13] #170 closed, assigned to nobody

[2012-08-01 16:24] arikon commented on #191
We should use `coverjs >= 0.0.7-alpha` when author publish it to npm registry.

[2012-08-01 16:24] #118 closed, assigned to nobody

[2012-08-01 17:39] #191 closed, assigned to arikon

[2012-08-01 21:03] #161 closed, assigned to nobody

[2012-08-01 21:03] arikon opened #192 "Document API call BEM.create()"

[2012-08-01 21:07] arikon opened #193 "Document API changes in BEM.build()"
Following params were added:
- `outputLevel`
- `block`
- `elem`
- `mod`
- `val`

[2012-08-01 21:10] arikon opened #194 "Document extensions in tech modules API"
Following properties supported:
- `baseTechName = 'tech-name'`
- `techMixin = { ... }`

[2012-08-02 14:06] scf2k commented on #189
Проблема связана с keep-alive соединениями, которые закрываются по таймауту. И server.close() не форсирует закрытия таких соединений, а ждет пока не отомрут. Пока рабочим решением является только такой хак

[code]

Он игнорирует keep-alive, всегда закрывая соединение.

[2012-08-03 12:49] scf2k commented on #135
works for now

[2012-08-03 12:49] #135 closed, assigned to scf2k

[2012-08-03 12:54] scf2k commented on #101
actual issue is #133

[2012-08-03 12:54] #101 closed, assigned to nobody

[2012-08-06 10:09] arikon opened #195 "Think about unify of bem build and bem create API"

[2012-08-06 10:10] arikon opened #196 "Think of merge of node classes and techs"

[2012-08-06 12:59] arikon opened #197 "Think of merge of node classes and techs"

[2012-08-06 18:20] tadatuta opened #198 "rebuild project on symlink change"
If project uses level via symlink, e.g. confings/current -> development bem server should rebuild files on symlink change.

[2012-08-07 11:14] arikon opened #199 "Level for nested blocks"
We need preconfigured level that can contain nested blocks — for example bundles that are stored as a tree.

Blocks in this case could be named like `path/to/block`, all other entities (elems, mods and vals) could be left untouched.

[2012-08-07 11:15] #199 closed, assigned to arikon

[2012-08-07 11:21] arikon opened #200 "Remove Q deprecation warnings"

[2012-08-07 14:01] scf2k opened #201 "with inspector enabled bem make crashes if .bem/snapshots doesn't exist"

[2012-08-07 14:03] #201 closed, assigned to scf2k

[2012-08-08 13:37] scf2k opened #202 "building _page.priv.js could require page.bemhtml.js to exist"
Depending on the `priv.js` tech implementation building `_page.priv.js` could require `page.bemhtml.js` to exist. In such cases respective node of type `BorschikNode` must depend on `page.bemhtml.js` node. This can be accomplished by altering `create-priv.js-optimizer-node()` in `BundleNode` OR overriding it in the project's `.bem/make.js`.

The code looks like:

[code]

[2012-08-10 08:30] scf2k opened #203 "make fails with an exception if getConfig is not defined in the level.js"
make fails with an exception if getConfig is not defined in the level.js. There should be a check and warning to user asking to define getConfig.

[2012-08-10 09:58] #203 closed, assigned to nobody

[2012-08-10 13:01] #190 closed, assigned to nobody

[2012-08-10 15:40] mishaberezin opened #204 "Не работает флаг -C в bem create block"
## Делаю следующее:

~$ bem -v
0.5.9
~$ mkdir test
~$ cd test/
~/test$ mkdir subdir
~/test$ bem create block my-block -C subdir -T html
~/test$ ls
my-block  subdir
##

Ожидалось, что блок будет создан в subdir, но он создается в директории из которой запускалась команда.

[2012-08-10 18:55] varya commented on #204
Что ты используешь как уровень переопределения? Если subdir, то его надо создавать через `bem create level`.

[2012-08-10 19:27] mishaberezin commented on #204
В справке написано:

[code]

То есть, если я все правильно понимаю:

[code]

должно работать также как если бы я написал:

[code]

Но оно так не работает, а создает блок в текущей директории.

Как уровень переопределения я ничего не использую. Не понимаю как это относится к данной проблеме. Можешь объяснить подробнее?

[2012-08-17 20:54] shuhrat opened #205 "borschik problem"
borschik -t css -i pages/index/index.css -o pages/index/_index.css

throwing an error

screen shoot with error, and node, bem, borschik version
http://farm8.staticflickr.com/7270/7804075700_762e81fa5d_b.jpg

[2012-08-17 20:59] scf2k opened #206 "building merged bundle target fails"
bem make pages/mergedbundle fails. Bundle node of merged bundle should depend on level's bundles nodes.

[2012-08-17 21:00] #206 closed, assigned to scf2k

[2012-08-20 07:56] arikon commented on #205
Please move this issue to https://github.com/veged/borschik

[2012-08-20 07:56] #205 closed, assigned to nobody

[2012-08-20 19:19] narqo opened #207 "Error: getaddrinfo ENOENT for custom --host option"
[code]

[code]

works as expected.

[2012-08-20 21:34] arikon commented on #207
What `nslookup dev.local` outputs?

[2012-08-22 09:06] narqo commented on #207
I guess this is my fault: `dev.local` wasn't bind to any ip address

[2012-08-22 09:06] #207 closed, assigned to nobody

[2012-08-24 08:34] #200 closed, assigned to arikon

[2012-08-29 12:24] arikon opened #208 "Translate docs for bem make / server to english"

[2012-08-29 14:15] arikon commented on #204
Пересмотрел ещё раз. В хелпе есть и такая запись (обрати внимание на default: ./):

[code]

В данном случае правильнее использовать эту опцию. Всё, что делает `-C, --chdir` — переключает текущую директорию для процесса, используя `process.chdir()`.

[2012-08-29 14:18] #204 closed, assigned to nobody

[2012-08-29 14:19] arikon commented on #202
We need to implement reasonable default in this issue.

[2012-08-29 15:24] arikon opened #209 "Implement include() and includeSync() in make.js files"
We need `include(path)` to use preconfigured `make.js` files from block libraries.

[2012-08-29 21:10] #209 closed, assigned to arikon

[2012-08-30 08:28] veged opened #210 "Add `;` after each include in js-based techs"

[2012-08-30 08:54] arikon commented on #210
What do you mean?

This?

[code]

Or this?

[code]

[2012-08-30 09:41] #192 closed, assigned to arikon

[2012-08-30 09:41] #193 closed, assigned to arikon

[2012-08-30 09:47] #58 closed, assigned to nobody

[2012-08-30 10:20] veged commented on #210
both

On 30.08.2012, at 12:54, Sergey Belov notifications@github.com wrote:

[2012-08-30 11:20] #194 closed, assigned to arikon

[2012-08-30 11:24] arikon commented on #210
@veged Second variant consumes the first and could be implemented in `borschik`, right?

[2012-08-30 16:37] veged commented on #210
oh, I thought you mean tech with inlining in second case -- thats can't be done in Borschik

however, it's not correct move such functionality to Borschik because it's might be correct using of `borschik:include` to concat content in terms thats one statement (and auto semicolon can broke things)

[2012-08-31 14:03] #210 closed, assigned to nobody

[2012-08-31 14:46] arikon commented on #208
все упоминания функций (например getTechs()) и служебных названий нужно завернуть в `...`

все упоминания функций и методов нужно делать со скобками: getTechs(), getConfig()
кое-где не так

все упоминания классов нужно завернуть в `...`: `Node`, `LibraryNode` и т.д.

[2012-08-31 15:40] arikon commented on #38
@scf2k I need help with english translation
See https://github.com/bem/bem-tools/blob/server/README.ru.md#Файлы-конфигурации

[2012-08-31 15:41] arikon commented on #208
Всё что я выше писал справедливо и для русской версии тоже

[2012-09-01 15:36] tadatuta opened #211 "bem server doesn't build project on win7"
`bem make` works fine but `bem server` just serves static files and doesn't fire rebuild on windows 7.

node --version
v0.8.8

npm --version
1.1.59

bem --version
0.5.14

[2012-09-03 09:02] scf2k opened #212 "review the alternatives for d3 replacement"
http://selection.datavisualization.ch/

[2012-09-03 09:22] arikon opened #213 "Document how to write custom node to launch shell commands"

[2012-09-03 10:23] scf2k opened #214 "MAKE.include() feature broke .bem/make.js application"
At least `getLibraries()` in project's `.bem/make.js` does not override the default method

[2012-09-03 10:57] arikon opened #215 "make.js: Make include() sync"
The problem with current implementation that we can't use async `include()` at all. We never return promise from `make.js` file.

[2012-09-03 18:55] #214 closed, assigned to nobody

[2012-09-04 13:59] #147 closed, assigned to arikon

[2012-09-04 14:27] #215 closed, assigned to arikon

[2012-09-04 14:38] arikon commented on #202
Also we need to document how to add custom dependencies to various nodes, e.g. `BoschikNode` instances.

[2012-09-04 15:19] scf2k opened #216 "BundlesLevelNode must call base alterArch with Q.when"

[2012-09-04 15:24] #216 closed, assigned to nobody

[2012-09-05 22:20] veged opened #217 "Provide some helpers in runtime of *.bemjson.js"
At least we can provide `require()` from bem-tools.

[2012-09-06 05:55] arikon commented on #217
Let's collect all the cases when helpers are needed.

/cc @tadatuta

[2012-09-06 11:42] tadatuta commented on #217
Ability to have access to js variables, e.g. via i-global.

[2012-09-07 07:10] arikon opened #218 "Convenient node-aliases"
See the following thread: http://clubs.ya.ru/bem/replies.xml?item_no=1510

[2012-09-08 12:24] arikon opened #219 "Implement bem decl intersect"

[2012-09-08 17:41] qfox opened #220 "nodejs 0.8.8 support?"
npm WARN engine apw@0.3.6: wanted: {"node":"0.6 | 0.7"} (current: {"node":"v0.8.8","npm":"1.1.59"})

Оно действительно не работает как надо под 0.8?.. Или надо на dev ветку переключаться?

[2012-09-08 20:25] arikon commented on #220
@zxqfox Перенеси issue в bem/apw, пожалуйста

[2012-09-08 20:25] #220 closed, assigned to nobody

[2012-09-10 15:57] #38 closed, assigned to arikon

[2012-09-10 16:23] arikon opened #221 "SvnLibraryNode: Use non-interactive mode for svn"
`svn` could ask about conflict resolution otherwise

[2012-09-10 19:33] tadatuta opened #222 "bem server: Don't run bem make if the result will be file listing"
Bem server builds all pages for http://prj/pages-desktop/ url but end up showing just file listing.

It would be great not to run `bem make` for such urls.

[2012-09-11 08:40] arikon opened #223 "Require errors in .bem/level.js are masked"

[2012-09-11 08:51] #223 closed, assigned to arikon

[2012-09-11 09:10] arikon opened #224 "Install library dependencies after checkout"
We need this feature for the `lego` internal library to work.

Introduce `installLibraryDependencies()` and `getLibraryContent()` methods in `LibraryNode` derivatives.
Introduce optional `npmPackages` array in library configuration object that defaults to `['package.json']`.

[2012-09-11 10:07] #208 closed, assigned to nobody

[2012-09-11 16:38] #224 closed, assigned to arikon

[2012-09-12 17:53] arikon opened #226 "Remove path.relative() function in favor of that in node 0.6+"
Bundled implementation differs from that in node that could be confusing.

[2012-09-12 17:56] #226 closed, assigned to arikon

[2012-09-12 23:14] tadatuta commented on #213
Вот еще один ожидающий документации: http://clubs.ya.ru/bem/replies.xml?item_no=1564

[2012-09-13 08:13] arikon opened #227 "Daemonization of bem server"
The start of the story bem/bem-server-demo#3

[2012-09-13 18:59] arikon opened #228 "bem make: When the tech alias is not specified in .bem/level.js the <name>.tech file is created"
In this case we should create `<name>.<techname>` file

[2012-09-13 19:03] arikon opened #229 "LibraryNode: Do not install dependencies when npmPackages = false"
We need this to override set of library dependencies on the project level.

[2012-09-14 06:40] arikon opened #230 "Document how to build i18n"

[2012-09-14 11:53] #229 closed, assigned to arikon

[2012-09-14 12:30] arikon opened #231 "bem make: Ability to configure list of techs to optimize"

[2012-09-14 12:42] #231 closed, assigned to arikon

[2012-09-14 12:55] arikon opened #232 "bem make: Store .meta.js files in .bem/cache/ directory"
We should store `.meta.js` and all other temporary files outside of the project directory.
Also think about generated `.bemdecl.js` and `.deps.js`.

[2012-09-15 08:33] arikon commented on #217
@tadatuta Need more info on this proposal

[2012-09-16 11:49] scf2k opened #233 "Errors from workers could be more informative"
Now they sometimes look like this:

[code]

[2012-09-16 11:54] #221 closed, assigned to nobody

[2012-09-16 12:35] #232 closed, assigned to nobody

[2012-09-16 13:29] #219 closed, assigned to nobody

[2012-09-16 16:27] qfox commented on #132
Поймал эту же ошибку при сборке bem-bl-test. Но вроде собралось

$ npm view xjst -g

{ name: 'xjst',
  description: 'XSLT inspired JavaScript templates (with spices)',
  'dist-tags': { latest: '0.3.4', stable: '0.3.4' },

Или я неправильно версию пакета смотрю?

[2012-09-16 16:28] indutny commented on #132
`npm ls -g`

[2012-09-16 16:30] qfox commented on #132
Спс.

$ npm ls xjst -g
/usr/local/lib
├─┬ bem@0.5.15
│ └── xjst@0.2.21
└── xjst@0.3.3

[2012-09-16 16:45] qfox opened #236 "bem ls (list) command"
It would be very helpful to understand how it works and to see deps with ls command.
Idea from `npm ls`

[2012-09-16 19:30] arikon commented on #236
Can't get an idea of the command. Could you explain using some example?

[2012-09-16 19:41] qfox commented on #236
Each block can have deps, techs, etc.
Executed at some directory `bem ls` will show full info about blocks at that place.
Btw. It can be used in some bash scripts in future. For mailing about new blocks... or for deploying. `bem ls > $(date).tree; diff $prev $current |mail dev@some.org`

For example if I executing `bem make` in `bem-bl-test` I see tree (graph):

[code]

There are only nodes shown,

[2012-09-16 19:44] qfox commented on #236
But it must be block oriented. So it must show the final list of blocks with their dependencies and info of redefines on different levels.

[2012-09-16 21:29] arikon commented on #236
Could you provide concrete example of output of `bem ls`?

As for `bem make` in `bem-bl-test` — it ouputs starting build dependency graph.

[2012-09-16 21:42] qfox commented on #236
I'm newbie in bem but i'll try:

[code]

And so on.

Syntax can be any you like. Just trying to describe the thing which might be useful in my opinion.

[2012-09-16 21:49] qfox commented on #236
Or like that:

[code]

[2012-09-16 23:29] qfox commented on #236
If that scheme will be drawn in terminal it will be great!
http://bem.github.com/bem-method/images/levels.tech.png

[2012-09-17 00:50] qfox commented on #236
Another use case:

[code]

[2012-09-19 01:24] qfox commented on #100
Может exports.bemBuild переопределить, чтобы он еще компилировал less в css? Сейчас, вроде, технология есть, но работает очень странно.

И еще он, похоже, не учитывается в сборке итогового css-файла. Или less файл не учитывается. Как-то странно, в .less файле:

[code]

в .css файле:

[code]

но в итоговом файле первой строки нет.

[2012-09-19 08:03] arikon opened #240 "Inspector does not work in Firefox and slow in Safari"
Also we must check how it works in IE.

[2012-09-19 09:23] arikon opened #241 "Add license info"
We should use MIT license for code.

Add `LICENSE` file and alter `package.json` `license` field.

[2012-09-19 09:45] #241 closed, assigned to arikon

[2012-09-19 09:51] #240 closed, assigned to nobody

[2012-09-19 16:02] arikon opened #242 "bem make: Rebuild files on tech modules change or make.js and level.js configs"

[2012-09-20 15:19] arikon opened #243 "Investigate abilities of Twitter bower to install block libraries"
For now:
- Could not install components from branches twitter/bower#30

[2012-09-20 15:19] arikon opened #244 "Refactor LibraryNode to use new libraries tooling"

[2012-09-20 15:20] arikon opened #245 "Document how to create block library"

[2012-09-20 15:20] arikon opened #246 "Document how to depend project on library"

[2012-09-20 15:48] arikon opened #247 "Require node 0.8+ (because of bower)"

[2012-09-20 20:24] qfox commented on #60
Может плагином к фф/хрому? Или скриптом к Tamper/Greasy Monkey?

Это на клиенте можно настройками решить.

Он с кузнецом пришел?

[2012-09-20 20:27] qfox commented on #20
Да, очень актуально.

[2012-09-20 22:56] qfox opened #248 "bem init command? to create working directory for bem project"
`bem init :name` command which could create :name/{.bem/make.js,:name/.bem/.level.js} etc. and do some prepares to start creating levels and blocks. Correct me if need with paths.

[code]

p.s. Can I add some aliases or commands by self like in git with git-\* executable files? How?

[2012-09-20 23:06] qfox commented on #248
Btw. It could pull (or create needed files for make) basic blocks like bem-bl from rep (or blocks rep in future?) to specific path.
And also it could add (or show) paths for .gitignore or add svn:ignore to :name path if cvs exists and possible to do that.

[2012-09-21 11:18] arikon opened #249 "Profile based optimizations"
Issue where we gather different ideas on profile based optimizations.

Property on tech: cpu bound, io bound, neutral. Decide how to use tech on this property.

Profile single usage of tech and decide on consequential uses how to use it — forked or in process.

Preserve profiling stats between launches, use it to decide how to build.

[2012-09-21 14:33] scf2k opened #251 "Consider using the meta.js files as a kind of declaration"
bem build calls dublicate the levels introspection and lookup of the blocks files to use. Because on bem build execution we already have meta.js file with the real files list. bem build could benefit from that. We could change the meta.js format and complement the bem logic so it would work as an additional declaration kind.

[2012-09-21 16:41] arikon commented on #251
/cc @veged

[2012-09-21 19:07] qfox opened #252 "JS Allocation failed in bem make :target/"
After executing
`$ bem make core/level/`
...
JS Allocation failed

Seems like there is unlimited recursion somewhere.

[2012-09-21 20:38] arikon commented on #252
Provide more info please. At least full stacktrace.

[2012-09-21 20:54] qfox commented on #252
How I can forse nodejs to write stacktrace?

$ bem --version
0.5.16

Micro example:

[code]

But `sh $ bem make bem-bl` works fine. `Error: There is no such id in arch.nodes: bem-bl`

[2012-09-21 22:40] arikon commented on #252
Show your `.bem/make.js` then.

[2012-09-21 22:42] qfox commented on #252
.bem/make.js

[code]

[2012-09-21 22:46] qfox commented on #252
But I think it's not depend on it.

[code]

[2012-09-21 22:47] qfox commented on #252
rofl:

[code]

[2012-09-21 22:48] qfox commented on #252
I think it's minor bug in path analizer.

[2012-09-21 23:05] arikon commented on #177
Какой `@import` нужно убрать: `page.css` или `page.ie.css`?

[2012-09-21 23:44] scf2k commented on #252
It crashes with trailing slash

[2012-09-22 07:09] arikon commented on #252
@zxqfox Don't use trailing slashes as a workaround. We'll fix that.

[2012-09-22 07:55] qfox commented on #252
Sure not. I can't live without trailing slashes! ;-)

[2012-09-22 16:28] pavelpower opened #253 "Хитрое поведение деклараций"
Декларации из разных фалов при сборке объединяются по логике "ИЛИ" (поправил см. ниже).

При очень хитрых манипуляциях с уровнями переопределения. Например когда на более младшем уровне захватываются два поколения. И в младшем нужно убрать один из элементов который был в более старшем, то этого нельзя сделать по логике "ИЛИ" (поправил см. ниже).

Нужна возможность отключать в декларативных файлах

[2012-09-22 19:46] qfox commented on #253
Если я не ошибаюсь, то в описании уровня можно программно отключать нужные (или не нужные) уровни, т.е. если вам нужна иная, чем по умолчанию, логика сборки - то вы легко можете это сделать переопределением правил сборки, внося некоторые, нужные вам под ваш проект, коррективы в правила сборки. К сожалению, данная ситуация достаточно и пока простых "галочек", определяющих поведение нет.

Правила же

[2012-09-22 20:14] arikon commented on #253
@pavel-power Речь про `noDeps`?

[2012-09-22 20:49] pavelpower commented on #253
Все верно, имел в виду  "ИЛИ".

Про архитектуру: В общем случае все основано на различии прав пользователей. Чем старше пользователь тем больше в его состав входит уровней переопределения. Это позволяет избежать большого копипаста и создания лишних уровней переопределения (уровней для парочки блоков).

По поводу программного отключения - на данный момент этим и пользуюсь. Но Хотелось бы не добавля

[2012-09-22 20:49] pavelpower commented on #253
arikon, Да, что то в этом роде.

Я смотрел код который есть сейчас, в нем об этом ничего нет. Что то уже есть в зачатках?

[2012-09-22 21:30] arikon commented on #253
@pavel-power Есть `noDeps`, вот упоминание (но нет документации пока):
https://github.com/bem/bem-tools/blob/master/lib/techs/deps.js.js#L146

Еспользование такое, как ты описываешь, на том же уровне где и `shouldDeps` / `mustDeps` описываешь структуру `noDeps` по тем же правилам — должно вычитаться.

Попробуй. Если оно, закрой issue.

[2012-09-23 14:59] qfox commented on #233
my case

[code]

I don't have any ideas what I must do to fix that.

[2012-09-23 16:09] arikon commented on #233
@zxqfox What branch of `bem-bl` are you using?

[2012-09-23 16:15] qfox commented on #233
@arikon I think the last one. Branch origin/master.
From my make.js

[code]

bem make log:

[code]

[2012-09-23 16:48] qfox commented on #233
There is no shouldDeps, mustDeps sections in autocreated bemdecl.js. Probably it is the reason of an error. But i'm not sure.

[2012-09-23 17:46] qfox opened #254 "Verbose messages hiding away with globally installed bem"
I have install bem globally and silly messages ends up at some moment. After it I see only "info" level messages.
But all was changed when I've make symlink to node_modules/bem and debug messages shows up.
Is it right behaviour? Why with -v silly inner modules still don't show debug/silly messages?

[2012-09-23 18:51] arikon commented on #233
@zxqfox You shoul use `0.2` or `0.3` branch of `bem-bl`, not `master` (we'll fix this later).
Add `treeish: '0.3'` to your library config.

[2012-09-23 18:53] arikon commented on #254
Do you have any other instances of `bem` installed?
Please show `npm ls` from your project directory and `npm ls -g`.
Also provide `echo $NODE_PATH` output.

[2012-09-23 18:56] qfox commented on #254
Here it is:

[code]

[2012-09-23 19:01] qfox commented on #254
With `/usr/local/bin/bem make -v silly` I don't see any debug and silly messages after

[code]

But with locally installed bem (v0.5.15) I see a lot of debug messages.

[2012-09-23 19:52] qfox commented on #233
@arikon Thanks. It particulary fixed my trouble.

[2012-09-24 08:55] arikon opened #255 "bem decl subtract writes result with empty declaration"
Делаю `bem decl subtract`:
`bem decl subtract -d bundles/b-snippet-music/b-snippet-music.deps.js -d pages-touch/search/search.deps.js`

В stdout выдаётся правильное:

[code]

Но когда задаю параметр `-o`:
`bem decl subtract -d bundles/b-snippet-music/b-snippet-music.deps.js -d pages-touch/search/search.deps.js -o bundles/b-snippet-music/b-snippet-music.deps.js`

На выходе пустой `deps.js`:

[code]

[2012-09-24 12:18] banzalik opened #258 "Add support deps.js "*" masks"
For example

[code]

[code]

[code]

[code]

[code]

[2012-09-24 13:21] scf2k opened #259 "bem decl commands should not accept some of the input files as the output"
In such cases the result could be wrong and unpredictable. We should exit with error in this case.

[2012-09-24 13:23] scf2k commented on #255
This particular case is resolved. Opened #259 as a dummy protection.

[2012-09-24 13:23] #255 closed, assigned to nobody

[2012-09-24 20:25] arikon opened #260 "bem make: Provide a more convenient way to configure the list of bundles and blocks levels to build"
We should add `getBundlesLevels()` and `getBlocksLevels()` to `Arch` node.

Their default implementations should introspect project directory and provide the lists of paths that march regexps stored in `bundlesLevelsRegexp` and `blocksLevelsRegexp` properties.

User could override these methods to provide custom list of paths for according levels.

[2012-09-24 20:30] #260 closed, assigned to arikon

[2012-09-25 08:05] #253 closed, assigned to nobody

[2012-09-25 12:23] mishanga commented on #259
Давайте всё-таки сделаем, чтобы можно было писать в один из исходных файлов. Не вижу причин, почему это стоило бы запрещать.

[2012-09-25 12:39] mishanga opened #262 "bem decl: Allow output into one of input declaration files"
We should not use coa `.output()` helper for the output option (it creates write stream) and write file just after the content is ready.

[2012-09-25 13:57] arikon opened #263 "deps.js tech: Revisit content reading of deps.js files"
Try to make it async, but fast. It is sync now.

[2012-09-25 14:00] qfox commented on #259
Флаг --force-overwrite ? или наоброт --safe какойнибудь

[2012-09-25 14:35] mishanga commented on #259
Не, просто синхронизировать ввод и вывод, чтобы можно было писать в любой исходный файл: #262

[2012-09-27 13:37] scf2k opened #264 "tests bem-bl module is out of date"

[2012-09-27 13:38] scf2k opened #265 "tests build i18n.js files inplacing the included files content"

[2012-09-27 13:52] #264 closed, assigned to scf2k

[2012-09-27 13:52] #265 closed, assigned to scf2k

[2012-09-27 14:38] arikon opened #266 "styl+css tech module"
Add `styl+css` tech module that will generate `.css` file with with mixed `.styl` and `.css` imports on `bem build`.

[2012-09-27 17:53] serzhit commented on #100
Я там немного поковырялся, сделал приемлемое для себя решение, скоро выложу.
http://clubs.ya.ru/bem/replies.xml?item_no=1699

[2012-09-27 17:55] serzhit opened #267 "New less-css tech module"
Add tech module wit support of less-css mixed bundle.

[2012-09-27 20:10] qfox commented on #100
@serzhit Спасибо, я все пытался начать это делать, но все руки не дошли. Было бы хорошо влить, и тоже из-за бутстрапа. Кстати, у @gfranco есть bootstrap частично портированный на бэм, но, похоже, он руками все пилил.

Нужна помощь со встраиванием технологии? Готов помочь ;-)

[2012-09-27 22:00] arikon commented on #259
Closed in favor of #262

[2012-09-27 22:00] #259 closed, assigned to nobody

[2012-09-30 21:03] arikon opened #270 "Provide ability to configure levels truly globally"
Something like `.bem/level.js` in the project root, but not exactly that way (because of minimum 2 level types: blocks and bundles).

[2012-09-30 22:03] mokhov commented on #270
Continuing conversation started wiki..
There are some of levels needed to use everywhere (like blocks-common). Why not to have them in .bem/make.js, if you don't want to move it to .bem/level.js? Their conf should have mask pattern matching like "bundlesLevelsRegexp: /regexp/". What do you think?

[2012-10-01 11:44] nullie commented on #217
Can we add include here? I have a patch.

[2012-10-01 13:22] qfox commented on #217
Make pull request with #217 hash-tag please.
And take a look at https://github.com/bem/bem-tools/blob/master/CONTRIBUTING.md

[2012-10-03 18:45] serzhit commented on #267
#269

[2012-10-03 18:45] #267 closed, assigned to nobody

[2012-10-04 14:03] dosyara opened #274 "Документация. Неправильный список тезнологий в примерах"
В "Примеры конфигурационных файлов для типовых задач" некорректные список технологий.
Сейчас в файле `bem/make.js` написано:

[code]

Сборка с такими технологиями не работает. Нужно заменить `bemhtml.js` на `bemhtml`

[2012-10-08 21:19] arikon opened #277 "Create node_modules/bem -> .. symlink on module install"
We need it to interfere with globally installed `bem`

[2012-10-08 21:20] #277 closed, assigned to arikon

[2012-10-08 21:31] #274 closed, assigned to nobody

[2012-10-15 08:55] arikon opened #278 "Add .editorconfig"
More info http://editorconfig.org

[2012-10-15 09:14] #278 closed, assigned to arikon

[2012-10-15 14:39] arikon opened #281 "Tech module for introspection generation"
We could create tech module `introspection` and use it like this:

`bem create -l blocks -T introspection -b ALL`

See as a reference https://github.com/bem/bem-haml/blob/master/.bem/techs/introspection.js

[2012-10-15 20:27] arikon opened #282 "Add match*() methods to simple level prototype"

[2012-10-15 21:17] #282 closed, assigned to arikon

[2012-10-15 21:22] arikon commented on #52
@scf2k You referenced and closed wrong issue. This issue was about `.bem/make.js` configs of libs.
Please edit this issue to represent commits and recreate issue about `.bem/make.js` configs of libs.

[2012-10-16 11:25] narqo opened #283 "Ключ -L не учитывает конфиг уровня level.js при сборке через bem build"
Кейс для структуры проетка:

[code]

В `pages/.bem/level.js` описан конфиг «упрощенного» уровня страниц:

[code]

При этом `bem create block -l pages -T bemdecl.js about` получаю нужный результат.

Но если запустить

[code]

Файл `prj.css` создается **рядом с директорией** проекта:

[code]

Ожидалось, что `about.css` будет создан на уровне (`-L`) `pages`.

[2012-10-16 12:30] arikon commented on #283
А так `bem build -L pages -d ./pages/about.bemdecl.js -t css -l blocks -b prj`?
Где можно воспроизвести?

[2012-10-16 13:08] arikon opened #284 "Unify node id generation for levels and BEM entities"
We need to unify node id generation so that nodes for the same BEM entities in different levels will have similar ids.

[2012-10-16 13:50] narqo commented on #283
Да, так рабоет как ожидается: `... -b about`

Проект: https://c9.io/narqo/b-server
А как подобным образом настроить `bem make`?

[2012-10-16 13:50] #283 closed, assigned to nobody

[2012-10-16 14:24] arikon commented on #283
@narqo `bem make` так собирает по умолчанию. Или я не понял твоей ситуации. В таком случае напиши мне письмом все подробности или в jabber.

[2012-10-16 17:27] arikon commented on #177
@narqo Ping!

[2012-10-16 17:34] arikon commented on #20
С этой задачей проблема в том, что не на каждом уровне переопределения можно однозначно понять, о какой сущности сейчас идёт речь.

Например, есть уровни (см. `simple` в bem-tools), на которых все файлы всех БЭМ-сущностей лежат в одной директории плоским списком. Как в этом случае понять, для какой сущности выполняется команда `bem create`?

[2012-10-16 17:36] arikon commented on #222
Don't know how to guess that the result will be file listing. Any ideas?

[2012-10-16 17:38] scf2k opened #285 "bem server: Initialize build configuration from linked block library"
Block library could have a build configuration, it must be used to inject building of library targets to the main project build flow.

[2012-10-16 17:40] scf2k commented on #52
done

[2012-10-16 18:05] tadatuta commented on #222
If the last chunk of url != 'index' && it has trailing slash.

BTW, adding trailing slashes automatically will be useful.

[2012-10-16 19:08] arikon commented on #86
Close in favor of #284

[2012-10-16 19:09] #86 closed, assigned to arikon

[2012-10-16 19:10] arikon commented on #53
All work is done in #87

[2012-10-16 19:10] #53 closed, assigned to arikon

[2012-10-16 21:25] arikon opened #286 "Revisit bem make / server --workers option"
Workers option should specify maximum number of child processes to spawn on building.

There should be no limit for concurrent build tasks or it should be configured using separate option.

[2012-10-17 07:53] arikon opened #287 "Use Istanbul as a test coverage tool"
https://github.com/gotwarlost/istanbul

[2012-10-17 07:56] arikon opened #288 "Evaluate tools to generate API documentation from JSDoc comments"
http://jsdoc.info

http://usejsdoc.org
https://github.com/jsdoc3/jsdoc

... more to add ...

[2012-10-18 09:13] qfox commented on #20
В этом случае, если блок явно не указан в параметрах, никак → вываливаемся с ошибкой. Если появятся какие-то идеи на этот счет — сообщество не даст расслабиться ;-)

[2012-10-18 14:54] arikon opened #291 "Reload .bem/make.js if it was changed"
If `.bem/make.js` was changed during builds in `bem server` we should:
- redo previous build rules from `.bem/make.js`
- reload contents `.bem/make.js`
- reinitialize build `arch`

[2012-10-18 19:08] tadatuta opened #292 "Provide possibility not to call npm install for libraries"
Now it's common to get some strange errors while bem make is trying to call `npm install` for libraries without any `package.json` at all.
Please provide possibility not to call npm install for particular libraries.
#### Proposal
##### Now

[code]
##### What it to be

[code]

Example of the error

[code]

[2012-10-18 19:42] arikon commented on #292
`bem-bl 0.3` has `package.json` so dependencies are installed.

You can disable dependencies installation by `packages: false` flag already.

[2012-10-18 19:42] #292 closed, assigned to nobody

[2012-10-24 18:16] arikon opened #293 "Write tests for building of deps.js with noDeps"
Should check this case:

[code]

[2012-10-24 18:23] arikon opened #294 "bem ls command"
`bem ls` command should list project or any other level structure.

It should have minimal and verbose output modes.

It should have ability to filter output using `--block`, `--elem`, `--mod` and `--val` options.

It should have ability to search on different levels (`--level`) and recursively.

[2012-10-24 18:25] arikon opened #295 "Advanced shell completion on bem commands"
`bem` commands should provide completion on option values such as `--level`, `-l` of `bem create` and `bem build` and similar.

[2012-10-24 18:38] varya commented on #294
Does this issue has a like button?

[2012-10-24 18:47] qfox commented on #294
;-)) I'm also vote for it

[2012-10-24 18:48] qfox commented on #294
Btw, if we have that issue we need to close the issue #236

[2012-10-24 19:55] denisx commented on #294
+1

[2012-10-24 20:08] arikon commented on #236
Close as a dupe of #294

[2012-10-24 20:08] #236 closed, assigned to nobody

[2012-10-24 20:09] arikon commented on #294
@zxqfox Oh, I've forgotten about it already. Thanks!

[2012-10-24 21:38] qfox commented on #294
You've asked about wishes in club. All my wishes shortly desribed in that issue. If you need some more information about my own wishes — just ask ;-) Thanks!

[2012-10-25 07:22] banzalik commented on #294
-isbem flag that bypasses all the files in a directory or a particular file is checked and says, this true BEM file or not

[2012-10-25 07:49] banzalik commented on #294
Show elem and mods declaration names.
`bem --config ls myLevel`
Out:

[code]

[2012-10-26 09:41] arikon opened #296 "Use new Function() instead of runInThisContext() in the critical places"
See benchmarks: https://gist.github.com/3953729

[2012-11-01 04:06] tadatuta opened #300 "fix npmPackages: false"
Adding `npmPackages: false` changes nothing, `bem make` still installs npm packages for libraries.

E.g.

[code]

[2012-11-05 16:01] scf2k opened #302 "git libraries treeish parameter doesn't work when value is a commit hash"

[2012-11-05 16:31] #302 closed, assigned to nobody

[2012-11-06 10:48] arikon opened #303 "Check for npm-shrinkwrap.json existence on npm publish"
We need it to supports release checklist.

[2012-11-07 09:48] arikon opened #305 "Explain modules techs configuration in .bem/level.js"
`''` — реализация технологии по умолчанию
`'path/to/module.js'` — полный путь до модуля технологии, который нужно использовать
`'js-i'` — реализация технологии с указанным именем из bem-tools

[2012-11-07 16:25] scf2k opened #306 "Merged bundle depends on all bundles it is built from"
MergedBundle should depend on magic bundles only

[2012-11-08 11:42] #300 closed, assigned to nobody

[2012-11-08 16:55] arikon opened #310 "LibraryNode: Install production dependencies by default"

[2012-11-08 16:56] #310 closed, assigned to arikon

[2012-11-11 10:48] megatolya commented on #233
[code]

i'm using 0.3 branch but it's not found :(

[2012-11-11 10:58] tadatuta commented on #233
@megatolya what's bem tools version (`bem --version`) and the content on `.bem/make.js` file?

Try to `rm -rf bem-bl` and if it won't help you can comment out `getLibraries` block in `.bem/make.js` and checkout bem-bl@0.3 by yourself as a quick fix.

[2012-11-11 11:06] scf2k commented on #233
What version of bem-tools do you use?

[2012-11-11 11:57] megatolya commented on #233
my version is 0.5.19

[code]

it helped, thank you

[2012-11-13 15:55] #287 closed, assigned to arikon

[2012-11-14 16:24] scf2k opened #312 "We need to tweak LibraryNode and related code to allow avoid libraries update on every build"

[2012-11-16 22:53] arikon opened #313 "Wrong bem make behavior on not-so-correct bemjson.js tech declaration"

[2012-11-16 22:59] scf2k commented on #313
Там не тот тип ноды создается по какой-то причине. Подозреваю что баг появился после рефакторинга create-bemdecl.js-node.

[2012-11-16 23:26] arikon commented on #313
Я покопал, проблема была потом, что в `getTechs()` уровня было написано так: `{ 'bemdecl.js': '' }` вместо `{ 'bemdecl.js': 'bemdecl.js' }`.
При этом создавался файл `.tech` для страницы, удалялся `.bemdecl.js` при `bem make -m clean`.
Такого не должно быть, надо это поведение чинить.

[2012-11-17 11:01] arikon commented on #159
https://hacks.mozilla.org/2012/11/tracking-down-memory-leaks-in-node-js-a-node-js-holiday-season/

[2012-11-19 12:47] scf2k commented on #313
Так ведь '' и должно быть для исходных файлов?

[2012-11-19 14:20] arikon commented on #313
Сборка должна работать правильно не зависимо от того, как именно задекларирована технология.

[2012-11-19 15:03] scf2k commented on #313
Как определить исходный это файл или нет? Удалять его или нет?

[2012-11-19 18:28] arikon commented on #313
По наличию файла `*.bemjson.js` на диске. Эта логика же вроде есть в `BundleNode`?

[2012-11-28 09:36] arikon opened #317 "bem mv command"
Implement `bem mv` command.
See blog post for opinions on command line interface:
http://clubs.ya.ru/bem/replies.xml?item_no=2066

[2012-11-28 09:44] narqo commented on #317
Maybe `bem move`?

[2012-11-28 13:15] arikon commented on #317
@narqo I was thinking that `bem move` is about moving BEM-entities between levels.

[2012-11-28 16:49] arikon opened #318 "Investigate abilities of jam to install block libraries"
http://jamjs.org

[2012-11-28 21:50] qfox commented on #317
Agreed with @narqo. "move" is more intuitive and shorter for renaming. bem move --to-level=another mb?

[2012-11-29 15:28] scf2k opened #320 "js files don't rebuild when projects blocks js files change"
Can be reproduced with project http://nda.ya.ru/Jj and changing file `blocks-desktop/b-page/_name/b-page_name_index.js`

[2012-11-29 23:42] arikon commented on #317
`bem mv`?

[code]

Provide another cases please.

[2012-12-02 23:47] corpix commented on #317
Shortcuts like `block__elem` is good, but there is `bem create` with other api. I have read blog post and I totally agree with veged.

`bem mv` could be a shortcut to `bem move`, mv and move just about the same for me

[2012-12-03 00:20] arikon commented on #317
@corpix It is fixed already, see #319 and #322

[2012-12-03 01:04] corpix commented on #317
@arikon oops, sorry. Missed this

Sergey Belov notifications@github.com wrote:

[2012-12-03 14:13] banzalik opened #323 "One-page docs"
Что-то найти в документации стало в разы сложнее, т.к ее распилили на много разных файлов. Можно ли вернуть документацию к одностраничному виду?

[2012-12-03 15:49] qfox commented on #323
Это же эволюционный процесс: разделяй и властвуй. Может быть поиск нужен просто?

[2012-12-03 15:53] css commented on #323
Лучше не "вернуть", но добавить single page фичу. Что-то вроде того, как сделано на http://nodejs.org/api/

[2012-12-03 16:04] banzalik commented on #323
single page - устраивает более чем полностью

[2012-12-03 20:40] scf2k commented on #252
Fix is in master but not in 0.5.x

[2012-12-04 00:51] tadatuta opened #324 "Document how to create optimizer-node"
[code]

[2012-12-06 09:29] arikon opened #325 "bem make: Add helper to convert relative paths to absolute"
Think of adding helper for `make.js` files that will allow code like this:

[code]

[2012-12-07 13:48] banzalik opened #328 "bem server и подключение библиотек"
Каждый раз, когда обновляешь страницу, bem server пытается обновить библиотеки объявленные в getLibraries make.js.
На медленном канале или при лагах гитхаба - это сильно заметно.
Библиотеки надо обновлять при старте сервера и только один раз.

[2012-12-08 11:40] corpix commented on #328
+1
Закомменчиваю репозитории в .bem/make.js на время разработки

[2012-12-08 21:54] varya opened #329 "Incorrect example in documentation"
An example above does not have bemjson.js in the list

[2012-12-09 10:32] banzalik opened #330 "bem server: путь к *.html"
Сейчас пути в браузере надо писать так: locahost:8080/pages/index/index.html
Имя директории страницы и имя .html файл всегда должны совпадать, поэтому логично было-бы отдавать  по locahost:8080/pages/index файл index.html, в худшем случаи можно использовать редиректы.

И хорошо бы, настроить редиректы на совсем короткие записи например locahost:8080/p/index/ или совсем хорошо  locahost:8080/index

[2012-12-09 21:33] arikon commented on #330
В таком виде мы не будет это делать точно.
Здесь нужен полноценный роутинг урлов.

[2012-12-09 21:33] #330 closed, assigned to nobody

[2012-12-10 01:54] tadatuta commented on #330
Саша, возможно мое [поделие](https://github.com/tadatuta/bemp) решает твою задачу?

[2012-12-10 05:51] banzalik commented on #330
Да, это примерно то, что хочется. Кажется, nginx в этом месте может сильно
помочь.

Подождем полноценный роутинг в bem server.

[2012-12-10 22:11] Frikki opened #331 "npm install fails on Windows"
When ’npm -g install bem’ is run and reaches ‘./scripts/postinst.js’ as described in ’package.json’, the installation errors out and halts with the following:

[code]

Using:
System Windows_NT 6.1.7601
node -v v0.8.15
npm -v 1.1.66
bem v0.5.20

To reproduce:
On Windows, install node v0.8.15 with npm v1.1.66 (add path to ‘npm’ to environment variable %PATH%)
From command line, call ‘npm -g install

[2012-12-11 05:32] arikon commented on #331
@scf2k could you have a look at this, please?

[2012-12-12 00:48] qfox commented on #330
Про роутинг на уровне nginx Владимир уже постил заготовку в клубе. http://clubs.ya.ru/bem/replies.xml?item_no=1510 Но "поделие" выглядит более удобным.

[2012-12-13 11:55] scf2k opened #332 "YENV value should be part of the invalidation process"

[2012-12-13 12:49] gurugray commented on #332
It should be configurable which name of environment variable include in key invalidation cache

[2012-12-13 12:51] scf2k commented on #332
Вот ты понял о чем вообще речь что такой комент пишешь? :P

[2012-12-13 12:56] gurugray commented on #332
да, что бы значение переменной YENV влияло на инвалидацию кэша сборки,
я же говорю, что YENV дело не должно ограничиваться, а быть конфигрируемо, в частности на внешних проектах, которым не важно «Y» в ENV ;)

[2012-12-13 13:02] scf2k commented on #332
YENV влияет на production/не production. Если проект собран в деве, то при повторной сборке уже в продакшене ничего пересобрано не будет, потому что файлы не менялись. Поэтому значение должно влиять на инвалидацию. Отдельно конфигурить название такой переменной нет никакой необходимости.

[2012-12-13 13:45] gurugray commented on #332
зачем ты мне написал то же самое, что написал тебе я? :)
мой пойнт в том, что количество и сами именна переменных окружения влияющие на пересборку должны быть конфигурируемы, пускай и YENV по умолчанию

[2012-12-13 14:08] arikon commented on #332
@gurugray прав в том, что в пользовательских технологиях результат может зависеть от других переменных окружения. Например, bemhtml и переменная XIST_ENGINE.

13.12.2012, 15:46, "Сергей Сергеев" notifications@github.com:

##

Отправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail

[2012-12-13 16:35] dfilatov opened #333 "Tech js+coffee should compile result after all chunks concated"
Если компилировать каждый чанк в отдельности, то в каждом из них может оказываться утилитарный код из coffee, хотя он мог бы быть включен только один раз для всех чанков. Например, если два файла используют наследование через extends, этот код сейчас будет включен в каждый чанк:

[code]

[2012-12-13 18:17] qfox commented on #333
uglifyjs, случайно, не умеет такое схлопывать? с его точки зрения это переменная с одинаковой функцией, которая перезаписывается бессмысленно.

[2012-12-13 18:58] dfilatov commented on #333
Там еще тело каждого чанка оказывается в замыкании, поэтому для uglifyjs это будут разные функции.

[2012-12-13 19:05] qfox commented on #333
Ну да, тады ой. Напрашивается постфильтр, или нечто похожее.

[2012-12-15 20:50] tadatuta opened #335 "library node: Don't check upstream if current revision equals treeish value"
Discussion: http://clubs.ya.ru/bem/replies.xml?parent_id=2265&item_no=2248&with_parent=1#reply-bem-2265

[2012-12-15 20:52] tadatuta opened #336 "bem make clean: Don't remove bemdecl if there's no bemjson.js"
If there's no `bemjson.js` on filesystem or any target to generate it `bem make -m clean` shouldn't remove `bemdecl.js`.

[2012-12-15 23:21] #306 closed, assigned to scf2k

[2012-12-17 06:27] tadatuta opened #337 "bem server fails on getLibraries if treeish is commit hash"
Here's part of my `.bem/make.js`:

[code]

If I change `treeish` to branch name it works but if it's a commit hash `bem server` fails since the second browser refresh with such errors:

[code]

[2012-12-17 08:03] arikon commented on #337
Какая версия?

В `master` это должно быть почининено.

[2012-12-17 08:04] tadatuta commented on #337
0.5.22

[2012-12-18 11:55] emusatova opened #338 "Уровень собственных блоков бандла всегда называется blocks"
В узле `BundleNode` захардкожено использование директории `blocks` в качестве собственного уровня бандла (см. https://github.com/bem/bem-tools/blob/master/lib/nodes/bundle.js#L139).

Возможно стоит использовать значение из `blocksLevelsRegexp` (`default-arch.js`) либо использовать именование `name.blocks`, по аналогии с блоками проекта.

[2012-12-25 01:06] qfox commented on #336
Why is it just proposal?

[2012-12-25 11:20] arikon commented on #336
Changed to the bug

[2012-12-25 11:45] kizu opened #339 "List of all available bundles as index page"
Moved this issue from bem/project-stub#7

Right now bem server tells on start-up this:

An if you'd open it, you'll get your project's file tree. I don't think that it's that useful, so I suggest to replace it with a list of all project's bundles instead — that would be really useful and not that confusing.

[2012-12-26 14:29] dosyara commented on #320
Any news?

[2012-12-27 20:49] arikon commented on #320
@scf2k This bug is critical and should be fixed ASAP

[2013-01-15 09:47] scf2k commented on #320
Fixed in bc3b161020ce329c07c83f27b780836d0bb534fb

[2013-01-15 09:47] #320 closed, assigned to scf2k

[2013-01-28 10:45] narqo opened #342 "getLibraries: Error: Can't create symbolicLink <...> to relative location <...>"
Для типа библиотеки `symlink`. Если пути куда нужно установить библиотеку не существует, сборка падает

[code]

[code]

[2013-01-29 17:34] narqo commented on #252
:+1:
Could you release new fixed version, plz, I spent half a day trying to figure out where the bug is :(

[2013-01-30 15:52] scf2k commented on #252
on the go :)

[2013-01-31 11:22] scf2k opened #344 "Use custom naming scheme for optimized file"
Output naming scheme is hardcoded in `BorschikNode` as

[code]

Guess it should be customizable.

[2013-01-31 20:36] scf2k commented on #328
duplicate of #312

[2013-01-31 20:36] #328 closed, assigned to nobody

[2013-01-31 20:42] #252 closed, assigned to nobody

[2013-02-04 12:19] banzalik opened #345 "bem server: добавить возможность пересборки проекта при изменении файлов на FS"
Добавить специальный флаг, который будет менять логику работы сервера, и начнет пересобрать файлы не при запросах к http://localhost, а при изменении исходных файлов проекта.
Когда такое поведение удобней того, которое используется сейчас:
- на одностраничных (малостраничных) проектах, когда переборка всего проекта и есть пересборка одной страницы
- для технологий, требующих малого времени на пере

[2013-02-04 12:23] qfox commented on #345
Может быть машина сможет сама оценивать какой режим использовать (on demand | watch), а то ведь на больших проектах будет сложно оценить, как лучше пересобирать страницу. Да и машина должна лучше знать свои нюансы.

[2013-02-05 09:23] narqo opened #346 "Хранилище глобальных для процесса сборки переменных"
Пытался использовать модуль `bem/lib/env` для установки переменных окружения проекта (корень проекта и пр.). Выяснилось, что при файловой структуре, подобной этой

[code]

«переменный окружения», например `require('bem/lib/env').getEnv('my-var')`, не будут доступны между модулями библиотек (prj ↔ bem-bl), поскольку получается, что для каждой библиотеки будет использоваться свой `node_modules/bem`.

[2013-02-14 21:07] #52 closed, assigned to nobody

[2013-02-18 22:24] narqo opened #352 "Не работает require() в бэкэнд-блоках"
В случае, если подключаемая библиотека состоит из бэкэнд-блоков (некая технология `node.js`) и в коде блоков есть вызов `require('some-npm-module')`, последний не будет работать, если `some-npm-module` не будет явно установлен в проект.

Пример

[code]

Кажется, что единственный (простой) способ поборать проблему — продублирвать зависимости из `bem-node-lib/package.json`, в проектном `package.json

[2013-02-18 23:05] qfox commented on #352
Очевидно, что да.
Почему не собирать package.json, index.js, etc. в отдельное место? И там уже npm install и npm start или whatever...

[2013-03-01 18:16] veged opened #353 "techs/deps: Catch errors in *.deps.js"

[2013-03-01 22:30] #353 closed, assigned to nobody

[2013-03-06 06:04] narqo commented on #352
Мне нравится идея со сборкой специального `package.json`-бандла и установкой зависимостей из него.

Но для этого нужно реализовать некий «npm-воркер», который бы через API npm, явно запускал `npm install some-npm-module@v.e.r` в корне проекта.

[2013-03-07 16:50] narqo opened #355 "ScmLibraryNode не проверяет принадлежность библиотеки к задекларированному типу"
Разрабатываем проект, в котором билиотека `lib1` задекларированна как `svn`-библиотека

[code]

Через какое-то время `lib1` переезжает на **git**. Меняем в `make.js` соответствующие реквизиты.

Делаем `bem make lib1`.

Если **наш проект** тоже использовал git, с настройками по умолчанию, то **bem-tools «убил» все незакомиченные изменения через `git reset --hard`**:

[code]

[2013-03-19 15:42] banzalik commented on #324
up?

[2013-03-19 20:47] scf2k opened #357 "bem make is broken under node 0.10"

[2013-03-20 13:35] scf2k opened #358 "Move borschik dependency to the recent version"

[2013-03-24 21:31] scf2k commented on #337
resolved in #302

[2013-03-24 21:31] #337 closed, assigned to nobody

[2013-03-25 10:06] alurin opened #359 "Mix BEMhtml"
Как заставить BEM-tools вызывать правила из миксированных блоков с технологией BEMHtml.

`pages/example/example.bemjson.js`:

[code]

`blocks/b-link-mixin/b-link-mixin.bemhtml`:

[code]

Ожидаемый результат:

[code]

Реальный:

[code]

[2013-03-25 11:06] scf2k commented on #359
/cc @veged @arikon

[2013-03-26 14:29] veged commented on #359
Это особенность текущей реализации -- примиксованные сущности никак не влияют на шаблоны, только добавляют css-классы и js-параметры. Единственное, что учитывается, это шаблоны на миксы к тому, что примиксовано (см. коммит https://github.com/bem/bem-bl/commit/8e1b409b40fcce18040e3f1614f07c1a78715768 там есть тесты).

К сожалению, быстро это не исправить :-(

[2013-03-26 14:40] qfox commented on #359
@veged Потому что может что-нибудь из приложений сломаться? Или от сложности внутренней логики?

[2013-03-26 14:46] veged commented on #359
@zxqfox да ;-) и обратная совместимость, и есть неоднозначности, которые нужно придумать в какую сторону разрешать, а ещё и вопрос производительности

[2013-03-26 15:58] alurin commented on #359
Можно поподробней про Js параметры (ссылку на документацию). Изучение данного поведения BEM-tools и началось из-за того что появились проблемы с подключение нового js для уже существующего блока.

[2013-03-27 14:45] veged commented on #359
вот подробнее про js -- https://github.com/bem/bem-core/blob/feature/initial/common.docs/reference/reference.ru.md#js

а какие появились проблемы?

[2013-03-28 03:04] alurin commented on #359
Спасибо за ссылку.

Проблема была в том что, данный BEM js для переопределенного блока `b-menu-vert`(`blocks`) из `bem-bl` не работает:

[code]

Вызывается только второй метод live, onSetMode 'js' не активируется

[2013-03-28 14:30] veged commented on #359
Проблема в том, что такая декларация переопределяет базовое поведение `b-menu-vert` целиком, без вызова предыдущего метода (см. про `this.__base` http://bem.github.com/bem-bl/sets/common-desktop/i-bem/i-bem.ru.html#Rasshireniepovedeniya).

Базово меню инициализируется "лениво" только по клику на свои элементы (https://github.com/bem/bem-bl/blob/master/blocks-desktop/i-menu/i-menu.js#L43), поэтому

[2013-03-28 21:29] bariscicek commented on #317
@arikon are you working on this already?

[2013-03-29 04:16] alurin commented on #359
Спасибо.

P.S. Не в тему: Есть шанс запретить рендеру BEMHtml создовать HTML тэги чтоб подменить у `b-page` элемент `root`?

[2013-03-29 04:16] #359 closed, assigned to nobody

[2013-03-29 07:34] narqo commented on #324
:+1:

Появилась идея унести все компиляционные процессы из технологий в optimizer-узлы. Кажется, что ускорило бы инвалидацию при пересборки.

В чем идея: запускать процесс компилляции (bemhtml->bemhtml.js, sass->css, coffee->js) не на этапе `bem-build`, а из `optimizer`-узлов.

[2013-03-29 07:38] arikon commented on #324
@narqo Идея правильная! Помню, я даже кому-то рассказывал, как правильно это сделать в borschik

[2013-03-29 08:32] arikon commented on #317
@bariscicek I've started and then postponed my work

[2013-03-29 22:55] bariscicek commented on #317
@arikon Maybe you can share your code so I can continue working on this issue?

[2013-03-30 11:40] veged commented on #359
не очень понял вопрос про запрет создания HTML тегов -- можно завести отдельный issue с описанием проблемы/задачи, я постараюсь ответить

[2013-03-30 11:41] arikon commented on #317
I'll push it later today!

30.03.2013, 00:55, "Baris Cicek" notifications@github.com:

##

Отправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail

[2013-03-30 11:51] bariscicek commented on #317
@arikon cool thanks.

[2013-03-30 21:11] arikon commented on #317
@bariscicek Just pushed `bem-mv` branch

[2013-04-01 13:31] arikon opened #361 "Port Arch.createCustomNodes() from introspect branch into master (0.5.x)"
Use feature branch

[2013-04-01 14:21] narqo commented on #361
:+1:

А то я уже начал monkey-patch-ить узлы в bem-gen-doc

[2013-04-02 11:33] arikon opened #362 "Refactor Level.match methods"
We could add additional generic matcher into `Level` class to filter paths of BEM entities only

[2013-04-04 22:01] arikon opened #363 "Add ability to write tech module as a function"
We should add an ability to write tech module as a (async?) function, that should return (promised?) object of tech extension.

This will also resolve possible problems with `bem` in different versions (project and libraries) interoperating in the same runtime.

[code]

or

[code]

Inspired by `enb-make.js` configs.

[2013-04-04 22:07] arikon opened #364 "Add ability to write level config module as a function"
We should add an ability to write level config module as a (async?) function, that should return (promised?) object of level extension.

This will also resolve possible problems with `bem` in different versions (project and libraries) interoperating in the same runtime.

[code]

or

[code]

Inspired by `enb-make.js` configs.

[2013-04-04 22:33] arikon opened #365 "Resolve tech names using .bem/techs/ project directory"

[2013-04-04 22:34] arikon opened #366 "Resolve level names using .bem/levels/ project directory"

[2013-04-04 22:36] arikon opened #367 "Add ability to specify level prototype as a name"
We should add support of `baseLevelName` property in level config modules.

So we could write

[code]

instead of

[code]

[2013-04-05 07:27] #361 closed, assigned to arikon

[2013-04-05 12:58] eprev commented on #363
+

[2013-04-05 12:58] eprev commented on #364
+

[2013-04-06 13:27] qfox commented on #363
+

[2013-04-08 08:57] bariscicek commented on #317
@arikon I just started working on the branch. I haven't committed anything, but first  Ineed to clarify some stuff since it might be related with design decisions.
First of all I added a 'default level' option. Because otherwise you need to specify `-s`  and `-t` everytime even though you're working in same level, which should be a case for most of the use cases. Now it uses `-l` option to set `so

[2013-04-08 11:04] bariscicek commented on #100
Here 'less' support added by tech files. It renders the output of .less files and .css files together.
https://github.com/bariscicek/project-stub/tree/patch-1

[2013-04-08 11:17] bariscicek opened #369 "bem remove command"
bem-tools should have a functionality to remove entities in bem tree.
Proposed command should remove entities using the same options as the bem create command.

[code]

kind of usage should also work.

Removed entities should be moved to .attic directory on the root of level dir for backup. --force should remove the entity without moving to .attic. Restoring from backup should be a manual work.

[

[2013-04-09 12:33] bariscicek commented on #317
@arikon I need more info about BEM entity changes. First of all what's the point? I don't see any use case. Second, how it could be possible? For example for a tree `block1_elem1_mod` you want to move it as an element `elemNew`. So that content of `block1` will be content of `__elemNew` and content of `elem1` will be `_elem1` (ie. a mod) and `_mod` will be a value indeed? I'm trying to say, once y

[2013-04-09 13:21] tadatuta commented on #100
@bariscicek I'll try to find some time this week to review your patch and add it to bem tools insted of project-stub so it will be available for any project.

[2013-04-09 13:54] bariscicek commented on #100
@tadatuta it's mostly your work anyway.))

[2013-04-09 23:32] bariscicek commented on #317
Ok with recent patch, I'll be waiting for you to check. This includes content change as well which is pretty useful.

[2013-04-14 14:20] narqo opened #372 "bem create level fails on Node.js 0.10.x"
[code]

[2013-04-18 15:21] xseignard commented on #141
Hi, I'm investigating the same area, and your discussion popped out! But I can't understand russian :)

I tried node-jscoverage (https://github.com/visionmedia/node-jscoverage) and jscover(https://github.com/fengmk2/jscover).

I'm not satisfied with the first one, since I don't have the hand on what to install on my CI server. And I noticed some wrong instrumentation on the second one.

What was y

[2013-04-19 11:52] bariscicek opened #373 "Support using 'level/' prefix for bem entities"
When declaring a bem entity on CLI it's valid to use block__elem_mod_val.tech usage. There is no level declaration in this specifications. It should make usage of bem tools easier if this specification supports level/block__elem_mod_val.

[2013-04-21 05:05] arikon commented on #352
@narqo Помнишь, мы обсуждали, как это сделать через `borschik:link:`?

[code]

[2013-04-21 08:28] narqo commented on #352
@arikon И когда будет борщик-линк? veged/borschik#39 — таску пол года

[2013-04-21 09:08] xseignard commented on #141
I ended with istanbul. And your mocha-instanbul reporter. Thanks!

[2013-04-22 12:30] arikon commented on #141
@xseignard You are welcome! ;)

[2013-04-23 13:02] mishaberezin opened #375 "Метод setEnv должен брать поле verbosity а не verbose"
Здесь видно, что передается поле `verbosity`:

https://github.com/bem/bem-tools/blob/d68c7e8f19106458ce91882315195e7364e9b9f9/lib/commands/make.js#L59

https://github.com/bem/bem-tools/blob/a9e9aa74d3f4b85905b430006924218d18aadb5c/lib/commands/server.js#L75

А `setEnv` почему-то ищет поле `verbose`:

https://github.com/bem/bem-tools/blob/219f9a16f48e4edcd60a75db5a36de81914b7982/lib/util.js#L695

[2013-04-23 13:07] #375 closed, assigned to nobody

[2013-04-23 19:34] arikon commented on #352
cc @diunko @batovsky

Если всё сойдётся, то на этой-следующей неделе.
Если нет — то отложится на неопределённый срок.

[2013-04-26 14:47] veged opened #380 "Document fix for PATH in installation instructions"
Part about https://github.com/bem/project-stub#fix-your-path-environment-variable need to be mentioned as "recommended" in main documentation about install.

[2013-04-26 21:18] arikon commented on #380
Developers should use `smartcd` instead of `PATH` hacking.

[2013-04-26 21:23] corpix commented on #380
`smartcd` is a good tool, but for people not so far familiar with unix and commandline it's very difficult to use and understand

[2013-04-27 01:37] veged commented on #380
ok! document both ways then ;-)

On 27.04.2013, at 1:18, Sergey Belov notifications@github.com wrote:

[2013-04-27 16:00] bariscicek commented on #380
@arikon thanks for pointing `smartcd` looks like what I missed for years.)

[2013-05-01 19:18] ignovak opened #381 "Документация про наследование старых технологий через BEM.getTechClass()"
Если использовать описанный в http://ru.bem.info/tools/bem/tech-modules/ способ для продвинутых (`BaseTech = BEM.getTechClass(require.resolve('path/to/tech/module'));`), то возникает ошибка:

[code]

[2013-05-04 15:37] narqo opened #382 "GitLibraryNode неправильно инвалидируется"
У меня задекларированна зависимость от библиотеки bem-yana, `branch: 'unstable'`.

Делаю `› bem make vendor/bem-yana -v verbose`:

[code]

При этом ветка `unstable` на github, уже давно ушла вперед, но bem-tools даже не попытался проверить, куда смотрит удаленная ветка.

[2013-05-04 15:44] scf2k commented on #382
Так и задумано... Сделай `--force` - должно зафетчиться.

[2013-05-04 15:46] narqo commented on #382
К слову `--force` не помагает:

[code]

[2013-05-04 15:48] scf2k commented on #382
Ага, ну теперь то оно пыталось обновить. Починю.

[2013-05-15 13:20] dkokorev90 opened #385 "bem decl subtract losts depsByTechs"
при сборке бандла вычетается все нормально кроме `depsByTechs`, оно вычетается полностью

[2013-05-15 14:08] gurugray commented on #385
:+1:

[2013-05-17 09:11] narqo opened #386 "child_process#fork invokes incorrectly"
\cc @arikon

Код вызова worker-а в [build-ноде](https://github.com/bem/bem-tools/blob/dev/lib/nodes/build.js#L165):

[code]

<del>В итоге, в child-процес не будет проброшенно `env`-окружение</del> (`env` пробрасывается по умолчанию, но это «случайность», пробросить/задать `cwd` таким образом не получится), поскольку вторым параметром в `fork` должен быть `Array`.

Подробнее у @kaero: https://githu

[2013-05-17 10:01] kaero commented on #386
По счастливой случайности передача окружения будет происходить в данном случае, так как если опция env не передана, то `spawn` вызываемый из `fork` передает `process.env` по-умолчанию https://github.com/joyent/node/blob/v0.10.6/lib/child_process.js#L702

Но исправить все равно нужно: достаточно убрать второй и третий аргументы `fork` совсем, т.к. передача окружения о текущего процесса — это дефолт

[2013-05-17 13:30] veged opened #387 "Use dynamic source maps if possible"
http://kybernetikos.github.io/jsSandbox/srcmaps/dynamic.html

[2013-05-22 21:33] #342 closed, assigned to nobody

[2013-05-22 21:33] arikon commented on #342
Fixed in #384

[2013-05-22 21:39] arikon commented on #373
@bariscicek Could you open pull request for this?

[2013-05-22 21:41] #385 closed, assigned to nobody

[2013-05-22 21:41] arikon commented on #385
Will be released with deps refactoring

[2013-05-23 09:30] arikon commented on #317
@bariscicek Sorry for the delay. Could you please open pull request for this?

[2013-05-23 09:44] gurugray commented on #385
when it will bee?

[2013-05-23 10:17] arikon commented on #385
@gurugray It depends on the refactoring of techs API which is @scf2k doing

[2013-05-23 11:48] gurugray commented on #385
so, how long is that? :)

[2013-05-23 17:07] arikon commented on #372
@scf2k ping

[2013-05-23 18:49] arikon commented on #372
Fixed in 0.5.32

[2013-05-23 18:49] #372 closed, assigned to nobody

[2013-06-04 12:00] narqo commented on #382
@scf2k ping?

[2013-06-04 14:10] scf2k commented on #382
помню помню! :)

[2013-06-12 17:36] veged opened #391 "Port js-techs from bem-core"
https://github.com/bem/bem-core/tree/dev/.bem/techs/
- https://github.com/bem/bem-core/blob/dev/.bem/techs/vanilla.js.js -> `bem-tools/lib/techs/ym-vanilla.js.js`
- https://github.com/bem/bem-core/blob/dev/.bem/techs/node.js.js -> `bem-tools/lib/techs/ym-node.js.js`
- https://github.com/bem/bem-core/blob/dev/.bem/techs/browser.js.js -> `bem-tools/lib/techs/ym-browser.js.js`

[2013-06-13 17:26] veged opened #392 "levels: Ability to use objects in `getTechs` values"
Right now we write some thing like that:

[code]

It will be useful if we can write some thing like this:

[code]

So we can implement tech modules inline, without need to create file.

[2013-07-03 05:30] diunko opened #397 ""builds two targets" test in test/bem-make.js fails every third time"
Preconditions: `node 0.10` `bem-tools 0.6.5` (and probably some earlier revisions).

Presumably, it's due to some make process race condition, which is now exposed with the new behavior of `process.nextTick()`.

Workaround: use `setImmediate()` instead of `nextTick()` in `q` module.

Not sure what the actual fix would be.

/cc @arikon

[2013-07-03 06:01] arikon commented on #397
/cc @scf2k

[2013-07-04 19:20] dfilatov opened #401 "Add shortcut for deps from multiple elems"
If i need deps from multiple elems of block, i should use:

[code]

It would be more convenient if I could write so:

[code]

[2013-07-04 19:20] dfilatov commented on #401
cc @veged

[2013-07-04 21:08] narqo commented on #401
@dfilatov

[code]

?

BTW: http://ru.bem.info/articles/deps-js-syntax/

[2013-07-05 07:02] dfilatov commented on #401
@narqo, i need deps only from elems, not including the block.

[2013-07-08 08:59] tadatuta opened #403 "Update borschik dependency"
Current version is `0.3.2`.

[2013-07-11 08:49] hsalkaline opened #405 "bem make should fail if dependency in deps.js not met"
bem -v 0.6.8
### steps to reproduce:

get project-stub

make content of below files as described

desktop.bundles/index/index.bemjson.js:

[code]

desktop.blocks/block/deps/js:

[code]

another-block is not present in project

run bem make
### expected behavior

build should fail (or at least produce warning) with message of unmet dependency "another-block" for block "block"
### actual result

bui

[2013-07-16 16:19] narqo commented on #392
:+1:

[2013-07-24 10:40] vithar commented on #159
Эта задача ещё актуальна?

[2013-07-24 16:46] diunko commented on #159
По крайней мере, никто ее не чинил. И​ @scf2k говорил, что на больших
проектах проблема есть.

[2013-07-30 10:18] dfilatov opened #411 "deps: alias for mods"
`mods: 'my-mod'` should be alias for `mods: ['my-mod']`

[2013-07-30 11:04] fi11 opened #412 "Проблема с кэшированием в технологии v2/deps.js"
Node Js 0.10.5, Bem Tools 0.6.10. Развернул проект на основе project-stub master. Проблема в следующем: при добавлении в bemjson бандла новой сущности, которой ранее не было (например модификатора или нового блока), в *.bemdecl она попадает, а вот в *.deps.js  уже нет. Приходится либо удалять *.deps.js перед  сборкой или переопределять checkLevelsChanged(что-бы  всегда возвращала true) в deps.js.

[2013-07-31 14:29] veged opened #413 "deps: Context of deps declaration by techs"
Right now we must write like this:
b__e_m_v.deps.js

[code]

It's strange, because we already have BEM-item context and it's possible to write:

[code]

[2013-08-02 10:02] awinogradov commented on #412
+1 таже проблема

[2013-08-03 12:44] apsavin opened #414 "More verbose API V1 warning"
This message:

WARNING!
Tech modules API V1 is not recommended to use, because it is slow.
Please use tech modules API V2, it makes your build process faster!

must be with list of tech modules with API V1 that in use in current project.

[2013-08-05 16:30] SevInf opened #416 "When extending one of the core techs by name, V1 techs is always used"
Example:

[code]

will load `techs/js.js` as a base instead of `techs/v2/js.js` as one might expect from `API_VER` value.

Proposed solution:
1. Add optional `version` argument to `Level#resolveTech`. By default it will be `1`.
2. It will be passed down to `bemUtil#getBemTechName` which will use it construct appropriate path.
3. Actually check base class's `API_VER` in `tech#getTechClass`. If vers

[2013-08-05 16:49] diunko commented on #416
Expected behavior for this example would be loading tech named `js` from `level.getTechs()` map, which actually happens: https://github.com/bem/bem-tools/blob/support/0.6.x/lib/tech/index.js#L16.

`API_VER` works for tech mixins that don't have `baseTechName` property: it states that base class should be `tech/v2`, and it (`API_VER`) doesn't really make much sense when `baseTechName` is used.

We

[2013-08-05 16:53] scf2k commented on #416
Right.

Yes, I thought about this. It should be done to avoid scary stack traces when `v1` and `v2` are mixing up.

[2013-08-05 17:50] SevInf commented on #416
If `js` tech is not configured in `level.js`, `bem/lib/techs/js.js` [will be loaded by default](https://github.com/bem/bem-tools/blob/support/0.6.x/lib/level.js#L171). Same is true for all V1 techs included in bem-tools itself. Why don't do the same for V2? With a time, when V2 API will evolve and difference between V1 and V2 will increase, resolving only V1 by default will make less and less sens

[2013-08-05 22:53] diunko commented on #416
Sounds reasonable. I think it's one of API issues to consider before v1.0 release.

And I'm not quite sure yet how it has to do anything with npm-packaged technologies, once we get lucky with them.

[2013-08-06 11:02] dfilatov opened #418 "Throw warning when try to use some directory as level without `.bem/` subdirectory"

[2013-08-06 13:45] narqo commented on #418
:+1:

[2013-08-14 08:49] dfilatov opened #423 "bemdecl.js: Traverse through all fields, not only `mix` and `content`"
We need to exclude only particular fields such as `block`, `elem`, `mods`, `tag`, `attrs`, `cls`, `js` and etc. All other custom fields may contains sub-trees of BEMJSON and should be included to final declaration.

[2013-08-15 11:46] veged opened #425 "css: Template for boolean modifiers new file"
`bem create -b b1 -m m1 -T css`
create:

[code]

but should create:

[code]

[2013-08-17 01:06] tadatuta opened #427 "libraries: Could not create leading directories: File exists"
video: http://ascii.io/a/4940

[code]

[2013-08-17 01:10] #211 closed, assigned to nobody

[2013-08-17 01:11] tadatuta commented on #403
up

[2013-08-19 10:41] dfilatov commented on #423
ping

[2013-08-20 09:34] scf2k commented on #427
Удалось повторить только единожды. Подозреваю что такое может случиться когда два процесса гита пытаются создать директории по пути до библиотеки. Добавлю в bem-tools создание пути перед тем как запускать гит.

[2013-08-20 16:12] arikon commented on #425
@veged Please explain this issue

[2013-08-20 16:18] arikon commented on #418
@SevInf Давай сделаем в 0.6.x

[2013-08-20 16:19] arikon commented on #414
@SevInf Lets do it in 0.6.x

[2013-08-20 16:20] arikon commented on #413
@SevInf Have a look at this, please. We can make it in 0.6.x.

[2013-08-20 16:22] arikon commented on #405
@hsalkaline Should we do it for `mustDeps` only?
Could you make PR for the `support/0.6.x` branch, please?

[2013-08-20 16:23] arikon commented on #412
Should be fixed now

[2013-08-20 16:23] #412 closed, assigned to nobody

[2013-08-20 16:45] arikon commented on #411
@dfilatov `mods: 'my-mod'` or `mod: 'my-mod'`?

[2013-08-20 16:47] arikon commented on #401
@dfilatov Try

[code]

[2013-08-20 20:24] veged commented on #401
@arikon that's the same as @narqo suggested -- `elems` field is short cut for declaration both block and elements, i.e. `{ block: 'b1', elems: ['e1'] }` equal to `[{ block: 'b1' }, { block: 'b1', elem: 'e1' }]`

but we need possibility to declare elements without block declaration, i.e. `{ block: 'b1', elem: ['e1', 'e2'] }` should be equal to `[{ block: 'b1', elem: 'e1' }, { block: 'b1', elem: 'e2

[2013-08-20 20:36] veged commented on #425
@arikon I added description to the ticket

[2013-08-20 20:37] arikon commented on #401
@veged I've got it

[2013-08-20 20:39] arikon commented on #425
@scf2k Commit this into `support/0.6.x` branch

[2013-08-20 20:39] arikon commented on #401
@SevInf Have a look at this, please

[2013-08-21 05:37] dfilatov commented on #411
`mods: 'my-mod'`

[2013-08-21 18:05] narqo commented on #367
Ребят, а зачем вообще нам возможность иметь много разных типов уровней? Кажется, что время показывает, что оно больше мешает (наличием огромного объяема копи-паста), чем помогает.

Из плюсов: кастомный нейминг — реально используется разве что в «примерах» и то, только потому что мы так умеем. При этом, нужно всегда держать в голове, что знак подчеркивания имеет тайный смысл и назвать пример `10-si

[2013-08-22 09:40] #414 closed, assigned to nobody

[2013-08-22 13:48] SevInf commented on #401
Won't it be confusing? This code

[code]

looks almost like this:

[code]

and difference between them is not obvious without looking into documentation.
May I suggest some alternative, for example:

[code]

@arikon, @dfilatov, @veged what do you think?

[2013-08-22 15:52] veged commented on #401
I prefer originally described variant as more consistent with current deps.js format. Yes, it's not obvious at all, but if we need something more "literature" and "verbose" we should architect fully new version of deps.js format.

Also, you always have an option to not use shortcuts and write more verbose and obvious instead of `{ block: 'blah', elem: ['e1', 'e2'] }` — `[{ block: 'blah' }, { block

[2013-08-22 16:59] SevInf commented on #401
IMHO, original proposal will make API more inconsistent - we'll basically have same construction meaning different things depending whether or not its an element of an array. It is also very error-prone. When I have a dependency on `e1` and `e2`  of `block1` described like this:

[code]

if I need to depend on `e3` and `e4` of `block2` I would logically assume I should have an array where previous

[2013-08-22 19:16] veged commented on #401
There is no differences in using array or single string, they both mean the same — depend on some elems (without depending on block itself).

On 22.08.2013, at 9:59, Sergej Tatarincev notifications@github.com wrote:

[2013-08-23 06:58] narqo opened #438 "Public API methods for bemdecl.js tech module"
I need an ability to translate some data from `bemjson.js` to `deps.js` (see narqo/bem-pr#46) but `bemdecl.js` tech-module has no any exported method to doing so.

[2013-08-24 07:14] #386 closed, assigned to nobody

[2013-08-27 12:51] scf2k commented on #382
в 0.6 работает как ожидается, когда используется branch и --force.

[2013-08-27 12:51] #382 closed, assigned to nobody

[2013-08-27 13:17] #358 closed, assigned to nobody

[2013-08-27 13:18] scf2k commented on #357
Кроме этих фиксов заморозили q@0.9.5. С 0.9.6 есть проблемы.

[2013-08-27 13:18] #357 closed, assigned to scf2k

[2013-08-27 14:20] scf2k commented on #355
https://github.com/bem/bem-tools/pull/441

[2013-08-27 14:20] #355 closed, assigned to nobody

[2013-08-27 14:20] #335 closed, assigned to nobody

[2013-08-29 10:28] narqo commented on #416
:+1: for that.

For now I get real case issue: I get a project, which is depends on `bem-core` of some old pre-version (commit hash is fixed). So I have a level.js with this techs declared

[code]

After updating to the current state of `bem-core`, bem-make starts failing with

[code]

which tolds me nothing about why and what has happend.

[2013-08-30 14:33] scf2k commented on #392
@veged, @narqo, @arikon take a look https://github.com/bem/bem-tools/pull/446

[2013-09-04 12:29] #427 closed, assigned to nobody

[2013-09-04 12:45] #403 closed, assigned to nobody

[2013-09-04 12:48] #423 closed, assigned to nobody

[2013-09-04 14:26] scf2k commented on #416
@narqo doesn't seem to be a techs problem. You have borschik failed to find a file.

[2013-09-04 14:55] narqo commented on #416
@scf2k

[code]

**legoa2/desktop.bundles/libs/bem-core** but should be **legoa2/libs/bem-core**

And this happend because of API-changes between v1 and v2. So one of tech's API method returns wrong path.

[2013-09-10 14:15] #425 closed, assigned to nobody

[2013-09-10 14:31] #418 closed, assigned to nobody

[2013-09-16 13:17] dfilatov opened #459 "deps: possibility to declare dependence without explicit including item"
Now when we have declarations `b1 mustDeps b2` we explicit include `b2` to build. We need to have possibility to declare same dependence but `b2` should be included only if really needs.

[2013-09-18 12:41] dfilatov commented on #401
это нужно портировать в соответствующую v2-технологию

[2013-09-18 12:45] dfilatov commented on #413
Это нужно портировать в соответствующую v2-технологию.

[2013-09-19 14:32] arikon commented on #413
@SevInf Серёг, портируй, пожалуйста

[2013-09-30 00:18] fi11 opened #471 "create level bug on windows"
https://github.com/bem/bem-tools/blob/dev/lib/commands/create/level.js#L98
для windows надо слеши развернуть, из-за этого например не собираются тесты.

[2013-10-03 11:22] tadatuta opened #472 "Перейти на borschik 0.4.0"
This version is partially incompatible with 0.3.x

Use vow instead of q for promises
Remove deprecated technologies: css-fast and js-link
json-links tech renamed to json
OmetaJS and CoffeeScript techs moved from main repo to plugins
Resource inlining support. See doc for details
New js-include notations. See doc for details
Fix some issues with freeze in html tech (#30, #39)
Update UglifyJS to 2.4

[2013-10-07 06:58] MikeBazhenov opened #473 "Шаблонизация в браузере"
Всем привет!

Прочитал что можно запустить экспорт bemjson2html в браузере, как скриптик для этого юзать? И как?

[2013-10-07 07:40] tadatuta commented on #473
Мм... предположу, что речь о наложении шаблонов на клиенте и для этого необходимо указать в deps.js нужные на клиенте блоки в технологии bemhtml (подробнее см. http://ru.bem.info/articles/deps-js-syntax/ раздел Подключение зависимостей по технологии) и вызывать BEMTHML.apply(bemjson). В случае использования модульной системы необходимо указать зависимость от BEMHTML

[2013-10-07 11:52] MikeBazhenov commented on #473
А вообще имеет ли смысл делать так?
Есть какие нибудь тесты на скорость?

Вижу два плюса в этом это уменьшение трафика и просто крутой подход:)

[2013-10-07 20:15] tadatuta commented on #473
Не уверен, что понял вопрос. Имеет ли смысл шаблонизация на клиенте как таковая? Например, в случае ajax-запроса к стороннему API особых вариантов нет. В ситуации, когда есть возможность рендерить шаблоны на сервере — да, это уменьшение трафика + перекладывание нагрузки с единого сервера на браузерых многих пользователей, что достаточно рационально ;)

[2013-10-07 20:16] tadatuta commented on #473
Вообще вопросы/обсуждения лучше перенести в клуб: http://clubs.ya.ru/bem/

[2013-10-07 20:16] #473 closed, assigned to nobody

[2013-10-08 21:43] boronchiev commented on #100
@tadatuta есть ли поддержка less сейчас? Использует ли её какой-нибудь проект?

[2013-10-16 11:23] arikon commented on #401
@SevInf Готово к портированию

[2013-10-16 12:26] #363 closed, assigned to nobody

[2013-10-16 12:26] #364 closed, assigned to nobody

[2013-10-16 12:28] arikon commented on #367
@narqo В `bem-tools@1.0.0` мы сильно упрощаем это место через `LevelManager`. Все необходимые для сборки конфиги можно будет написать в `.bem/make.js`.

Конкретно этот фикс помогает заткнуть одну дырку в сборке проектов на `romochka`.

[2013-10-16 12:29] #367 closed, assigned to nobody

[2013-10-16 12:33] arikon commented on #352
@narqo Можно делать так (со слов @doochik):

[code]

[2013-10-16 12:41] arikon commented on #352
Совсем правильным решением будет технология в `bosrchik`, которая будет правильно раскрывать `require()` в собираемых файлах.

Про это есть задача bem/borschik#32.

Эту закрываю, потому что в bem-tools про это сделать нечего.

[2013-10-16 12:41] #352 closed, assigned to nobody

[2013-10-16 12:42] arikon commented on #472
Попробуем сделать в `bem-tools@1.0.x`

[2013-10-16 12:44] arikon commented on #346
Решение `bem/lib/env` не полетело, и в bem-tools больше не используется (на сколько я помню). Альтернативного решения не придумали.

Буду рад конкретным архитектурным предложениям.

[2013-10-16 13:06] qfox commented on #346
Разве технически это возможно без использования глобальных переменных?

Например, можно, как-то так:

[code]

И тогда require('bem').env() выдаст всегда одно и то же. Но это мало чем отличается от process.env.__var

Если делать require('bem') — оно будет искать в ./node_modules/bem/ относительно используемой библиотеки, т.е. будет много разных подключений и у каждого будут свои области видимости,

[2013-10-17 21:14] narqo commented on #352
@arikon проверил, можно :+1:

Но я за решение с технологий раскрывающей `require` — `borschik.link()` для node_modules не надежно (либо нужно всегда использовать bundleDependencies)

[2013-10-18 01:20] qfox opened #477 "npm test: 7 failed tests in 'bem make'. v0.6.16, release-1.0.0"
В 0.6.16 валятся исключительно bem make тесты.

[code]

И все, в основном, про это же.

В 1.0.0 не только они, но и они тоже. Все-таки alpha5, это понятно.

В общем, может быть я дурак, но банально не хватало `git submodule update --init`

Может лучше это внести в `make test`? ;-(

[2013-10-18 01:32] qfox commented on #94
`_` usage at the moment:

[code]

It's easily can be replaced ATM.

[2013-10-18 02:10] qfox commented on #381
Вторым параметром метод ждет объекта Level
cм `./bem-tools/lib/level/level.js`
Пример использования есть в `./lib/util.js`: require('./level').createLevel(path)

[2013-10-18 02:22] qfox commented on #416
Seems like the same problem.
`mocha test/bem-make.js -b` failed on the first `bem make` test because of INHERIT inside getTechClass can't mix TechClass (Function) with `i18n` techMixin (Object) with base tech `js`.
Also tests for ie*.css techs failing because of the same bug.

[2013-10-18 10:53] qfox commented on #346
Еще вариант — key-value сторадж поднятый на unix-сокете или локальном порте (не уверен, можно ли сокеты под win, врядли).
Т.е. что-то вроде легковесного редиса, в субмодулях клиент, в bem-tools сервер. Видимо, для win придется передавать port через process.env или как-то еще.

Ну и, конечно же, можно передавать при инстанциировании объект, который key-value storage.

[2013-10-18 18:01] qfox commented on #346
Вот так, например.

[2013-10-18 23:28] qfox commented on #254
Close to #346. To have the ability of global logger levels main module should share them with submodules somehow.

[2013-10-19 16:13] arikon commented on #346
@zxqfox Решение в целом ок. Но не покрывает случаев передачи данных во внешние процессы, например, bem build, запущенный через fork().

Ну и расскажите про реальные ситуации, когда такое хранилище полезно? В bem make в стандартных нодах мы от такой необходимости избавились.

[2013-10-19 17:47] qfox commented on #346
@arikon Да, но между субпроцессами в node есть способ шаринга через IPC: http://nodejs.org/api/child_process.html#child_process_example_sending_socket_object т.е. можно попробовать так, если нужно:

[code]

Есть ряд вопросов, типа стоит ли давать возможность писать из форка в основной env и т.п. Да и вообще, надо ли? Можно же передать все нужное при запуске и этого должно быть достаточно.

В исход

[2013-10-19 19:14] arikon commented on #346
@zxqfox Какие ошибки рисует `make test`? При сборке PR в Travis, на сколько я вижу, ошибок нет.

Как минимум нужно прокидывать `env` в воркеры, см. `lib/node/workers`. Предложенный способ годится. Только для получения глобального `env` и установки его в форках я бы использовал геттер и сеттер в `lib/env`. Чтобы не таскать по коду знание о `process.BEMENV`.

Кажется, сейчас это не нужно.

[2013-10-19 20:00] qfox commented on #346
@arikon я попробую заново сделать git clone, чтобы можно было повторить. если ничего не найду — покопаю, может быть просто `make clean` нужно поправить

Да, конечно. Это бы пруф оф консепт. Я попробую сделать проброс через механизмы ноды, но пока слабо себе представляю в каком месте вешать событие на message, где его отправлять и как ловить. Это нужно, чтобы объект приходил вовремя, ведь сейчас ge

[2013-10-20 02:54] qfox commented on #346
`child.send('env', process.BEMENV);` вот такой вариант не работает.
`child.send({type: 'bem-env-set', name: name, value: value});` вниз по дереву спускает данные. Есть проблема в том, что данные не совсем сразу появляются. либо промисы туда, либо через callback:

[code]

[2013-10-20 03:03] qfox commented on #346
Вот так это выглядит:
https://github.com/zxqfox/bem-tools/commit/e4777d9f0e5741aeeaedbef1023501b4920c5416

[2013-10-20 07:05] arikon commented on #100
@boronchiev There is no support for less in core techs for now

[2013-10-20 07:07] arikon commented on #477
@zxqfox Хорошая идея. На Travis сейчас это выполняется в `.travis.yml`.

[2013-10-20 07:09] arikon commented on #94
@zxqfox We already replaced `underscore` with `lodash` in `release-1.0.0`

[2013-10-20 09:16] arikon commented on #346
@zxqfox Действительно ли нужно во время жизни `child` досылать туда изменения значений? Точно ли не будет достаточно послать туда сообщение один раз при старте?

[2013-10-20 09:17] arikon commented on #346
/cc @diunko @SevInf Что думаете?

[2013-10-20 11:27] qfox commented on #346
@arikon Может быть и не нужно. Но т.к. я не могу вангануть и сказать точно, понадобится ли это — то сделал поддержку сразу. Да и гонять данные через FD не самая медленная операция.
Может быть просто включать этот режим по флагу?

[2013-10-20 11:29] arikon commented on #346
@zxqfox Я про необходимость реализации этого в коде (KISS), не про опцию ;)

[2013-10-20 16:57] arikon commented on #471
Could you post error messages here please?

[2013-10-20 20:27] qfox commented on #471
That tests...
I've executed mocha by self (there is no `make` for win). And there are some fails with back slashes:

  2) bem make creates proper artifacts:
     Error: find . -type f -exec diff -q {} ........\test-make-temp/{} \; 2>&
1 failed: find: missing argument to `-exec'

[code]

  6) bem make builds two targets:
     Error: There is no such id in arch.nodes: pages/example/_example.css

[2013-10-21 00:02] qfox commented on #477
@arikon Убрал из тревиса. Но дважды запущенный git submodule update --init не ломал тесты.
Сейчас пересоберу пул реквест, не подтягиваются новые коммиты. Кажется, я сломал гитхаб.

[2013-10-21 00:28] qfox commented on #477
Тут, по-хорошему, нужно еще `make clean` починить.
Если сделать

[code]

[2013-10-21 00:45] qfox commented on #477
Помогает `rm -rf ./node_modules && npm i`. Может можно какой-то флаг ему сказать, чтобы `npm install` установил более нужные версии бандла?
С другой стороны, скорее всего этой проблемы не будет, когда dev будет смотреть на на v1.0.0-stable, а не на что-то вроде support/0.5+патчи.

[2013-10-21 00:53] qfox commented on #94
@arikon Please can you push your changes to `release-1.0.0`? I still see `underscore` in code. ;-(

[2013-10-21 07:23] arikon commented on #94
@zxqfox Hm, we need to check!
@SevInf I remember you merged this change, didn't you?

[2013-10-21 10:13] SevInf commented on #346
Вообще кажется что все опции - это write-once и докидывать изменения в подпроцессы и вообще позволять кому-либо (детям или самому родителю) менять опции после того как их единожды записали - не нужно и потенциально небезопасно. Я бы какое-то такое API предпочел.

[code]

Кажется, что это можно решить созданием файла в `/tmp`  или `.bem` - с виндой проблем не будет.

[2013-10-21 11:28] qfox commented on #346
@SevInf Т.е. желательно синхронное и можно без хлеба?

[2013-10-21 12:02] SevInf commented on #346
@zxqfox, можно и асинхронно. Мысли которые я хотел выразить:
1. `env` устанавливается один раз и в последствии не меняется;
2. интерфейс доступа к переменным среды одинаковый для основного процесса, и для форка.

[2013-10-21 12:20] qfox commented on #346
@SevInf (2) сейчас реализовано, но инициализация разная, после чего getEnv работает синхронно с локальным объектом.
Т.е. если запускать как-то так:

[code]

то все ок.

Писать в файл, имхо, не лучшая идея, поскольку придется еще и синхронизировать запись в файл с запуском детей. С другой стороны, можно будет писать в любом месте синхронный код:

[code]

Почему я оставил setEnv в дочернем процессе

[2013-10-21 13:54] SevInf commented on #94
@arikon, no it wasn't me. Both [`1.0.0`](https://github.com/bem/bem-tools/blob/release-1.0.0/package.json) and [`0.6.x`](https://github.com/bem/bem-tools/blob/support/0.6.x/package.json) are still using `underscore`.

[2013-10-21 18:27] arikon commented on #94
Shame on me

21.10.2013, 16:54, "Sergej Tatarincev" notifications@github.com:

##

Отправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail

[2013-10-21 20:21] varya opened #484 "First opening of desktop.bundles under bem server gives 500"
An error occurs when first open a list of bundles

The config is from here.
Load http://localhost:8080/desktop.bundles and get:

[code]

But it starts working normally after reloafing the page.

[2013-10-21 20:27] qfox commented on #484
Seems like `new Buffer (Q-promise-instance)` throwing this.

[2013-10-21 20:29] varya opened #485 "Empty static files with bem-tools 1.0.0"
Go after https://github.com/bem/project-stub/tree/feature/bt-1.0.0
`bem server` generates empty .html and .css files. .bemdecl.js, .desps.js and behtml.js are filled in with someting (do not know normal or wrong).

PS: .ie.css and .ieN.css are built normally.

[2013-10-22 07:32] SevInf commented on #485
In 1.0.0 libraries are not installed by default. Make sure you run [`bower-npm-install`](https://github.com/arikon/bower-npm-install) before `bem make` or `bem server`.

[2013-10-23 13:31] arikon commented on #94
@zxqfox Could you make a PR for the `release-1.0.0` branch?

[2013-10-23 17:19] qfox commented on #94
@arikon Sure. Added to my todo list.

[2013-10-26 23:13] qfox commented on #94
@arikon @sevinf Guys. It's trivial migration. Tests passed. Tell me if we need to fix something else.

[2013-10-30 01:30] qfox commented on #254
Just found one another example. bem-tools@release-1.0.0, bem-pr

$ bem make -v info |grep warn
05:27:57.921 - warn: Cannot find module 'bem/node_modules/q-fs'
05:27:58.009 - warn: Cannot find module 'bem/node_modules/q-fs'
05:27:58.038 - warn: Tech module with path 'title.txt' not found on require search paths
05:27:58.075 - warn: Tech module with path 'title.txt' not found on require search paths

[2013-11-01 22:03] qfox commented on #294
@banzalik I think you talking more about `lint` functionality than `ls`

[2013-11-01 23:06] qfox commented on #317
@arikon Np bro. Let's talk about it ;-) Don't merge it btw. It should be refactored asap.

[2013-11-03 11:29] qfox opened #503 "1.0.0 Trouble with getting BEM from bem-command package"
I've create new command
`volo create bem-ls bem/tpl-bem-command`

Good. But when I'm trying to get variable `BEM` from `coa` (like here: http://joxi.ru/Qpt1Utg5CbByevq8h20), I'm getting undefined (http://joxi.ru/hZt1Utg5CbDGdqE97CM).

What I'm doing wrong?

[2013-11-03 11:40] fi11 opened #504 "bem server trouble with cyrillic on win"
bt-1.0.0 alpha5 На windows проблема с кодировкой кириллицы при запуске bem server, выдает ерунду в место символов кириллицы.

[2013-11-03 14:56] qfox commented on #503
Это проблема в запуске команды из `bem-tools` или решаемо только пробросом в `./lib/coa.js` в https://github.com/bem/tpl-bem-command/blob/master/lib/coa.js ?
Типа так `.apply(require('./ls'), require('../../bem'))`

[2013-11-03 21:19] qfox commented on #477
Повторить получается, но все ожидаемо. Думаю, что никакой магии на скорую руку не сделать.
Вообще, думаю, что пока лучше оставить решение через git, а в будущем (1.1, или дальше) ставить уже через bower, если он приживется.

@arikon @SevInf Если надо что-то допилить — скажите. По мне все ок.

[2013-11-03 21:38] qfox commented on #346
@arikon @SevInf Okay. вырезаю обновление на onSet.
`getEnv` можно переделать на `Q`, но, имхо, проще `app.run` завернуть в `function () { ... }`.
Еще я бы лично, т.к. модуль `env`, заменил бы `getEnv` на `get`, но руковожу проектом не я, поэтому, решайте.

[2013-11-03 22:07] qfox commented on #338
В 1.0.0 это еще актуально?

[2013-11-03 22:17] qfox commented on #270
I think it's resolved in `1.0.0` `make.js` file format

[2013-11-03 22:23] qfox commented on #346
BTW. можно же использовать `process.env`, он поддерживается всем (`spawn`, `exec`, `fork`), и синхронен. Только я не пойму, почему изначально от него отказались?

[2013-11-04 13:25] qfox commented on #243
ATM bower allows installation by branch via bem-components#site

[2013-11-04 13:27] qfox opened #505 "BemBuildNode requires refactoring"
isValid and make methods are too complex and should be splited to smaller ones.
https://github.com/bem/bem-tools/blob/release-1.0.0/lib/nodes/build.js#L75

[2013-11-04 14:50] qfox opened #507 "refactoring of deps.js tech"

[2013-11-04 14:52] qfox commented on #507
pr #506
@arikon @SevInf Guys, I think we need fixes like that for code readability.

[2013-11-04 20:57] qfox opened #508 "Method nodesregistry.getRegistry usage"
[code]

There is no comment about it.

[code]

Is it usable?

[2013-11-08 06:44] arikon commented on #508
@zxqfox It is

[2013-11-08 06:45] arikon commented on #504
Покажите пример. Скорее всего это не кириллица, а разметка цветного вывода.

[2013-11-08 13:10] #508 closed, assigned to nobody

[2013-11-09 06:14] fi11 commented on #504
Например в место слова Контент отображает >=B5=B

[2013-11-11 15:07] qfox commented on #94
@SevInf Issuer resolved for 0.7 & 1.0.

[2013-11-11 15:08] SevInf commented on #94
@zxqfox, thanks, closing this.

[2013-11-11 15:08] #94 closed, assigned to nobody

[2013-11-11 15:14] qfox commented on #477
Thanks.

[2013-11-11 15:14] #477 closed, assigned to nobody

[2013-11-13 08:23] SevInf opened #516 "1.0.0: Always treat API_VER absence as v1 tech"
When fixing #420, for maintaining backward compatibility with 0.6.x, the follwing logic was added:

Its still unsafe and can lead to hard to debug errors.

Proposal: Treat absence of API_VER declaration as V1 even if `baseTechName`/`baseTechPath` present and throw exceptions when versions of base and inherited tech doesn't match.

[2013-11-13 10:30] narqo opened #517 "Проблема с кодировкой в bem-tools >= 0.7.x"
Клонируем [project-stub](https://github.com/bem/project-stub); ставим `bem@0.7.x`; меняем в `bemjson.js`:

[code]

Запускаем bem-server, в браузере видим:

[code]

С bem@0.6.19 все норм

[2013-11-13 13:48] arikon commented on #517
/cc @SevInf @scf2k

[2013-11-16 10:09] fi11 commented on #517
Issue #504

[2013-11-16 18:49] tadatuta commented on #517
Данный баг — это следствие перехода с `q-fs` на `q-io/fs`.

Если на строке https://github.com/bem/bem-tools/blob/support/0.7.x/lib/base-server.js#L5 поменять назад, символы исправляются.

[2013-11-16 18:56] scf2k commented on #517
Мы в курсе :) исправим

[2013-11-20 12:23] tenorok opened #519 "Make не замечает изменений в bemtree-файлах"
Делаю проект: https://github.com/tenorok/dynamic-bem-site/tree/dev

Опишу проблему на примере этого проекта.

[code]

Моя цель: организовать проект так, чтобы можно было запустить один раз `node index.js` и потом просто разрабатываться, а по обновлению страницы пересобирать проект.

При запросе на [http://localhost:3000/](http://localhost:3000/) запускается сборка `make desktop.bundles/index`.

Од

[2013-11-20 12:37] arikon commented on #519
@SevInf @scf2k Помогите разобраться, пожалуйста

[2013-11-21 13:18] scf2k commented on #517
https://github.com/bem/bem-tools/pull/521
https://github.com/bem/bem-tools/pull/522

[2013-11-21 13:18] #517 closed, assigned to nobody

[2013-11-21 13:50] scf2k commented on #519
@tenorok уточни пожалуйста что именно у тебя не пересобирается? Я проверил просто с bem сервером, и файл index.bemtree.js пересобирается при изменениях в page.bemtree.

[2013-11-21 14:57] qfox commented on #519
Это не make
в ветке debug-make
fs.readFileSync(BEMTREEFile, 'utf-8') — не перезагружает файл

[2013-11-21 14:59] tenorok commented on #519
@zxqfox я смотрю сам файл на файловой системе, он не меняется

[2013-11-21 14:59] qfox commented on #519
@tenorok Хотя да, make. Смотрю почему.

[2013-11-21 15:00] tenorok commented on #519
Наверное я что-то не правильно делаю, потому что если перезапустить команду `node index.js` то при первом запросе `bemtree` собирается правильно, а при последующих уже не видит изменений.

[2013-11-21 15:13] qfox commented on #519
не ты один ;-)

[2013-11-21 15:21] qfox commented on #519
Запускаю `node debug index.js` — форк повисает и не дохнет. Приходится руками убивать

[2013-11-21 15:43] qfox commented on #519
bemtree собирается из блоков, я в page/bemtree вставил строку, она не пересобирается, хотя и isValid на бандловом index/bemtree не проходит и запускает пересборку bemtree. Пересборка проходит, данные не меняются.
я так глубоко еще не копал ;-(

[2013-11-21 15:47] qfox commented on #519
[code]

require.cache не спасет
если насильно замувать файл ./desktop.bundles/index/index.bemtree.js — все ок начинает делаться.
можно использовать как временное решение

[2013-11-21 15:51] qfox commented on #519
Хотя, судя по mtime — пересборка не проходит. Файл не перезаписывается по какой-то причине ;-\

@tenorok В `bundle.js` добавь

[code]

[2013-11-21 16:12] qfox commented on #519
@tenorok устроит пока такое решение?

@scf2k Все-таки повторный вызов `make` через api по какой-то причине не пересобирает bemtree ;-(

[2013-11-21 22:10] qfox commented on #507
waiting for pr #518

[2013-11-22 04:28] #177 closed, assigned to narqo

[2013-11-22 08:17] tenorok commented on #519
@zxqfox спасибо большое! Очень выручил!

[2013-11-22 08:29] scf2k commented on #519
@tenorok так зачем ты закрыл? :) Баг то не починили пока.

[2013-11-22 08:31] tenorok commented on #519
@scf2k не знаю, на радостях, что моя проблема решилась :)

[2013-11-22 08:42] scf2k commented on #519
@tenorok если тебя это решение пока устраивает (к демонстрации), то мы займемся починкой попозже.

[2013-11-22 09:12] tenorok commented on #519
Да, мне это решение подходит, спасибо!

[2013-11-22 09:35] tenorok commented on #519
Мне оставить веточку [debug-make](https://github.com/tenorok/dynamic-bem-site/tree/debug-make)? Или можно удалять?

[2013-11-22 09:39] scf2k commented on #519
@tenorok если там затычка для монго то оставь

[2013-11-22 09:52] qfox commented on #519
@scf2k да, там была затычка
@tenorok оставь, да

[2013-11-22 11:43] tenorok commented on #519
По аналогии сделал удаление депсов, CSS и JS: https://github.com/tenorok/dynamic-bem-site/blob/dev/bundle.js#L75

[2013-11-22 11:44] scf2k commented on #519
@tenorok кажется что проще и удобнее было бы запускать bem make через exec

[2013-11-22 12:08] sipayRT opened #523 "Add metadata for bem.info"

[2013-11-22 12:12] #523 closed, assigned to nobody

[2013-11-27 09:51] tenorok commented on #519
Из-за этого бага возникла ещё одна проблема.
Саджест Я.Браузера отправляет запрос при изменении url'а, потом ещё при нажатии ентера отправляется ещё один запрос, получается, что запускается две сборки. И после того, как завершится первая сборка, браузеру отправляется ответ, в этот момент начинается вторая, удаляются собранные css- и js-файлы, и когда страница в браузере сформирована, он получает 4

[2013-11-27 09:54] scf2k commented on #519
@tenorok получится что ты запустишь два процесса сборки через exec. Так?

[2013-11-27 09:55] tenorok commented on #519
@scf2k да, но в этом случае файлы перезатираются автоматически и такой проблемы не возникает.

[2013-11-27 10:29] qfox commented on #519
@scf2k Это же не повод не чинить? Зачем-то этот функционал был выброшен в `exports`? Если по ошибке, то может в `api.make` лучше вставить `throw new Error("use exec ... instead")`?

[2013-11-27 10:31] qfox commented on #519
@tenorok Если руками затираешь, то можно так же руками проверять время модификации и или флаги для файлов в памяти хранить о том, что их сборка в процессе.

[2013-11-27 10:38] qfox commented on #519
@scf2k Вообще, может быть можно костыликов навставлять, чтобы оно не пересобирало лишнее и, зная какие исходные файлы влияют на результат, вычисляло бы, стоит ли делать пересборку? Параллельные сборки через `exec` никак ведь не порулишь элегантно, т.е. это уже не проще, да?

[2013-11-27 14:37] scf2k commented on #519
@tenorok я нашел в чем дело. Уровни кешируются и чтобы подхватывались изменения кеш надо сбрасывать. Это сделано в bem server, смотри тут https://github.com/bem/bem-tools/blob/v0.6.16/lib/base-server.js#L190

[2013-11-27 14:43] tenorok commented on #519
@scf2k в `bem.api` нельзя каким-нибудь способ сказать, что мне нужно очищать кэш? Или это надо сделать по аналогии с бэм-сервером?

[2013-11-27 14:59] scf2k commented on #519
@tenorok

[code]

[2013-11-27 15:30] tenorok commented on #519
@scf2k спасибо большое!
Так и наисал, отлично работает: https://github.com/tenorok/dynamic-bem-site/blob/bemup/bundle.js#L85

Но всё же, я правильно понимаю, что это должно выполняться автоматически при использовании `bem.api`?

[2013-11-27 15:32] qfox commented on #519
@tenorok должно ли автоматически — вопрос, зависящий от env. в `production`, наверное, нет. в `dev`, наверное, да

[2013-11-27 15:34] tenorok commented on #519
@zxqfox в `production` вообще нужен ли `make`? Ведь уже всё собрано заранее.

[2013-11-27 15:35] scf2k commented on #519
@tenorok дело в том, что он всегда вызыватется через api. Просто в твоем случае из внешней программы, а в случае с bem server из кода самой команды bem. Может быть нужно подумать о дополнительных параметрах для bem make, которые заставят сбросить кеш. Или наоборот, подефолтку он будет всегда сбрасываться, а параметром можно будет это отменить.

[2013-11-27 15:37] tenorok commented on #519
@scf2k ага, я понимаю, это и имел ввиду. Issue закрывайте по своему усмотрению. Спасибо за помощь.

[2013-11-27 15:38] qfox commented on #519
@tenorok в идеале — да. идеалом будут в идеале максимум 10-15%. взять тот же `rails` — там сборка по запросу ;-) только недавно появилось rake:build_assets, но не все этим пользуются. людям, которые собирают сайты по фтп сразу на сервере — никогда не объяснить, что есть капистрано или docker ;-)

[2013-11-27 15:39] qfox commented on #519
@tenorok да и всегда есть риск, что что-то забыл собрать. мир не идеален

[2013-11-27 16:05] qfox commented on #519
@scf2k честно говоря, я не уверен, что это нужно фиксить. Но это кеш, и инвалидация кеша была бы полезна.

[2013-11-29 17:28] alukos opened #526 "Сборка падает, если в пути к проекту есть пробел"

[2013-11-29 18:41] qfox commented on #526
или пробел?

[2013-11-29 18:50] tadatuta commented on #526
таки пробел, поправил описание

падает где-то в районе getLibraries:

[code]

[2013-11-29 19:02] qfox commented on #526
http://stackoverflow.com/questions/1779858/how-do-i-escape-a-string-for-a-shell-command-in-nodejs-v8-javascript-engine

[2013-12-05 02:25] abyr opened #528 "Tests from section "bem make" fail"
## Steps to reproduce

run "make test" command in root folder
## Expected result

tests from "bem make" section were passed successfully
## Actual result

error message:

[code]

[seed.js:105](https://github.com/bem/bem-tools/blob/dev/lib/nodes/seed.js#L105)

[code]

this.path is undefined
## Environment:
- OS: Ubuntu 12.04.3 LTS
- node version: v0.10.22
- bem-tool version: dev 9c8401a

[2013-12-05 13:34] arikon commented on #472
Сделаем в `bem-tools@0.7.x`

[2013-12-11 13:36] narqo opened #529 "bem server fails to process request in --socket-only mode"
[code]

[2013-12-11 13:44] scf2k commented on #529
@narqo не получилось повторить, все работает

[2013-12-11 13:49] arikon commented on #529
@scf2k Ты проверял из сорцов или делал `npm install bem`?

[2013-12-12 07:28] arikon commented on #529
@scf2k Вова?

[2013-12-12 08:23] narqo commented on #529
@scf2k @arikon падает при обработке ответа.

Как проверить:

[code]

[2013-12-18 12:49] scf2k commented on #472
Сделано в support/0.7.x и release-1.0.0

[2013-12-18 12:49] #472 closed, assigned to nobody

[2013-12-18 22:12] tadatuta commented on #472
@scf2k выпустишь следующую 0.7 с этими изменениями?

[2013-12-26 17:32] narqo opened #533 "BemCreateNode некорректно резолвит технологию переданную как путь"
Деградация после 301d289cf65febeddab2349b7e5667475aa84ed9.

Если в `BundleNode` для технологии переопределить вызов `BundleNode#setBemCreateNode()` и явно указать путь до технологии:

[code]

bem-tools все равно **всегда** будет использовать технологию, которую он найдет по имени в конфиге уровня, не обращая внимания на заданный путь.

[code]

[2013-12-26 17:40] scf2k commented on #533
Вова, мы откатили изменение потому что оно сломало level-proto. Нужно разобраться почему у тебя работает неправильно при передаче имени.

[2013-12-26 18:30] narqo commented on #533
@scf2k а точно это не баг в `level-proto`? В `BemBuildNode` используется `techPath` (https://github.com/bem/bem-tools/blob/support/0.7.x/lib/nodes/build.js#L163) и оно работает так как я ожидаю.

В `BemCreateNode` сейчас логически неправильно сделано:

1) в конструкторе ты нашел и создал технологию `this.tech` на основе имени и пути!
2) в `make()` ты передал в `bem-create` **только имя технологии

[2013-12-26 18:36] narqo commented on #533
Уточню проблему: сейчас через bem-make **невозможно** сделать

[code]

если на уровне `desktop.bundles` будет задекларирована технология `html` с другим путем:

[code]

[2014-01-09 14:41] ilyar opened #536 "Error 404 for link /lib/tech.js"
Pages:
- http://ru.bem.info/tools/bem/bem-tools/levels/
- http://bem.info/tools/bem/bem-tools/levels/

Error 404 for [lib/tech.js](https://github.com/bem/bem-tools/blob/master/lib/tech.js)

[2014-01-11 00:30] tadatuta opened #539 "Add nodes for browser.js+bemhtml and less"

[2014-01-11 00:33] tadatuta commented on #539
`browser.js+bemhtml` is used in current project stub by default and makes `make.js` even harder then always.
And `LESS` is what a lot of external people want so it'd be great to have it supported out of the box.

[2014-01-11 00:37] tadatuta opened #541 "Add less and roole techs"

[2014-01-11 02:47] tadatuta commented on #536
@dab Дим, поправь, пожалуйста.

[2014-01-15 12:30] narqo opened #543 "Воркер bembuild некорректно редчектит ошибки"
https://github.com/bem/bem-tools/blob/support/0.7.x/lib/nodes/workers/bembuild.js

В случае если в `reject` придет не объект `Error`, а что-то, где нет `.stack`, сборка закончится неразрезолвленным промисом.

Проверить: в bem-components до испраления bem/bem-components#280 допустить ошибку в roole-файле и запустить точечно сборку какого-нибудь roole.css-файла

[2014-01-15 12:32] narqo commented on #543
Еще пример: https://github.com/bem/bem-tools/pull/542#discussion_r8893655 — ошибка которую генерирует roole — это объект, не являющийся наследником `Error`. При этом, чтобы воспроизвести, нужно собирать технологию как форк-технологию

[2014-01-20 16:58] #543 closed, assigned to nobody

[2014-01-23 18:43] tadatuta opened #545 "Add proper reports for roole compilation errors"
Port of https://github.com/bem/bem-components/pull/281

[2014-01-31 16:47] indutny opened #550 "Update uglify-js"
Please update uglify-js to 1.3.5, it contains a fix of bug, critical for xjst output compression.

[2014-01-31 19:17] tadatuta commented on #550
It's already >= 1.3.5 in current `0.6.x` and `0.7.x` versions.

[2014-01-31 19:56] indutny commented on #550
Oh, really? https://github.com/bem/bem-tools/blob/dev/npm-shrinkwrap.json#L94 and https://github.com/bem/bem-tools/blob/dev/npm-shrinkwrap.json#L139

[2014-01-31 20:02] tadatuta commented on #550
`dev` branch is out of date.
take a look at:
https://github.com/bem/bem-tools/tree/support/0.7.x — current stable
https://github.com/bem/bem-tools/tree/support/0.6.x — support
https://github.com/bem/bem-tools/tree/release-1.0.0 — future which possibly never happen

[2014-01-31 20:04] indutny commented on #550
Oh, I see. Would you mind making either `support` or `release` a default branch on github?

[2014-01-31 20:04] #550 closed, assigned to nobody

[2014-02-01 12:03] arikon commented on #550
@indutny Done

[2014-02-01 12:20] indutny commented on #550
Thank you!

[2014-02-20 19:43] apsavin opened #553 "Maximum call stack size exceeded on second make with api"
How to reproduce:
1. clone project stub
2. run node command
3. run bem make
4. run bem make
console output:

[code]

...

[code]

Affected version: 0.7.6
Or, may be, it's my mistake?..

[2014-02-24 16:24] ilyar opened #554 "windows: не верно сдается относительный путь уровня"
Если при создании уровня использовать существующий уровень в качестве прототипа командой:

[code]

то в windows относительный путь создается с обратными слешами в этом случае при использовании нового уровня получаем ошибку.

Воспроизводится в windows для версий `bem@0.7.8` и `bem@1.0.0-alpha6`

[code]

[2014-02-25 19:36] apsavin opened #555 ""RangeError: Maximum call stack size exceeded" on bem create call"
How to reproduce:
1 clone project stub
2 create `.bem/techs/js.js`

[code]

3 add this tech to blocks techs at `.bem/levels/blocks.js`
`'js'            : join(PRJ_TECHS, 'js.js')`
4 run `node` command

[code]

Hint.
with this tech:

[code]

all is ok.

[2014-02-25 20:01] tadatuta commented on #555
@apsavin Если я правильно понимаю, тут происходит циклическая зависимость:

Кастомная технология декларируется под имененем `js` и зависит от `browser.js`.
`browser.js` в свою очередь зависит от `vanilla.js`.
а `vanilla.js` зависит от `js`.

и при попытке это дело выполнить уроборос кусает себя за хвост :)

если дело действительно в этом, то должно быть достаточно кастомную технологию обозвать как

[2014-02-25 20:16] chayn1k opened #556 "Adding styl tech"

[2014-02-25 22:08] krll-k opened #557 "grunt-bem-tools"
А идет какая нибудь разработка в направлении easy посвящения в bem-tools? Если нет, то предлагаю что нибудь попробывать. К примеру я использую grunt в своих проектах, и если бы под него был специальный модуль хоть как то знакомищей с bem-tools, я бы попробовал его. Смущает на самом деле то что приходиться излишни вникать в бэм инструментарий, сильно не пинайте

[2014-02-25 22:31] krll-k commented on #526
Не понимаю кому придет в голову использовать пробелы в путях своего проектах

[2014-02-25 22:50] chayn1k commented on #556
pr https://github.com/bem/bem-tools/pull/558

[2014-02-25 22:56] tadatuta commented on #557
Плагин для `grunt` мог бы внутри себя вызывать `bem make`, но это вряд ли помогло бы разобраться с `bem-tools`, а только добавило бы лишний слой.

Я бы рекомендовал пойти таким путем:
1. Клонировать project-stub: http://github.com/bem/project-stub
В нем сборка уже заранее настроена, после установки зависимостей (`npm i && ./node_modules/.bin/bem make`) остается либо запускать `./node_modules/.bin/

[2014-02-25 23:00] #556 closed, assigned to nobody

[2014-02-26 04:22] apsavin commented on #555
Точно. Подумал, что это связано с #553 и не разобрался до конца.

Не стоит ли сделать особую ошибку под это дело? Цепочка технологий может быть достаточно велика, а по "Maximum call stack size..." не всякий сразу догадается.)

[2014-02-26 08:15] tadatuta commented on #555
cc @arikon @scf2k

[2014-02-26 12:00] awinogradov opened #559 "Не тянется в зависимость модификатор елемента"
Имею блок breadcrumbs, а в нем элемент item. Этот самый item имеет модификатор active.

breadcrumbs.deps.js:

[code]

css для модификатора не вытягивается в bundle.

[2014-02-27 23:41] tadatuta commented on #559
@verybigman а какую версию `bem-tools` используешь?
можешь еще добавить в описание вывод `ls -R breadcrumbs`

и попробуй на всякий еще такой вариант

[code]

[2014-02-28 11:56] awinogradov commented on #559
Версия 0.7.8

Вывод:

[code]

Предложенный вариант помог, спасибо!

[2014-02-28 11:56] #559 closed, assigned to nobody

[2014-03-02 21:40] ilyar commented on #557
@krll-tk  есть `grunt` плагин [grunt-bem](https://github.com/eprev/grunt-bem)  — давно не обновлялся и форк  от @verybigman [grunt-bem-revised](https://github.com/verybigman/grunt-bem-revised)  — активно развивается, есть  Yeoman генератор проекта [generator-bem](https://github.com/verybigman/generator-bem)  и проект [bem-example](https://github.com/verybigman/bem-example) демонстрирующий возможно

[2014-03-03 09:30] ilyar commented on #324
:+1:

[2014-03-03 11:59] ilyar opened #562 "Предложение в 0.7.х: конфигурация уровня по умолчанию в корневой .bem"
Предложение добавить в 0.7.х поведение по умолчанию для конфигурации  уровня переопределения, если в папки уровня нет `.bem` берем из корневой папки `.bem`.

[2014-03-04 06:40] awinogradov commented on #562
@ilyar может проще использовать 1.0.0? Там не используется директория .bem на уровне

[2014-03-04 06:46] awinogradov opened #563 "Медленная сборка тeхнологии less.js"
Попытка собрать блок, примерно с таким видом:

[code]

Приводит к зависанию во время make. Причем завершить процесс обычным способом не выходит.

Проблема решается предварительной компиляцией таких блоков, но решение так себе.

[2014-03-04 06:59] awinogradov commented on #562
@ilyar если ты в версии 0.7.x не будешь создавать директорию .bem на уровне, а в levels/bundles.js пропишешь собираемые уровни, то ничего не упадет и соберется нормально. Ты увидишь только warning в консоли.

[2014-03-04 08:16] ilyar commented on #562
@verybigman Согласен, можно, например об этом пишет @varya [Бложик на bem tools 1.0.0alpha](http://varya.me/ru/issues/bem-tools-1.0.0-alpha/), но со слов @tadatuta  [релиза bem-tools@v1.0.0 пока в планах нет](http://clubs.ya.ru/bem/replies.xml?parent_id=4891&item_no=4840&with_parent=1#reply-bem-4891) и поэтому эта фича добавит психологического комфорта в 0.7.х

Хорошо, что ничего не падет, если в

[2014-03-04 11:41] awinogradov commented on #563
Я был не прав. Все она понимает. Только при использовании переменных и миксинов, время на сборку увеличивается в сотни раз. Причины не известны. Теже самые блоки компилируются через less отлично. Но в сборке все зависает на срок пропорциональный количеству переменных и миксинов.

[2014-03-04 14:43] tadatuta commented on #563
cc @scf2k @arikon

[2014-03-06 00:36] ilyar commented on #563
Попробуй закомментировать:

[code]

если я правильно понял то borschik это поймет, пример импорта `less` тут https://github.com/ilyar/bem-highlight.js/tree/support/setuplib/blocks/highlight

[2014-03-06 06:16] awinogradov commented on #563
@ilyar у тебя там импорт css в less. C этим никаких проблем не было. В общем-то проблем с импортом и нет. Проблема с тем, что компиляция миксинов и переменных во время сборки борщиком происходит крайне долго и работать в дев режиме не возможно. Если не использовать миксины и перенные, то все ок) Но тогда незачем юзать и less.

[2014-03-06 06:59] ilyar commented on #563
Понял, а вот [LESS перемененные и миксины](https://github.com/ilyar/bem_less_test/commit/5af7bed77598cb679fa8c3198263d0191ae29845).

[2014-03-06 07:01] awinogradov commented on #563
Попробуй их умножить на 100 и вынести на отдельный уровень. Затем подключить через deps.js. Получишь мою проблему :)

[2014-03-06 07:55] ilyar commented on #563
попробую, сейчас попробовал [добавить normalize из Bootstrap](https://github.com/ilyar/bem_less_test/commit/94494dd71f0db63953e9a9fe1575fe8de7b264f0) — работает.

[2014-03-06 09:07] awinogradov commented on #563
Потому что это форк [normalize.css](https://github.com/necolas/normalize.css) и никаких переменных и миксинов там нет. Загляни [внутрь](https://github.com/twbs/bootstrap/blob/master/less/normalize.less).

[2014-03-06 09:25] ilyar commented on #563
я это понимаю, вот [добавил переменные и миксины](https://github.com/ilyar/bem_less_test/commit/6bb8d3504fc3bacd27b6225a5be0f81038b77adf), проблема есть, сборка не завершается вероятно соберется, но надо подождать.

[2014-03-07 15:40] corpix commented on #529
+1 наткнулся на эти же грабли сегодня

UPD:
bem@0.7.8

[2014-03-12 20:55] ilyar commented on #562
директория `.bem`  помогает понять `bem create` какую сущбность представляет из себя папка и это позволяет не указывать уровень при создании блока:

[code]

это просто удобно и хорошо если `.bem` будет резолвится подобно тому как `npm` резолвит `node_modules`

[2014-03-12 21:51] tadatuta commented on #562
@ilyar `.bem/level.js` в корне описывает уровень всего проекта, поэтому его использовать точно нельзя.

@arikon, есть ли какие-то противопоказания к тому, чтобы считать `.bem/levels/bundles.js` местом, где bem-tools будет пытаться найти конфиг для уровня бандлов, если он не обнаружен в папке бандла?

[2014-03-12 22:30] ilyar commented on #562
- в корневом `.bem/level.js` может быть уровень или указание на то что уровни в корневой папке `.bem/levels`
- в `.bem/make.js` переопределены шаблоны `blocksLevelsRegexp` и `bundlesLevelsRegexp` или используются по умолчанию
- `bem create` при отсутствии в текущей папке `.bem` по шаблону из 'make.js' определяет сущность текущей папки в зависимости от типа сущности берем из `.bem`, который находим

[2014-03-13 04:55] arikon commented on #562
@tadatuta bem-tools сейчас не умеет отличать уровни бандлов от уровней блоков. Но можно подумать над тем, чтобы научить. То есть там, где bem-tools ожидает уровень, по имени (`*.bundles`) искать `.bem/levels/bundles.js` можно.

Но тогда эту схему нужно задокументировать явно как соглашение, на которое bem-tools опирается.

[2014-03-13 07:55] ilyar commented on #562
@arikon скажи bem-tools сейчас не умеет отличать уровни бандлов, почему он не может опираться на

[code]

[2014-03-13 12:27] qfox commented on #562
Плизики, давайте не будем разделять понятия уровней блоков и бандлов. Это усложняет базовую структуру и по большому счету не имеет особого смысла.
Все, что нужно сделать, это в мейк-файле, или на в самом уровне — в `.bem/somewhat.js`, сделать конфиг со всеми желаемыми расширениями.
Но без явного выделения в коде этих уровней, что блоки, что бандлы — все едино.

[2014-03-13 14:12] ilyar commented on #562
@zxqfox я всего лишь предлагаю поведение по умолчанию, когда в папке уровня нет `.bem`

[2014-03-16 01:04] qfox commented on #562
@ilyar ну так или иначе blocks/bundlesLevelsRegexp — это хардкодом пахнет, это должно описываться более тонко на уровне инструкций файлов сборки. Сейчас, естественно, такой возможности нет и поэтому есть эти параметры. Но в будущем это должно решаться совсем иначе.
Т.е. если это решает какую-то локальную задачу здесь и сейчас — то ок, мб и есть смысл сделать так, как ты предлагаешь. Но в будущих в

[2014-03-16 01:08] qfox commented on #562
@ilyar Арикон, кстати, про это же самое говорил, что оно не умеет, но если его учить, то надо документировать и на базе этого строить остальное. Но, имхо, можно и без этого обойтись, поскольку явных отличий между библиотеками блоков и бандлов нет, обе «собираются» (фактически, собираются файлы в папках во что-то еще), обе состоят из «блоков», в которых лежат какие-то файлы-«технологии» (на базе ко

[2014-03-16 01:12] qfox commented on #562
@ilyar Другими словами, лично я предложение поддерживаю, но blocksLevelsRegexp и bundlesLevelsRegexp — нет. Последние надо вырезать asap в след версиях.

[2014-03-16 18:03] ilyar commented on #562
предложение решает задачу не размазывать конфигурацию, еще инструмент должен упрощать кодинг и если уровень описан где то, то ни к чему создавать папку и файл для отсылки на это описание.

Явных отличий между библиотеками блоков и бандлов нет, есть технологии по умолчанию которые файлы которых создадутся при создании новой сущности на уровне.

Сейчас для определение уровня есть blocksLevelsRegexp

[2014-03-16 18:03] #562 closed, assigned to nobody

[2014-03-21 13:33] ilyar opened #568 "bem-tools 8.x and bower"
@arikon
В bem-tools@1.0.0 библиотеки ставятся вспомогательным пакетом bower-npm-install, чем мотивированно такое решение? и если выделять установку библиотек необходимо, почему бы не выделить в подкоманду bem-tools кторая будет использовать bower api?

В bem-tools 7.x доступна возможность расширять cтандартный набор команд можно при помощи модулей подкоманд?

В bem-tools 7.x готов к использованию

[2014-03-21 14:21] ilyar commented on #568
@arikon
Есть в планах использовать вместо `libs` паку `bower_components` по умолчанию?  Сейчас наблюдаю в проектах где используется `bower-npm-install` переопределение папки `bower` через `.bowerrc`, а также есть обратная возможность переопределить `libs` в описании уровня или сборки `environ = require('bem-environ')({ libDir: 'bower_components' })`, но в этом случае появляются варнинги `Tech modu

[2014-03-22 23:27] tadatuta commented on #568
потенциально применение `bower-npm-instal` не ограничивается только предметной областью bem.

да.

какую задачу это решит?

[2014-03-23 02:52] ilyar commented on #568
Спасибо за ответы.

Я не против `libs`, просто хочу понять в какой папке консистентность и какое значение название папки билиотек, плюс задавал этот вопрос в.проекте [generator-bem](https://github.com/verybigman/generator-bem), есть мнение что сообщество за `bower_components`.

// cc @verybigman @tadatuta

[2014-03-23 03:07] ilyar commented on #568
Потенциальное применение bower-npm-install мне понятно, но разве не консистентно, оставить тулзам возможность устанавливать либы, как это сейчас происходит запустили `bem server`  и при запросе либы встали.

bower-npm-install вполне может быть самостоятельным пакетом который входит в зависимость `bem-tools` или его подкоманду, и при этом не появляется необходимость знать про `bower-npm-install`, н

[2014-04-01 15:54] tormozz48 opened #570 "Proper error report"
Right now when there's an error in `getLevelClass` in https://github.com/bem/bem-tools/blob/support/0.7.x/lib/level.js#L23 there's no way to read real error message so for example then it's EMFILE (too many open files) you just get irrelevant message '.bem/level.js can not be found'.

// cc @arikon

[2014-04-07 03:51] #536 closed, assigned to nobody

[2014-04-09 06:42] ilyar commented on #563
Как то неожиданно вопрос закрыт...

@verybigman Антон, в чем была проблема?

[2014-04-09 07:56] awinogradov commented on #563
Не решена проблема :) Я не закрывал. Это автоматом.

[2014-04-10 13:09] codexp commented on #553
I have the same issue with bem v0.7.9
node.js v0.10.24

[2014-04-10 14:12] tadatuta commented on #553
please provide more details, I do the same with
node -v
v0.10.25

npm -v
1.3.24

bem -v
0.8.0

bem/project-stub@95caf434b23324e50c7f18b5665884597e4fbcc7

and it works fine for me.

[2014-04-10 18:47] codexp commented on #553
works for me with bem v0.8.0 on another machine too, will try to upgrade the other one with this issue.

[2014-04-10 18:51] apsavin commented on #553
Thanks, all is ok. I think, we can close this issue.

[2014-04-10 18:51] #553 closed, assigned to nobody

[2014-04-10 19:53] tadatuta commented on #553
there was no any changes relative to `bem make` process for quite a long time so i don't think it's something fixed with update of `bem-tools`. so it'd be great to figure out the problem.

[2014-04-10 20:15] qfox commented on #553
Probably the problem was with unsupported dependent packages versions. Probably global packages or something.

[2014-04-10 21:06] qfox commented on #553
@tadatuta Version 0.8 is on enb already?

[2014-04-10 21:06] codexp commented on #553
who knows, I just upgraded to bem v0.8.0 and it's gone.
(I could not figure out the version of project stub)

[2014-04-10 21:10] tadatuta commented on #553
@zxqfox nope. as I said we postponed integration because of the absence of necessary API.

[2014-04-11 04:22] apsavin commented on #553
I don't sure, but It seems for me, that problem was with project-stub configuration. Early, libraries were specified in Arch class. As result, as I understand, all levels of all libraries were participating in build process and it caused the problem.

[2014-04-11 11:20] tadatuta commented on #553
@apsavin thanks, will try to reproduce with previous configuration

[2014-04-11 20:33] 4ok opened #571 "При сборке с технологией less происходит замена в файле, которая ломает сборку"
Столкнулся с этим при сборке с библиотекой https://github.com/csshat/lesshat, там есть инструкции вида  (isurl(@process)) и при выполнении bem make эта конструкция заменяется на след.: (isurl("../../common.blocks/some-block/@process)"). Видимо неверно составлено регулярное выражение по замене url, которое не учитывает такие ситуации.

Как жить?

[2014-04-11 20:55] qfox commented on #571
Писать багфикс и делать PR ;-)
Судя по всему, регулярка типа `/url\((.*)/` виновата.
https://github.com/bem/borschik/blob/master/lib/techs/css.js#L5 — здесь чтоли?

[2014-04-11 21:18] tadatuta commented on #571
Closed in favor of https://github.com/bem/borschik/issues/59

[2014-04-11 21:18] #571 closed, assigned to nobody

[2014-04-15 12:08] dkushnikov opened #572 "Ошибка в методе scanMod level.js"
https://github.com/bem/bem-tools/blob/support/0.8.x/lib/level.js#L1194-L1207
Непонятно, зачем сканировать директорию на наличие suffix'а, если у нее его скорее всего нет. В результате в обработку попадает невалидный item.

https://github.com/bem/bem-tools/blob/support/0.8.x/lib/level.js#L1212
Опять же, из за того, что неверно определяется наличие суффикса у директории - неправильно определяется it

[2014-04-15 12:11] qfox commented on #572
Сюрприз ;-)

[2014-04-15 12:16] mz28k commented on #572
У директории может быть суффикс. Например когда реализация модификатора в технологии, подразумевающей несколько файлов. Тогда у директории будет суффикс технологии, а внутри нее будут лежать файлы в том виде, с которым технология работает.

[2014-04-17 13:09] 4ok opened #573 "bem make verbosity"
Про выполнении команды bem make -v error почему-то выдает варнинги:

17:03:14.205 - warn: Level at /**_/libs/bem-blocks/desktop.blocks is not a directory
17:03:14.208 - warn: Level at /**_/common.blocks is not a directory
17:03:14.210 - warn: Level at /**_/desktop.bundles/index/blocks is not a directory
17:03:14.212 - warn: Level at /**_/libs/bem-blocks/desktop.blocks is not a directory
17:03:14.2

[2014-04-17 13:14] 4ok opened #574 "Обновите версию борщика до 1.0.3"
Не могу нормально работать с less

[2014-04-18 01:53] qfox commented on #573
Это проблема в пробросе VERBOSE внутрь воркеров, старая проблема, я с ней тоже сталкивался.

[2014-04-18 10:59] 4ok commented on #573
Сложно поправить? может не пробрасывать, а записать в переменную процесса?

[2014-04-18 11:23] qfox commented on #573
так в том и дело, что процессы разные

[2014-04-18 17:47] ilyar commented on #574
[code]

Зависимость не жесткая должно помочь:  `npm update`

Как есть проблемы с less?

[2014-04-21 11:15] 4ok commented on #574
Да все нормально вроде, пропустил что не жесткая зависимость

[2014-04-23 11:27] 4ok commented on #574
Нет, все же ставится версия 1.0.1

[2014-04-23 11:37] ilyar commented on #574
5 дней назад, когда писал коммент, проверял обновлялось до актуальной версии.
Сейчас хотел проверить на чистом `project-stub` зависимости не ставятся...

Где именно проблема не ясно, сейчас нет возможности уделить этому внимание, но уверен в том что с указанием зависимости `borschik` все в порядке.

[2014-04-23 11:47] ilyar commented on #574
Ок, проблема "зависимости не ставятся..." была локальная.

Действительно, в только что склонированном `project-stub` ставится `borschik@1.0.1`, но если сделать `npm update` обновляется до `borschik@1.0.4`

[2014-04-23 14:26] tadatuta commented on #574
все верно, дело в https://github.com/bem/bem-tools/blob/support/0.8.x/npm-shrinkwrap.json

на днях выпущу `0.8.1`.

[2014-04-23 14:27] ilyar commented on #574
:+1:

[2014-04-25 10:55] ilyar commented on #568
UPD, вопрос актуален для 8.x @tadatuta

[2014-04-25 10:59] ilyar opened #575 "bem-tools 8.x and Creating subcommands"
There are plans to add the support for adding subcommands?

http://bem.info/tools/bem/bem-tools/creating-subcommands/

// cc @tadatuta

[2014-04-25 11:00] qfox commented on #568
@ilyar мне `bower_components` нравится меньше, чем `libs`, но мне в принципе `bower` не очень нравится, как менеджер пакетов. это mho ;-)

[2014-04-25 11:05] awinogradov commented on #568
Логично использовать bower_components, если вы используете Bower. Это и привычнее тем кто юзал его раньше и теперь собирается попробовать стек БЭМ, а в нем оказывается по необъяснимым причинам надо хранить пакеты в libs, причем как бэм-библиотеки, так и сторонние. Сейчас, кстати, если использовать bower_components насильно, переписав в environ, то это приводит к ошибке, во время make не находятся

[2014-04-25 11:21] ilyar commented on #568
Ответ относительно `.bower_components` мне ясен и я за `libs`, еще можно добавить что преопределение `libs` чревато поломкой сборки, есть президенты http://clubs.ya.ru/bem/5115 вариантом решения может быть http://ru.bem.info/articles/borschik/#динамический-url

Актуально вот что:

[2014-04-25 11:22] qfox commented on #568
@ilyar @verybigman :+1: В данном случае (и вообще во всяких генераторах и стабах) лучше использовать как можно меньше разных настроек. В т.ч. и `bower_components` не стоит переопределять.

[2014-04-25 14:04] tadatuta commented on #575
not sure we'll be able to add such support in 8.x but we can add new commands into the core if they are commonly useful.
e.g. we think about adding `bem rm` command, etc.
if you have any ideas of what to add, we can discuss it here.

[2014-04-25 15:20] tadatuta commented on #568
пока короткое и не завязанное на пакетный менеджер `libs` нравится больше, чем `bower_components`, ведь библиотеки могут поставляться на проект разными способами.

по поводу включения вызова `bower-npm-install` в `bem make` тоже не уверен — это как минимум вызывает задержку на _каждый_ рефреш при использовании `bem server`.
@ilyar точно ли это проблема, при наличии https://github.com/bem/project-s

[2014-04-25 15:30] ilyar commented on #568
Спасибо за ответы.

[2014-04-25 15:30] #568 closed, assigned to nobody

[2014-04-25 22:54] 4ok opened #576 ".borschik конфиг для api в виде параметра"
Хотелось бы использовать .borschik не как файлик, а json в виде параметра для api. Дело в том, что для разработки используется один конфиг, а для сборки другой. Делать симлинки как сейчас мне кажется не правильным решением. Что скажете?

[2014-04-26 02:27] tadatuta commented on #576
Issue стоит перенести в https://github.com/bem/borschik/issues/

[2014-04-26 12:31] 4ok commented on #576
https://github.com/bem/borschik/issues/63

[2014-04-26 12:31] #576 closed, assigned to nobody

[2014-04-26 21:41] #545 closed, assigned to nobody

[2014-04-26 22:33] tadatuta commented on #574
https://github.com/bem/bem-tools/releases/tag/v0.8.1

[2014-04-26 22:33] #574 closed, assigned to nobody

[2014-04-27 21:51] 4ok commented on #574
Cool

[2014-05-12 18:12] #541 closed, assigned to tadatuta

[2014-07-02 21:45] tadatuta opened #581 "Use tech-name.css for all preprocessors techs"

[2014-07-15 16:01] #575 closed, assigned to nobody

[2014-08-21 05:50] floatdrop commented on #401
Please move this logic to external module and standartize it. I find some places very confusing (including this one).

[2014-08-21 06:17] floatdrop commented on #401
Also this ~~should~~ could be done like that:

[code]

And definatly not be included in deps standard.

[2014-08-22 19:36] veged commented on #401
@floatdrop doesn't agree with `.map()` variant — such verbose stuff :-/

[2014-08-22 19:56] qfox commented on #401
@veged There is another variant with arrows.

[code]

But `elem` and `elems` names confusing when one of them canceling block dep itself. That's strange idea to rename elem to elems ;-\

Can I suggest that you want to cancel including block itself by default and deprecate `elem` property? In other way that's very confusing thing.

[2014-08-22 20:11] veged commented on #401
@zxqfox I'm not gonna discuss about arrows ;-) sorry ;-)

speakings about confusing — there is some because of just small letter `s` (not a lot for difference and many inattentive people often do not notice it) but in general logic it's pretty simple to understand and remember:
- `{ block: 'b1', elems: ['e1', 'e2'] }` — you declare block with child elementS (many declarations in one object)
- `{ b

[2014-08-22 20:24] qfox commented on #401
Yes, but actually that's not clear:

I'm not sure but probably if just freeze naming pattern for internal uses (if we need it) we can use just these:
- `'b1'` - block
- `'b1__e1'` element of block
- `'b1_m_v'` - mod of block (still without block)
- `'b1__e1_m_v'` - mod of element (without block/element)
- `{ block: 'b1', elem: 'e1' }` // context without dependencies, should throw error
- `{ block:

[2014-09-21 14:37] mightymamont opened #586 "Feedback for "Команды""
Предложенный набор команд не работает/ не работает корректно.
Начиная с команды
bem create level --level bem-bl/blocks-desktop blocks
вываливаются ошибки.

К слову, совершенно не понятно, каким образом можно установить каталог по-умолчанию

[2014-09-21 17:03] qfox commented on #586
Well, лучше сделать вопрос на форум в формате что хотелось бы, что есть сейчас, почему лучше, и обсудим всем селом, как можно улучшить эти команды.

[2014-09-22 12:52] mightymamont commented on #586
На мой взгляд это ошибка тестирования документации. БЭМ с нуля не поставить, по крайней мере под виндой :-(

[2014-09-22 13:38] dab commented on #586
Под виндой  удобно разрабатывать в виртуальной машине.
Есть подготовленный конфиг для быстрого запуска виртуального сервера со всеми необходимыми инструментами — https://github.com/dab/bemup-workshop-vagrant
Нужно будет установить git — http://msysgit.github.io
ssh-клиент, например http://www.putty.org
Продолжение https://github.com/dab/bemup-workshop-vagrant/blob/master/README.ru.md

[2014-09-22 15:30] qfox commented on #586
@mightymamont под виндой есть ряд труднорешаемых проблем, но это скорее проблемы не самих команд, а платформы в целом. Поэтому мне и не понятно, что именно сломано ;-\

[2014-10-04 15:51] apsavin opened #587 "live reload for bem server"
#326 was not merged, but live reload is must-have... Any plans?

[2014-10-14 12:50] gela-d opened #590 "Incorrect link in documentation"
https://github.com/bem/bem-tools/blame/dev/docs/tech-modules/tech-modules.ru.md#L809

[2014-10-14 12:50] gela-d commented on #590
/cc @Murdalay

[2014-11-06 13:40] qfox commented on #401
@floatdrop @veged Is this abandoned?

[2014-11-06 13:44] floatdrop commented on #401
@zxqfox maybe.

[2015-01-25 14:05] tadatuta commented on #587
@apsavin [BrowserSync](http://www.browsersync.io/) works just great: `browser-sync start --files 'desktop.blocks/*/*' --proxy localhost:8080`

[2015-01-25 14:05] #587 closed, assigned to nobody

[2015-01-26 06:18] awinogradov commented on #587
Also you can use any file watcher for build execution on files change

[2015-02-21 21:41] apsavin commented on #563
Я вижу, проблема здесь так и не решена, а между тем вполне себе актуальна, по крайней мере у меня воспроизводится при использовании stylus. Как я понимаю, все плохо при использовании любых препроцессоров. Решается, если перестать обрабатывать импорты борщиком в `borschik/lib/techs/css.js`. Соответственно, обработку импортов в таком случае должен брать на себя препроцессор. Я написал свою технологи

[2015-02-21 22:08] tadatuta commented on #563
@apsavin я не погружался, но если проблема на стороне `borschik`, то должна быть актуальна и для `ENB`.
верно ли я понимаю из обсуждения, что если отдать борщику файл с импортами, в которых используются переменные, то он начинает дико тормозить? вообще звучит странновато и кроме как в этом треде, нигде больше про нее не слышал.
буду признателен за минимальный тест-кейс.

[2015-02-22 07:31] apsavin commented on #563
@tadatuta я сейчас попробую разобраться, в чем там конкретно проблема.

[2015-02-22 07:55] apsavin commented on #563
@tadatuta Я не уверен, но похоже, что это [ReDoS](https://www.owasp.org/index.php/Regular_expression_Denial_of_Service_-_ReDoS).

Как воспроизвести:
1. Создать какой-нибудь bem-проект, думаю, подойдет project-stub с использованием v2/styl
2. установить через bower bootstrap-stylus
3. создать файл your-block.styl в desktop.blocks с контентом `@import "../../libs/bootstrap-stylus/bootstrap/variables

[2015-02-22 08:03] apsavin commented on #563
Я не думаю, что это проблема borschik. Это bem-tools технологию css использует внутри css-preprocessor. А не должна, я думаю, потому что с препроцессорами все сложнее. Например, в stylus есть require, который никак сейчас не обрабатывается никем.

[2015-02-22 12:32] tadatuta commented on #563
@apsavin
Я скорее за то, чтобы сделать `borschik-tech-stylus`, в которой поправить [регексп комментариев](https://github.com/bem/borschik/blob/master/lib/techs/css.js#L7) (именно здесь вешается парсинг) и добавить обработку стайлусовских `require`.

Для истории минимальный тест-кейс: `borschik -i libs/bootstrap-stylus/bootstrap/variables.styl -o test.css -t css`

[2015-02-22 19:16] apsavin commented on #563
@tadatuta Согласен с таким решением. Тогда надо и borschik-tech-less добавлять, судя по обсуждению в начале топика. Заведешь ишью в борщик?

[2015-02-22 19:24] tadatuta commented on #563
@apsavin насколько я понял, @doochik для каждой такой технологии заводит отдельные репозитории и, соответственно, npm-пакеты, так что не очень понятно, куда issue заводить.

Лёша, подскажи, пожалуйста.

[2015-03-02 19:43] apsavin commented on #563
@doochik ау) На митапы ходить время есть у него))

[2015-03-12 13:49] #132 closed, assigned to nobody

[2015-03-14 17:00] tadatuta commented on #563
**Вроде бы** вот такой дифф лечит зависания, но поручиться, что с ним ничего не взорвется в каких-то внезапных местах я не возьмусь :(

[code]

[2015-03-14 20:30] apsavin commented on #563
@tadatuta А удалось у Леши выяснить, как это правильно нынче оформлять в технологию для борщика? Давай попробуем довести до конца это дело вместе, раз ты уже тоже начал эту технологию ковырять.

[2015-03-14 20:57] arikon commented on #563
@tadatuta А что за инлайновые комменты `//` в css?

[2015-03-14 20:59] apsavin commented on #563
@arikon это @tadatuta подхачил технологию css для того, чтобы работал stylus, в котором есть инлайновые `//` комменты.

[2015-03-14 21:00] arikon commented on #563
@apsavin Ок =)

[2015-03-14 21:02] apsavin commented on #563
@arikon почитай чуть выше, мы обсуждали, что для stylus и less нужны отдельные технологии для борщика, с которыми будут работать и enb и bem-tools.

[2015-03-16 18:40] doochik commented on #563
@tadatuta заводить отдельный плагин точно надо. Не в репе борщика. Могу помочь со stylus (я его использую), если есть заготовка. С less тоже могу, но это будет хуже, т.к. я его не использую и поддерживать будет тяжело.

Если что, то у нас в сборке stylus и borschik разделены. Borschik работает после stylus и делает фриз+сжатие

[2015-03-16 18:47] tadatuta commented on #563
@doochik вы разворачиваете импорты (и `require`) с помощью стайлусовского резолвера?
он же через раз ломается :(

[2015-03-16 18:49] doochik commented on #563
@tadatuta у нас вроде все ок, ну и @kizu рядом же сидит )

[2015-03-16 18:57] kizu commented on #563
@tadatuta Как говорится, feel free to report любые случаи, когда резолвер ломается, будем чинить, чо.

[2015-03-16 19:29] tadatuta commented on #563
@kizu во внутренней переписке был репорт про `url(#)`, ты там ответил

Я с тех пор сделал для себя вывод, что это официальная рекомендация.

[2015-03-16 20:47] kizu commented on #563
`url(#)` как раз в феврале зафиксили (точнее, раньше, но зарелизили только в феврале). Использовать Борщик — это как ответ на конкретную ситуацию, когда такие урлы не работали. В идеальном мире — лучше использовать одну тулзу, но если что-то в стайлусе не работает, то надо репортить и использовать обходные пути. «Через раз ломается» — что-то ещё было, кроме урлов с хешами?

[2015-03-16 21:23] qfox commented on #563
Осталось понять, этот фикс для less можно ли портировать...

У нас на проекте много лесса и, похоже, какое-то время мы будем жить именно с ним, так что мне с ним так и так маяться. Только не уверен, когда начну активно это делать ;-)

[2015-03-16 21:26] tadatuta commented on #563
@kizu из того, что я помню, какое-то время назад не было поддержки урлов без кавычек и взрывались бекграунды в base64.

[2015-03-16 22:38] blond commented on #563
@kizu, основная проблема, из-за которой нужно использовать постпроцессоры или борщик, кроется в сочетании `resolve-url` и `include-css`.

**Пример:**

_Файловая система_

[code]

`lib.css`

[code]

`block.styl`

[code]

`bundle.css`

[code]

Собираем `bundle.css`. В результате получаем:

[code]

Но, ожидаем получить:

[code]

[2015-03-19 04:40] qfox commented on #563
@andrewblond На мой взгляд эта проблема полностью решается пост-процессорами (в т.ч. борщиком), если импортированное заворачивать в комменты с указанием пути (полного, или относительно корня проекта — не суть важно).

Но, кажется, что в борщике это и делается в каком-то виде.

[2015-03-19 07:39] blond commented on #563
@zxqfox, конечно же эта проблема решается :) Но это много лишних действий, которые приходится делать, а можно было бы не делать, если бы работало из коробки.